<template>
  <div class="hello">
    <div style="width:100%;height: 40px;">
      <div style="float:right;">
        <span>
          <input
            class="clean-slide"
            id="height"
            type="text"
            placeholder="TP Point"
            @focus="$event.target.select()"
            v-model="pt_point"
            disabled
          >
          <label for="height">Height</label>
        </span>
      </div>
    </div>
    <div class="centered-container">
      <!-- <div class="top">
          
        </div>
        <div class="down">
           
      </div>-->
      <div class="form">
        <h2>แบบประเมินพนักงาน</h2>

        <form>
          <div class="group">
            <input
              type="text"
              list="branch"
              v-model="branch"
              @change="onChange()"
              @focus="$event.target.select()"
              required
            >
            <datalist id="branch">
              <option
                v-for="(uni,index) in branchlist"
                :key="index"
                :value="uni.branch_no"
              >{{uni.branch_no}} {{uni.branch_name}}</option>

            </datalist>

            <span class="highlight"></span>
            <span class="bar"></span>
            <label>เลือกสาขา</label>
          </div>
          <div class="group">
            <input
              type="text"
              list="browsers"
              v-model="department"
              @change="onChange2()"
              @focus="$event.target.select()"
              required
            >
            <datalist id="browsers">
              <option
                v-for="(uni,index) in departmentlist"
                :key="index"
                :value="uni.department"
              >{{uni.department}}</option>
            </datalist>

            <span class="highlight"></span>
            <span class="bar"></span>
            <label>แผนกสังกัด</label>
          </div>

          <div class="group">
            <input
              type="text"
              list="salelist"
              v-model="salecode"
              required
              @change="handleChange($event)"
              @focus="$event.target.select()"
            >
            <datalist id="salelist">
              <option
                v-for="(uni,index) in salecodelist"
                :key="index"
                :value="uni.employee_code"
                :data-customvalue="uni.employee_name"
                :labels="uni.employee_name"
              >{{uni.employee_code}} {{uni.employee_name}}</option>
            </datalist>
            <span class="highlight"></span>
            <span class="bar"></span>
            <label>รหัสพนักงานผู้ประเมิน</label>
          </div>

          <div class="group">
            <div class="col-md-12 col-12">
              <div class="form-group row">
                <vue-ctk-date-time-picker
                  label="วันที่ประเมิน"
                  locale="th"
                  format="YYYY-MM-DD"
                  v-model="date"
                  :disable-time="true"
                ></vue-ctk-date-time-picker>
              </div>
            </div>
          </div>
          <div style="width:100%;float:right;">
            <md-button
              class="md-raised md-primary"
              style="float: right;margin: 0;"
              @click="ranking()"
            >ตกลง</md-button>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
import Vue from "vue";
import Datepicker from "vuejs-datepicker";
import Loading from "vue-loading-overlay";
import "vue-loading-overlay/dist/vue-loading.css";
import { mapState } from "vuex";
import api from "../../service/service.js";
import VueCtkDateTimePicker from "vue-ctk-date-time-picker";
import "vue-ctk-date-time-picker/dist/vue-ctk-date-time-picker.min.css";
export default {
  components: {
    Datepicker,
    VueCtkDateTimePicker
  },
  data () {
    return {
      departmentlist: [],
      department: "",
      branch: "",
      salecodelist: [],
      salecode: '',
      pt_point: JSON.parse(sessionStorage.setting)[0].point_kpi,
      // assessor: {
      //   assessor_code: 0,
      //   assessor_name: ""
      // },

      date: new Date().toISOString().substr(0, 10),
      branchlist: [
        {
          branch_no: "S01",
          branch_name: ""
        },
        {
          branch_no: "S02",
          branch_name: ""
        }
      ]
    };
  },
  computed: {
    ...mapState(["kpi"])
  },
  // watch: {
  //   salecode: function(val) {
  //     if (val == "0" || val == 0) {
  //       this.findDepartment();
  //     }
  //   },
  //   department: function(val) {
  //     if (val == "" || val == "") {
  //       console.log("หาemployee");
  //       this.fincEmployee();
  //     }
  //   }
  // },
  methods: {
    onChange (val) {
      this.findDepartmentByBranch()
    },
    onChange2 (val) {
      this.findSaleCodeDepartmentV2()
    },
    checkdep () {
      if (this.salecodelist.length < 0) {
        this.fincEmployee();
      }
    },
    callsetting () {
      delete sessionStorage.setting;
      let payload = {
        branch_id: parseInt(sessionStorage.branch_id),
        company_id: parseInt(sessionStorage.company_id)
      };
      api.callsetting(
        payload,
        result => {
          sessionStorage.setting = JSON.stringify(result.data);
        },
        error => {
          console.log(JSON.stringify(error));
        }
      );
    },
    fincEmployee () {
      console.log(1);
      api.findEmployeeCode(
        result => {
          this.salecodelist = result.data;
        },
        error => {
          console.log(error);
          alertify.error("Data ข้อมูลผิดพลาด2");
          //  alertify.success('Error login');
          // this.cload()
        }
      );
    },
    findDepartment () {
      api.findDepartment(
        result => {
          console.log(result);
          this.departmentlist = result.data;
        },
        error => {
          console.log(error);
          alertify.error("Data ข้อมูลผิดพลาด1");
          //  alertify.success('Error login');
          // this.cload()
        }
      );
    },
    handleChange (e) {
      // let ass = this.finditem(this.salecodelist, e.target.value);
      // this.assessor.assessor_name = ass.employee_name;
      // this.assessor.assessor_code = ass.employee_code;
      // console.log(this.assessor);
    },
    ranking () {
      if (
        this.department == "" ||
        this.date == "" ||
        this.salecode == 0 ||
        this.pt_point == 0 ||
        this.branch == ""
      ) {
        return;
      }
      this.$store.state.kpi.Branch = this.branch
      this.$store.state.kpi.SaleCode = parseInt(this.salecode);
      this.$store.state.kpi.Department = this.department;
      this.$store.state.kpi.Datetime = this.date;
      this.$store.state.kpi.PTPoint = this.pt_point;
      // this.$store.state.kpi.Assessor = this.assessor;
      // console.log(this.$store.state.kpi.Assessor);
      this.$router.push({ name: "kpirank" });
    },
    finditem (array, item) {
      console.log(item);
      for (var i in array) {
        for (var j in array[i]) {
          if (array[i][j] == item) {
            return array[i];
          }
        }
      }
    },
    findDepartmentByBranch () {
      let payload = {
        branch: this.branch
      };
      console.log(payload)
      api.findDepartmentV2(
        payload,
        result => {
          this.departmentlist = result.data;
        },
        error => {
          console.log(JSON.stringify(error));
          alertify.error("ข้อมูล สินค้าเกิดข้อผิดพลาด");
        }
      );
    },
    findSaleCodeDepartmentV2 () {
      let payload = {
        branch: this.branch,
        department: this.department
      };

      api.findSaleCodeDepartment(
        payload,
        result => {
          this.salecodelist = result.data;
        },
        error => {
          console.log(JSON.stringify(error));
          alertify.error("ข้อมูล สินค้าเกิดข้อผิดพลาด");
        }
      );
    },
    findSaleCodeDepartment () {
      let payload = {
        department: this.department
      };

      api.findSaleCodeDepartment(
        payload,
        result => {
          this.salecodelist = result.data;
        },
        error => {
          console.log(JSON.stringify(error));
          alertify.error("ข้อมูล สินค้าเกิดข้อผิดพลาด");
        }
      );
    }
  },
  mounted () {
    this.callsetting();
 
  }
};
</script>


<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
.form-control[readonly] {
  text-align: left !important;
}
.ctk-date-time-picker .field.has-value .field-input {
  border-width: 0px;
  border-style: initial;
  border-image: initial;
  box-shadow: rgba(32, 33, 36, 0.28) 0px 1px 0px;
  width: 300px;
  padding-top: 14px;
}
.form-control:disabled {
  text-align: left !important;
}

h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
.clean-slide {
  position: relative;
  display: inline-block;
  width: 215px;
  padding: 10px 0 10px 15px;
  font-family: "Open Sans", sans;
  font-weight: 400;
  color: #e7f0ed;
  background: #375f4b;
  border: 0;
  border-radius: 3px;
  outline: 0;
  text-indent: 60px; // Arbitrary.
  transition: all 0.3s ease-in-out;

  &::-webkit-input-placeholder {
    color: #efefef;
    text-indent: 0;
    font-weight: 300;
  }

  + label {
    display: inline-block;
    position: absolute;
    transform: translateX(0);
    top: 0;
    left: 0;
    bottom: 0;
    padding: 13px 15px;
    font-size: 11px;
    font-weight: 700;
    text-transform: uppercase;
    color: #032429;
    text-align: left;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
    transition: all 0.3s ease-in-out, color 0.3s ease-out;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    overflow: hidden;

    &:after {
      content: "";
      position: absolute;
      top: 0;
      right: 100%;
      bottom: 0;
      width: 100%;
      background: #7ab893;
      z-index: -1;
      transform: translate(0);
      transition: all 0.3s ease-in-out;
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px;
    }
  }
}
.clean-slide:focus,
.clean-slide:active {
  color: #377d6a;
  text-indent: 0;
  background: #fff;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;

  &::-webkit-input-placeholder {
    color: #aaa;
  }
  + label {
    color: #fff;
    text-shadow: 0 1px 0 rgba(19, 74, 70, 0.4);
    transform: translateX(-100%);

    &:after {
      transform: translate(100%);
    }
  }
}
.centered-container {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  position: relative !important;

  height: 85vh !important;
  .title {
    text-align: center !important;
    margin-bottom: 30px !important;
    img {
      margin-bottom: 16px !important;
      max-width: 200px !important;
    }
  }
  .actions {
    .md-button {
      margin: 0 !important;
    }
  }
}
.form {
  width: 50%;
  -webkit-box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
  box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
  border-radius: 2px;
  height: 500px;
  font-size: 100%;
  margin: 30px auto 0;
  display: block;
  background: #fff;
  padding: 10px 50px 50px;
  margin-top: 0px;
  .top {
    width: 100%;
    float: left;
    height: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    .logo {
      width: 50%;

      padding-left: 10%;
      float: left;
    }
    .action {
      padding-left: 10%;
      width: 50%;
      float: left;
    }
    .title {
      color: #202124;
      padding-bottom: 0;
      padding-top: 16px;
      font-family: "Google Sans", "Noto Sans Myanmar UI", arial, sans-serif;
      font-size: 24px;
      font-weight: 400;
      line-height: 1.3333;
      margin-bottom: 0;
      margin-top: 0;
    }
  }
  .down {
    width: 100%;
    float: left;
    // background-color: #44c7f4;
    height: 40%;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    position: relative !important;
    .logo {
      padding-left: 10%;

      width: 50%;
      float: left;
    }
    .action {
      padding-left: 10%;
      width: 50%;
      float: left;
    }
  }
  .contener {
    width: 100%;
    margin: 0 auto;
  }
}

.button {
  display: inline-block;
  padding: 1em 3.2em;
  box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
  border-radius: 1.6em;
  color: #fff;
  font-size: 18px;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
}
.button01 {
  background-color: rgba(252, 28, 143, 1);
  box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
}

@media (max-width: 977px) {
  .md-icon.md-size-5x {
    width: 50px;
    min-width: 50px;
    height: 50px;
    font-size: 50px !important;
  }
  .form {
    background-color: #fff;
    width: 100%;
    -webkit-box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
    box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
    border-radius: 2px;
    height: 550px;
    font-size: 100%;
    margin-top: 0px;
    display: block;
    background: #fff;
    padding: 0px;
    margin-top: 0px;
    .top {
      width: 100%;
      float: left;
      height: 40%;
      display: flex;
      align-items: center;
      justify-content: center;
      .logo {
        width: 100%;

        padding-left: 10%;
        float: none;
      }
      .action {
        padding-left: 10%;
        width: 100%;
        float: none;
      }
      .title {
        color: #202124;
        padding-bottom: 0;
        padding-top: 16px;
        font-family: "Google Sans", "Noto Sans Myanmar UI", arial, sans-serif;
        font-size: 24px;
        font-weight: 400;
        line-height: 1.3333;
        margin-bottom: 0;
        margin-top: 0;
      }
    }
    .down {
      width: 100%;
      float: left;
      // background-color: #44c7f4;
      height: 40%;
      display: flex !important;
      align-items: center !important;
      justify-content: center !important;
      position: relative !important;
      .logo {
        padding-left: 10%;

        width: 100%;
        float: none;
      }
      .action {
        padding-left: 10%;
        width: 100%;
        float: none;
      }
    }
    .contener {
      width: 100%;
      margin: 0 auto;
    }
  }
}

/* basic stylings ------------------------------------------ */
body {
  background: url(https://scotch.io/wp-content/uploads/2014/07/61.jpg);
}
.container {
  font-family: "Roboto";
  width: 600px;
  margin: 30px auto 0;
  display: block;
  background: #fff;
  padding: 10px 50px 50px;
}
h2 {
  text-align: center;
  margin-bottom: 50px;
}
h2 small {
  font-weight: normal;
  color: #888;
  display: block;
}
.footer {
  text-align: center;
}
.footer a {
  color: #53b2c8;
}

/* form starting stylings ------------------------------- */
.group {
  position: relative;
  margin-bottom: 45px;
}
input {
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 60%;
  border: none;
  border-bottom: 1px solid #757575;
}
input:focus {
  outline: none;
}

/* LABEL ======================================= */
label {
  color: #999;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

/* active state */
input:focus ~ label,
input:valid ~ label {
  top: -20px;
  font-size: 14px;
  color: #5264ae;
}

/* BOTTOM BARS ================================= */
.bar {
  position: relative;
  display: block;
  width: 300px;
}
.bar:before,
.bar:after {
  content: "";
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: #5264ae;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}
.bar:before {
  left: 50%;
}
.bar:after {
  right: 50%;
}

/* active state */
input:focus ~ .bar:before,
input:focus ~ .bar:after {
  width: 50%;
}

/* HIGHLIGHTER ================================== */
.highlight {
  position: absolute;
  height: 60%;
  width: 100px;
  top: 25%;
  left: 0;
  pointer-events: none;
  opacity: 0.5;
}

/* active state */
input:focus ~ .highlight {
  -webkit-animation: inputHighlighter 0.3s ease;
  -moz-animation: inputHighlighter 0.3s ease;
  animation: inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
  from {
    background: #5264ae;
  }
  to {
    width: 0;
    background: transparent;
  }
}
@-moz-keyframes inputHighlighter {
  from {
    background: #5264ae;
  }
  to {
    width: 0;
    background: transparent;
  }
}
@keyframes inputHighlighter {
  from {
    background: #5264ae;
  }
  to {
    width: 0;
    background: transparent;
  }
}
</style>
