<template>
  <div>
    <div class="from">
      <div class="content">
        <div class="headfrom">
          <div class="headLabel">
            <div class="headtitle">
              <h3>ตารางพนักงาน</h3>
            </div>
          </div>
        </div>
        <div class="content-body">
          <table
            class="kpi-datatable"
            style="display: table;min-height: 500px;"
          >
            <thead class="kpitablehead">
              <tr class="kpitable-row">
                <th>ชื่อ</th>
                <th>ระดับ</th>
              </tr>
            </thead>
            <tbody
              class="kpitablehead"
              v-for="(val,index) in listranking"
              :key="index"
            >
              <tr class="kpitable-row">
                <td>{{val.employee_name }}</td>
                <td class="colors">
                  <input
                    list="browsers"
                    :disabled="!val.read"
                    style="text-align:right;float: left;padding-right:10px;"
                    @change="onChange($event,val,index)"
                    onfocus="this.value=''"
                    v-model="val.rank"
                  >
                  <datalist id="browsers">
                    <option
                      v-for="(uni,index) in rank"
                      :key="index"
                      :value="uni"
                    >{{uni.department}}</option>
                  </datalist>
                  <div
                    class="closex"
                    :class="{ hidde:val.read}"
                    @click="deletes(val)"
                  >x</div>
                </td>
              </tr>
            </tbody>
          </table>
          <div style="width:100%;">
            <md-button
              class="md-raised md-primary"
              style="float: left;margin: 0;"
              @click="back()"
            >กลับ</md-button>
            <md-button
              class="md-raised md-primary"
              style="float: right;margin: 0;"
              @click="confirm()"
            >ตกลง</md-button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>


<script>
import Swal from "sweetalert2";
import Vue from "vue";
import { mapState } from "vuex";
import api from "../../service/service.js";
export default {
  data () {
    return {
      listranking: [],
      rank: [],
      ranks: {
        id: ""
      },
      assessor: {
        assessor_code: 0,
        assessor_name: ""
      }
    };
  },
  computed: {
    ...mapState(["kpi"])
  },
  methods: {
    confirm () {
      if (this.checkpoint(this.listranking)) {
        Swal.fire({
          title: "ข้อความแสดงการยืนยัน?",
          text: "ต้องการบันทักข้อมูล ?",
          type: "warning",
          showCancelButton: true,
          confirmButtonColor: "#3085d6",
          cancelButtonColor: "#d33",
          confirmButtonText: "บันทึก",
          cancelButtonText: "ยกเลิก"
        }).then(result => {
          if (result.value) {
            this.insert();
          }
        });
      } else {
        Swal.fire("กรุณาประเมินให้ครบ");
      }
    },
    insert () {
      let payload = {
        Assessor_code: this.assessor.assessor_code, // this.$store.state.kpi.Assessor.assessor_code,
        Assessor_Name: this.assessor.assessor_name, //this.$store.state.kpi.Assessor.assessor_name,
        Assessor_branch: this.$store.state.kpi.Branch,
        Docdate_Assessment: this.$store.state.kpi.Datetime,
        Department: this.$store.state.kpi.Department,
        Assessdata: this.listranking
      };
      console.log(payload)
      api.CreateKpiRankingV2(
        payload,
        result => {
          Swal.fire(
            "บันทึกข้อมูลการประเมินแผนก " +
            result.data.department +
            " เรียบร้อย"
          );
          this.$router.push({ name: "kpi" });
        },
        error => {
          Swal.fire({ text: "" + error, type: "error" });
        }
      );
    },
    onChange (e, val, index) {
      console.log(this.listranking);
      if (!this.checkarray(this.listranking, e.target.value, index)) {
        val.rank = " ";
        Swal.fire("ระดับที่: " + e.target.value + " มีการประเมินแล้ว");
        return;
      }
      var index = this.rank.indexOf(parseInt(e.target.value));
      if (index > -1) {
        this.rank.splice(index, 1);
        var index1 = this.listranking.indexOf(val);
        if (index1 > -1) {
          let ds = this.listranking[index1];
          ds.read = !this.listranking[index1].read;
          ds.point = this.Formula(
            this.$store.state.kpi.PTPoint,
            this.listranking.length,
            parseInt(e.target.value)
          );
          this.listranking.splice(index1, 1, ds);
        }
      } else {
        Swal.fire("กรุณาใส่ ค่าระดับ ตามจำนวนของพนักงาน");
      }

      console.log(this.rank);
    },
    back () {
      this.$store.state.kpi.SaleCode == 0;
      this.$store.state.kpi.Department == "";
      this.$store.state.kpi.Datetime == "";
      this.$store.state.kpi.PTPoint == 0;

      this.$router.push({ name: "kpi" });
    },
    Formula (pt, n, r) {
      let rank = pt - ((pt / n) * r);
      return parseFloat(rank.toFixed(2));
    },
    findSaleCodeDepartment () {
      if (
        this.$store.state.kpi.SaleCode == 0 ||
        this.$store.state.kpi.Department == "" ||
        this.$store.state.kpi.Datetime == "" ||
        this.$store.state.kpi.PTPoint == 0
      ) {
        this.$router.push({ name: "kpi" });
        return;
      }
      let payload = {
        branch: this.$store.state.kpi.Branch,
        department: this.$store.state.kpi.Department
      };
      api.findSaleCodeDepartmentV2(
        payload,
        result => {
          this.listranking = result.data;
          console.log(this.listranking);
          for (let i in this.listranking) {
            this.listranking[i].read = true;
            this.listranking[i].rank = "";
            this.listranking[i].point = 0;
          }
          console.log(this.listranking);

          this.removeItem(this.listranking, this.$store.state.kpi.SaleCode);
          console.log(this.listranking);
          console.log(this.rank);
          for (let i = 1; i <= this.listranking.length; i++) {
            this.rank.push(i);
          }

          console.log(this.rank);
        },
        error => {
          console.log(JSON.stringify(error));
          alertify.error("ข้อมูล สินค้าเกิดข้อผิดพลาด");
        }
      );
    },
    checkarray (array, item, index) {
      for (var i in array) {
        if (array[i].rank == item && i != index) {
          console.log(array[i], item, i);
          return false;
        }
      }
      return true;
    },
    checkpoint (array) {
      for (var i in array) {
        if (array[i].rank == "") {
          return false;
        }
      }
      return true;
    },
    removeItem (array, item) {
      for (var i in array) {
        for (var j in array[i]) {
          if (array[i][j] == item) {
            this.assessor.assessor_code = array[i].employee_code;
            this.assessor.assessor_name = array[i].employee_name;
            console.log(i, array[i]);
            return array.splice(i, 1);
          }
        }
      }
    },
    deletes (val) {
      console.log(val);
      this.rank.push(parseInt(val.rank));
      this.rank.sort();
      val.rank = "";
      val.read = !val.read;
      val.point = 0;
    }
  },
  mounted () {
    this.findSaleCodeDepartment();
  }
};
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
.closex {
  width: 5%;
  float: left;
  text-align: center;
  cursor: pointer;
  border-radius: 5%;
  font-weight: 800;
}
.closex:hover {
  background: #fff;
  color: #000;
}
.closex:active {
  background: rgb(158, 154, 154);
  box-shadow: 0 1px 6px 0 rgba(240, 240, 240, 0.28);
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
.hidde {
  display: none;
}
.from {
  height: 90vh;
  width: 100%;
  .content {
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-shadow: 0px 0px 13px 0px rgba(82, 63, 105, 0.05);
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);

    background-color: #ffffff;
    margin-bottom: 20px;
    border-radius: 4px;
    .headfrom {
      transition: left 0.3s, right 0.3s, height 0.3s;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: stretch;
      -ms-flex-align: stretch;
      align-items: stretch;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      position: relative;
      padding: 0 25px;
      border-bottom: 1px solid #ebedf2;
      min-height: 60px;
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
      .headLabel {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-line-pack: flex-first;
        align-content: flex-first;
        .headtitle {
          margin: 0;
          padding: 0;
          font-size: 1.2rem;
          font-weight: 500;
          color: #464457;
        }
      }
    }
    .content-body {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      padding: 30px;
      border-radius: 4px;
      .kpi-datatable {
        border-collapse: collapse;
        overflow: hidden;
        display: none;
        width: 50%;
        box-shadow: 0px 0px 13px 0px rgba(82, 63, 105, 0.05);

        .kpitablehead {
          visibility: visible;
          display: block;
          position: relative;
          .kpitable-row {
            border-bottom: 1px solid #f0f3ff;

            width: 100%;
            display: table;
            table-layout: initial;
            th {
              width: 50%;

              padding: 16px 10px;
              font-size: 18px;
            }
            td {
              input {
                width: 95%;
              }
              width: 50%;
              padding: 10px 10px;
              font-size: 14px;
            }
            .colors {
              background: #464457;
              color: #fff;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 977px) {
  .from {
    .content {
      .content-body {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        padding: 30px;
        border-radius: 4px;
        .kpi-datatable {
          border-collapse: collapse;
          overflow: hidden;
          display: none;
          width: 80%;
          .kpitablehead {
            visibility: visible;
            display: block;
            position: relative;
            .kpitable-row {
              border-bottom: 1px solid #f0f3ff;

              width: 100%;
              display: table;
              table-layout: initial;
              th {
                width: 50%;

                padding: 16px 10px;
                font-size: 18px;
              }
              td {
                width: 50%;
                padding: 10px 10px;
                font-size: 14px;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 500px) {
  .from {
    .content {
      .content-body {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        padding: 5px;
        border-radius: 4px;
        .kpi-datatable {
          border-collapse: collapse;
          overflow: hidden;
          display: none;
          width: 100%;
          .kpitablehead {
            visibility: visible;
            display: block;
            position: relative;
            .kpitable-row {
              border-bottom: 1px solid #f0f3ff;

              width: 100%;
              display: table;
              table-layout: initial;
              th {
                width: 50%;

                padding: 16px 10px;
                font-size: 18px;
              }
              td {
                width: 50%;
                padding: 10px 10px;
                font-size: 14px;
              }
            }
          }
        }
      }
    }
  }
}
</style>
 
