<template>
  <div>
    <div class="from">
      <div class="content">
        <div class="headfrom">
          <div class="headLabel">
            <div class="headtitle">
              <h3>ตารางพนักงาน</h3>
            </div>
          </div>
          <div class="headLabel">
            <div class="headtitle">
              <div style="float:right;">
                <select
                  v-model="Type"
                  @change="handleChange()"
                >
                  <option value="">เลือกสาขา</option>
                  <option value="S01">S01</option>
                  <option value="S02">S02</option>
                  <option value="ALL">ทั้งหมด</option>
                </select>
              </div>
            </div>
            <div class="headtitle">
              <div style="float:right;">
                <select
                  v-model="Times"
                  @change="handleChange()"
                >

                  <option value="1">ครั้ง ที่ 1</option>
                  <option value="2">ทั้ง 2ครั้ง</option>

                </select>
              </div>
            </div>
          </div>
        </div>
        <div class="content-body">
          <table
            class="kpi-datatable"
            style="display: table;min-height: 500px;"
          >
            <thead class="kpitablehead">
              <tr class="kpitable-row">
                <th class="th">แผนก</th>
                <th  class="th">จำนวนการประเมิน</th>
                <th  class="th">จำนวนคนที่ไม่ได้ประเมิน</th>
              </tr>
            </thead>
            <tbody
              class="kpitablehead"
              v-for="(val,index) in listkpi"
              :key="index"
            >
              <tr class="kpitable-row" @click="edit(index)">
                <td class="td">{{val.department }} ({{val.profit_center }}) </td>
                <td class="td">{{val.count_assessed }} ครั้ง</td>
                <td class="td">{{val.not_assessed }} คน</td>
              </tr>
              <tr v-if="val.list_employee.length > 0&&val.open" class="kpitable-rows">
                <td  rowspan="2"> 
                    <div class="content-body2" style="    margin-left: 60px;">
                  <table
                    class="kpi-datatable"
                    style="display: table"
                  >
                    <thead class="kpitablehead">
                      <tr class="kpitable-row">
                        <th class="td">ชื่อ</th>
                        <th class="td">รหัสพนักงาน</th>
                        <th class="td">จำนวนการประเมิน</th>
                      </tr>
                    </thead>
                    <tbody
                      class="kpitablehead"
                      v-for="(val,index) in val.list_employee"
                      :key="index"
                    >
                      <tr class="kpitable-row">
                        <td class="td">{{val.employee_name }}   </td>
                        <td class="td">{{val.employee_code }} </td>
                        <td class="td">{{val.count }} ครั้ง</td>
                      </tr>
                    </tbody>
                  </table>
                    </div>
                </td>
              </tr>
            </tbody>
          </table>
          <!-- <div style="width:100%;">
            <md-button
              class="md-raised md-primary"
              style="float: left;margin: 0;"
            >กลับ</md-button>
            <md-button
              class="md-raised md-primary"
              style="float: right;margin: 0;"
            >กลับ</md-button>
          </div> -->
        </div>
      </div>
    </div>
  </div>
</template>


<script>
import Swal from "sweetalert2";
import Vue from "vue";
import { mapState } from "vuex";
import api from "../../service/service.js";
export default {
  data () {
    return {
      listkpi: [],
      Times: 2,
      Type: "ALL",
    };
  },
  computed: {

  },
  methods: {
        edit (index) {
      let ds = this.listkpi[index]
      ds.open = !this.listkpi[index].open
      this.listkpi.splice(index, 1, ds)
    },
    handleChange () {
      this.findListKpi()
      // let ass = this.finditem(this.salecodelist, e.target.value);
      // this.assessor.assessor_name = ass.employee_name;
      // this.assessor.assessor_code = ass.employee_code;
      // console.log(this.assessor);
    },
    findListKpi () {
      let payload = {
        times: parseInt(this.Times, 10),
        type: this.Type
      }
      console.log(payload)
      api.FindKpilist(
        payload,
        result => {
          for (let i in result.data) {
            result.data[i].open = false
          }
          this.listkpi = result.data

          console.log(this.listkpi)
        },
        error => {
          console.log(JSON.stringify(error));
          alertify.error("ข้อมูล สินค้าเกิดข้อผิดพลาด");
        }
      );
    }
  },
  mounted () {
    this.findListKpi();
  }
};
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
.closex {
  width: 5%;
  float: left;
  text-align: center;
  cursor: pointer;
  border-radius: 5%;
  font-weight: 800;
}
.closex:hover {
  background: #fff;
  color: #000;
}
.closex:active {
  background: rgb(158, 154, 154);
  box-shadow: 0 1px 6px 0 rgba(240, 240, 240, 0.28);
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
.hidde {
  display: none;
}
.from {
  height: 90vh;
  width: 100%;
  .content {
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    // -webkit-box-shadow: 0px 0px 13px 0px rgba(82, 63, 105, 0.05);
    // box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);

    background-color: #ffffff;
    margin-bottom: 20px;
    border-radius: 4px;
    .headfrom {
      transition: left 0.3s, right 0.3s, height 0.3s;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: stretch;
      -ms-flex-align: stretch;
      align-items: stretch;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      position: relative;
      padding: 0 25px;
      border-bottom: 1px solid #ebedf2;
      min-height: 60px;
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
      .headLabel {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-line-pack: flex-first;
        align-content: flex-first;
        .headtitle {
          margin: 0;
          padding: 0;
          font-size: 1.2rem;
          font-weight: 500;
          color: #464457;
        }
      }
    }
    .content-body {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      padding: 30px;
      width: 100%;
      border-radius: 4px;
      margin: 0 auto;
      .kpi-datatable {
        border-collapse: collapse;
        overflow: hidden;
        display: none;
        width: 100%;
        box-shadow: 0px 0px 13px 0px rgba(82, 63, 105, 0.05);

        .kpitablehead {
          visibility: visible;
          display: block;
          position: relative;
          .kpitable-rows {
            border-bottom: 1px solid #f0f3ff;
            cursor: pointer;
            width: 100%;
            display: table;
            table-layout: initial;
            .th {
              width: 30%;

              padding: 16px 10px;
              font-size: 18px;
            }
            .td {
              input {
                width: 95%;
              }
              width: 30%;
              padding: 10px 10px;
              font-size: 14px;
            }
            .colors {
              background: #464457;
              color: #fff;
            }
          }
          .kpitable-row {
            border-bottom: 1px solid #f0f3ff;
            cursor: pointer;
            width: 100%;
            display: table;
            table-layout: initial;
            .th {
              width: 30%;

              padding: 16px 10px;
              font-size: 18px;
            }
            .td {
              input {
                width: 95%;
              }
              width: 30%;
              padding: 10px 10px;
              font-size: 14px;
            }
            .colors {
              background: #464457;
              color: #fff;
            }
          }
          .kpitable-row:hover {
                background-color: #464457;
            }
        }
      }
    }
  }
}

@media (max-width: 977px) {
  .from {
    .content {
      .content-body {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        padding: 0px;
        border-radius: 4px;
        .kpi-datatable {
          border-collapse: collapse;
          overflow: hidden;
          display: none;
          width: 100%;
          .kpitablehead {
            visibility: visible;
            display: block;
            position: relative;
             .kpitable-rows {
            border-bottom: 1px solid #f0f3ff;
            cursor: pointer;
            width: 100%;
            display: table;
            table-layout: initial;
            .th {
              width: 30%;

              padding: 16px 10px;
              font-size: 18px;
            }
            .td {
              input {
                width: 95%;
              }
              width: 30%;
              padding: 10px 10px;
              font-size: 14px;
            }
            .colors {
              background: #464457;
              color: #fff;
            }
          }
            .kpitable-row {
              border-bottom: 1px solid #f0f3ff;
cursor: pointer;
              width: 100%;
              display: table;
              table-layout: initial;
              .th {
                width: 30%;

                padding: 16px 10px;
                font-size: 18px;
              }
              .td {
                width: 30%;
                padding: 10px 10px;
                font-size: 14px;
              }
            }
            .kpitable-row:hover {
                background-color: #464457;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 500px) {
  .from {
    .content {
      .content-body {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        padding: 0px;
        border-radius: 4px;
        .kpi-datatable {
          border-collapse: collapse;
          overflow: hidden;
          display: none;
          width: 100%;
          .kpitablehead {
            visibility: visible;
            display: block;
            position: relative;
             .kpitable-rows {
            border-bottom: 1px solid #f0f3ff;
            cursor: pointer;
            width: 100%;
            display: table;
            table-layout: initial;
            .th {
              width: 30%;

              padding: 16px 10px;
              font-size: 18px;
            }
            .td {
              input {
                width: 95%;
              }
              width: 30%;
              padding: 10px 10px;
              font-size: 14px;
            }
            .colors {
              background: #464457;
              color: #fff;
            }
          }
            .kpitable-row {
              border-bottom: 1px solid #f0f3ff;
cursor: pointer;
              width: 100%;
              display: table;
              table-layout: initial;
              .th {
                width: 33%;

                padding: 16px 10px;
                font-size: 18px;
              }
              
              .td {
                width: 33%;
                padding: 10px 10px;
                font-size: 14px;
              }
            }
            .kpitable-row:hover {
                background-color: #464457;
            }
          }
          
        }
      }
    }
  }
}
</style>
 
