<template>
  <div>
    <div class="full">
      <div>
        <span>รายงานการขายประจำวัน</span>
      </div>
      <div class="header">
        <div style="float:right;padding:10px;">
          <select @change="handleChange($event)">
            <option value="0">แสดงตามหัวเอกสาร</option>
            <option value="1">แสดงตามรายการสินค้า</option>

          </select>
        </div>
        <div style="float:left;">
          <vue-rangedate-picker
            @selected="onDateSelected"
            i18n='EN'
            compact="mobile"
            @change="events($event)"
          ></vue-rangedate-picker>
        </div>

      </div>
      <!-- <div>
        <div
          class="boxsummary"
          style="float:left"
        >
          <div style="width:100%">ยอดขาย</div>

          <div style="width:100%;clear:both;text-align:center;">{{convertToBaht(total_sum_total_amount)}}</div>

        </div>
        <div
          class="boxsummary"
          style="float:left"
        >
          <div style="width:100%">ต้นทุน</div>

          <div style="width:100%;clear:both;text-align:center;">{{convertToBaht(total_sum_of_cost)}}</div>

        </div>
        <div style="clear:both"></div>
      </div> -->
      <div class="table">
        <div class="content-body">
          <table
            class="kpi-datatable"
            style="display: table;width:100%;"
          >
            <thead class="kpitablehead">
              <tr class="kpitable-row">
                <th>ลำดับ</th>
                <th
                  v-for="(u,i) in field"
                  :key="i"
                >{{u.title}}</th>
              </tr>
            </thead>
            <tbody
              class="kpitablehead"
              v-for="(val,index) in sale_list"
              :key="index"
            >
              <tr class="kpitable-row">
                <td>{{index+1}}</td>
                <td
                  v-for="(u,i) in field"
                  :key="i"
                  :class="{ textfloat:u.type == 'float'}"
                >{{formatBath(val[u.code],u)}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

    </div>
  </div>
</template>

<script>
import VueRangedatePicker from '../../model/datetimepicker/datetimepicker'
import api from "../../../service/service.js";
const n = new Date()
import Vue from "vue";
export default {
  data () {
    return {
      report_sale: [],
      total_sum_of_cost: 0,
      total_sum_total_amount: 0,
      indeterminate: false,
      sale_list: [],
      limit: 20,
      show: "list-sale",
      initRange: {
        start: this.getDatteToday(),
        end: this.getDatteToday()
      },
      field: [],
      field_report_doc: [{ title: "หมายเลขเอกสาร", code: "doc_no", type: "string" },
      { title: "ผู้ชื้อ", code: "ar_name", type: "string" },
      { title: "พนักงานขาย", code: "sale_name", type: "string" },
      { title: "ยอดสุทธิ", code: "number_of_item", type: "string" },
      { title: "ภาษีมูลค่าเพิ่ม", code: "tax_amount", type: "float" },
      { title: "จำนวนเงิน", code: "total_amount", type: "float" },
      { title: "ชำระด้วย", code: "cash_type", type: "string" }
      ],
      field_report_item: [{ title: "รหัสสินค้า", code: "item_code", type: "string" },
      { title: "ชื่อสินค้า", code: "item_name", type: "string" },
      { title: "จำนวน", code: "sum_qty", type: "int" },
      { title: "ราคาต่อชิ้น", code: "item_price", type: "float" },
      { title: "รวม", code: "amount", type: "float" },
      { title: "ราคาต้นทุน", code: "average_cost", type: "float" },
      { title: "รวมต้นทุน", code: "sum_of_cost", type: "float" }
      ]
    };
  },
  components: { VueRangedatePicker },
  computed: {},
  methods: {
    formatBath (val, u) {
      if (u.type == "float") {
        val = parseFloat(val);
        var result = val.toFixed(2).replace(/\B(?=(\d{3})+(?!\d))/g, ",");
        return result;
      } else {
        return val
      }

    },
    convertToBaht (val) {
      // eslint-disable-next-line no-undef
      var result = val.toFixed(2).replace(/\B(?=(\d{3})+(?!\d))/g, ",");
      return result;
    },
    getDatteToday () {
      let current_datetime = new Date();
      let formatted_date =
        + current_datetime.getFullYear() +
        "-" +
        (current_datetime.getMonth() + 1) +
        "-" +
        current_datetime.getDate();

      return formatted_date;
    },
    timeConverter (UNIX_timestamp) {

      var timestamp = UNIX_timestamp; // replace your timestamp
      var date = new Date(timestamp);
      var formattedDate = date.getFullYear() + '-' + ('0' + (date.getMonth() + 1)).slice(-2) + '-' + ('0' + date.getDate()).slice(-2);
      console.log(formattedDate);
      return formattedDate;
    },
    onDateSelected: function (daterange) {
      if (daterange.end == null) {
        daterange.end = daterange.start;
      }
      console.log(daterange)
      this.initRange.start = this.timeConverter(daterange.start)
      this.initRange.end = this.timeConverter(daterange.end)
      if (this.show == "list-sale") {
        this.showListSale()
      } else {
        this.showListitemSale()
      }

    },
    handleChange (e) {
      console.log(e.target.value)
      if (e.target.value == 0) {
        this.show = "list-sale"
        this.showListSale()
      } else {
        this.show = "list-item"
        this.showListitemSale()
      }
    },
    showListSale () {
      this.indeterminate = true;
      this.field = []
      this.field = this.field_report_doc
      this.sale_list = []
      let payload = {
        start_date: this.initRange.start,
        end_date: this.initRange.end,
        limit: -1
      }
      console.log(payload)
      api.FindReportSalePos9(
        payload,
        result => {
          if (result.response == "success") {
            this.indeterminate = false;
            for (let i in result.data.sale_list) {
              result.data.sale_list[i].open = false
              // result.data.sale_list[i].len = result.data.sale_list[i].sub.length
            }
            console.log(result.data)

            this.report_sale = result.data;
            this.sale_list = result.data.sale_list;
            this.total_sum_of_cost = result.data.all_cost;
            this.total_sum_total_amount = result.data.all_sale;


          } else {
            alertify.error(result.message);
          }
        },
        error => {
          console.log(JSON.stringify(error));
          alertify.error("ข้อมูล สินค้าเกิดข้อผิดพลาด");
        }
      );
    },

    showListitemSale () {
      this.indeterminate = true;
      this.field = []
      this.field = this.field_report_item
      this.sale_list = []
      let payload = {
        start_date: this.initRange.start,
        end_date: this.initRange.end,
        limit: -1
      }
      console.log(payload)
      api.FindReportItemSalePos9(
        payload,
        result => {
          if (result.response == "success") {
            this.indeterminate = false;
            for (let i in result.data.sale_list) {
              result.data.sale_list[i].open = false

            }
            console.log(result.data)

            this.report_sale = result.data;
            this.sale_list = result.data.sale_list;
            this.total_sum_of_cost = result.data.all_cost;
            this.total_sum_total_amount = result.data.all_sale;
          } else {
            alertify.error(result.message);
          }
        },
        error => {
          console.log(JSON.stringify(error));
          alertify.error("ข้อมูล สินค้าเกิดข้อผิดพลาด");
        }
      );
    }
  },
  mounted () {

    this.showListSale();
  }
};
</script>

<style scoped lang="scss">
.full {
  height: 90vh;
}
.table {
  background-color: #ffffff;
  width: 100%;
}
.header {
  padding: 5px;
  background-color: #ffffff;
  height: 45px;
  margin: 10px 0;
}
.boxsummary {
  width: 200px;
  background-color: white;
  height: 70px;
  margin: 0 10px 10px 0px;
  padding: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
.closex {
  width: 5%;
  float: left;
  text-align: center;
  cursor: pointer;
  border-radius: 5%;
  font-weight: 800;
}
.closex:hover {
  background: #fff;
  color: #000;
}
.closex:active {
  background: rgb(158, 154, 154);
  box-shadow: 0 1px 6px 0 rgba(240, 240, 240, 0.28);
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
.textfloat {
  text-align: right;
}
.from {
  height: 90vh;
  width: 100%;
  .content {
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-shadow: 0px 0px 13px 0px rgba(82, 63, 105, 0.05);
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);

    background-color: #ffffff;
    margin-bottom: 20px;
    border-radius: 4px;
    .headfrom {
      transition: left 0.3s, right 0.3s, height 0.3s;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: stretch;
      -ms-flex-align: stretch;
      align-items: stretch;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      position: relative;
      padding: 0 25px;
      border-bottom: 1px solid #ebedf2;
      min-height: 60px;
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
      .headLabel {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-line-pack: flex-first;
        align-content: flex-first;
        .headtitle {
          margin: 0;
          padding: 0;
          font-size: 1.2rem;
          font-weight: 500;
          color: #464457;
        }
      }
    }
    .content-body {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      padding: 30px;
      border-radius: 4px;
      .kpi-datatable {
        border-collapse: collapse;
        overflow: hidden;
        display: none;
        width: 50%;
        box-shadow: 0px 0px 13px 0px rgba(82, 63, 105, 0.05);

        .kpitablehead {
          visibility: visible;
          display: block;
          position: relative;
          .kpitable-row {
            border-bottom: 1px solid #f0f3ff;

            width: 100%;
            display: table;
            table-layout: initial;
            th {
              width: 50%;

              padding: 16px 10px;
              font-size: 18px;
            }
            td {
              input {
                width: 95%;
              }
              width: 50%;
              padding: 10px 10px;
              font-size: 14px;
            }
            .colors {
              background: #464457;
              color: #fff;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 977px) {
  .from {
    .content {
      .content-body {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        padding: 30px;
        border-radius: 4px;
        .kpi-datatable {
          border-collapse: collapse;
          overflow: hidden;
          display: none;
          width: 80%;
          .kpitablehead {
            visibility: visible;
            display: block;
            position: relative;
            .kpitable-row {
              border-bottom: 1px solid #f0f3ff;

              width: 100%;
              display: table;
              table-layout: initial;
              th {
                width: 50%;

                padding: 16px 10px;
                font-size: 18px;
              }
              td {
                width: 50%;
                padding: 10px 10px;
                font-size: 14px;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 500px) {
  .from {
    .content {
      .content-body {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        padding: 5px;
        border-radius: 4px;
        .kpi-datatable {
          border-collapse: collapse;
          overflow: hidden;
          display: none;
          width: 100%;
          .kpitablehead {
            visibility: visible;
            display: block;
            position: relative;
            .kpitable-row {
              border-bottom: 1px solid #f0f3ff;

              width: 100%;
              display: table;
              table-layout: initial;
              th {
                width: 50%;

                padding: 16px 10px;
                font-size: 18px;
              }
              td {
                width: 50%;
                padding: 10px 10px;
                font-size: 14px;
              }
            }
          }
        }
      }
    }
  }
}
</style>
 
 