/* eslint-disable vue/no-side-effects-in-computed-properties */
<template>
  <div
    class="list"
    style="background:rgb(255, 255, 255);"
  >
    <div style="height: 15vh;background:#fff;">
      <div>
        <div style="float:right;width:200px;">
          <div style="float: left;
    box-shadow: 0 4px 6px 0 rgba(32, 33, 36, 0.28);
    padding: 10px;background-color:#f57474;">
            สถานะรอ
          </div>
          <div style="float:right; box-shadow: 0 4px 6px 0 rgba(32, 33, 36, 0.28);
    padding: 10px;    background-color: #5ed046;">
            สถานะอนุมัติ
          </div>
        </div>
        <div class="texttitle">
          <span> รายการขาย </span>
        </div>
      </div>
      <div class="headinput">
        <div class="form">
          <input
            @keyup.enter="showlistPos9"
            @keyup="waitemtty"
            v-model="search"
            placeholder="ค้นหาใบรับสินค้า"
            @focus="$event.target.select()"
            autofocus
          />
          <div
            class="carddiscount"
            @click="showlistPos9"
          >

          </div>
        </div>
        <div style="height: 60px;   ">
          <div class="paragetion">
            <div
              class="arrowbtn"
              style="font-size:15px;margin-right:10px;"
            >
              {{ pagesleftME + 1 }}-{{ pagesrightME }}|{{ itemlength }}
            </div>
            <div
              class="arrowbtn"
              @click="pagecgange(0)"
            >
              <md-icon class="iconpara">chevron_left</md-icon>
            </div>
            <div
              class="arrowbtn"
              style="margin-left:5px;"
              @click="pagecgange(1)"
            >
              <md-icon class="iconpara">chevron_right</md-icon>
            </div>
          </div>
        </div>
      </div>
      <div>

      </div>
    </div>

    <div class="table">
      <div class="content-body">
        <table
          class="kpi-datatable"
          style="display: table;width:100%;"
        >
          <thead class="kpitablehead">
            <tr class="kpitable-row">
              <th>ลำดับ</th>
              <th
                v-for="(u,i) in field"
                :key="i"
              >{{u.title}}</th>
            </tr>
          </thead>
          <tbody
            class="kpitablehead"
            v-for="(val,index) in listpos9"
            :key="index"
          >
            <tr class="kpitable-row">
              <td>{{index+1}}</td>
              <td
                v-for="(u,i) in field"
                :key="i"
                :class="{ textfloat:u.type == 'float'}"
              >{{formatBath(val[u.code],u)}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</template>
<script>
import Vue from "vue";
import { mapState } from "vuex";
import api from "../../../service/service.js";
export default {
  name: "listpos",

  components: {},
  data () {
    return {
      loading: false,
      field: [],
      field_pos_list: [{ title: "หมายเลขเอกสาร", code: "doc_no", type: "string" },
      { title: "ผู้ชื้อ", code: "ar_name", type: "string" },
      { title: "พนักงานขาย", code: "sale_name", type: "string" },
      { title: "ยอดสุทธิ", code: "number_of_item", type: "string" },
      { title: "จำนวนเงิน", code: "total_amount", type: "float" },
      { title: "เวลา", code: "create_time", type: "string" }
      ],
      search: "",
      listrecivea: [],
      listpos9: [],
      listitem: [],
      limit: 20,
      datas: [],
      pages: "PO",
      pagehere: "PO",
      itemlength: 0,
      page: {
        page: 1,
        rowPerpage: 20
      },
      pagePO: {
        page: 1,
        rowPerpage: 20
      },
      pageVender: {
        page: 1,
        rowPerpage: 20
      },
      pageItem: {
        page: 1,
        rowPerpage: 20
      }
    };
  },
  watch: {},
  computed: {
    ...mapState(["Receive"]),
    pageME () {
      return this.page.rowPerpage
        ? Math.ceil(this.listpos9.length / this.page.rowPerpage)
        : 0;
    },

    pagesleftME () {
      if (this.page.page == 1) {
        return 0;
      }
      return (this.page.page - 1) * this.page.rowPerpage;
    },
    pagesrightME () {
      if (this.page.page == this.pageME) {
        return this.listpos9.length;
      } else {
        console.log(
          this.page.page * this.page.rowPerpage < this.listpos9.length
        );
        if (
          this.page.page * this.page.rowPerpage >
          this.listpos9.length
        ) {
          return this.listpos9.length;
        } else {
          return this.page.page * this.page.rowPerpage;
        }
      }
    }
  },
  methods: {
    formatBath (val, u) {
      if (u.type == "float") {
        val = parseFloat(val);
        var result = val.toFixed(2).replace(/\B(?=(\d{3})+(?!\d))/g, ",");
        return result;
      } else {
        return val
      }

    },
    waitemtty () {
      if (this.search == "") {
        this.showlistPos9();
      }
    },
    checkemty (val) {
      console.log(val);
      if (val == "") {
        return "56163";
      } else {
        return val;
      }
    },
    perpagelist (val) {
      return this.page.rowPerpage
        ? Math.ceil(val.length / this.page.rowPerpage)
        : 0;
    },

    showlistPos9 () {
      this.field = []
      this.field = this.field_pos_list
      this.loading = true;
      let payload = {
        keyword: this.search,
        limit: this.limit
      };
      api.FindListPos9(
        payload,
        result => {
          this.loading = false;
          // eslint-disable-next-line
          if (result.response == "success") {
            this.listpos9 = result.data.list_pos;
            this.itemlength = result.data.length;
            console.log(result.data)
            if (this.page.page > this.perpagelist(result.data.list_pos)) {
              if (this.perpagelist(result.data.list_pos) <= 0) {
                this.page.page = 1;
                this.limit = 20;
              } else {
                this.page.page = this.perpagelist(result.data.list_pos);
              }
            }
          }
          console.log(result);
        },
        error => {
          // eslint-disable-next-line
          console.log("ข้อมูล สินค้าเกิดข้อผิดพลาด", error);
        }
      );
    },
    ShowlistNext () {
      this.loading = true;
      let payload = {
        keyword: this.search,
        limit: this.limit
      };
      let a = api.FindListPos9(
        payload,
        result => {
          this.loading = false;
          // eslint-disable-next-line
          console.log(result);
          this.listpos9 = result.data.list_pos;
          this.itemlength = result.data.length;
          return result.data;
        },
        error => {
          // eslint-disable-next-line
          console.log("ข้อมูล สินค้าเกิดข้อผิดพลาด", error);
          return false;
        }
      );
      var api = a;
      console.log(a)
    },
    convertDateDmyth (datess) {
      var dates = new Date(datess);
      var listmonth = [
        "มกราคม",
        "กุมภาพันธ์",
        "มีนาคม",
        "เมษายน",
        "พฤษภาคม",
        "มิถุนายน",
        "กรกฎาคม",
        "สิงหาคม",
        "กันยายน",
        "ตุลาคม",
        "พฤศจิกายน",
        "ธันวาคม"
      ][dates.getMonth()];

      var datestr =
        dates.getDate() + " " + listmonth + " " + (dates.getFullYear() + 543);
      return datestr;
    },
    convertDate (datess) {
      var dates = new Date(datess);
      var datestr =
        dates.getDate() + "-" + dates.getMonth() + "-" + dates.getFullYear();
      return datestr;
    },
    pagecgange (val) {
      if (val == 1) {
        if (this.page.page) {
          if (this.page.page < this.pageME) {
            this.page.page += 1;
          } else {
            this.limit += 20;
            console.log(this.limit);
            var a = this.ShowlistNext().then(datas => {
              console.log(datas);
              if (this.page.page < this.perpagelist(datas)) {
                this.page.page += 1;
              }
              return datas;
            });
            console.log(a);
          }
        }
      } else {
        if (this.page.page != 1) {
          this.page.page -= 1;
        }
        // eslint-disable-next-line no-console
        console.log(this.pagePO.page);
        // eslint-disable-next-line no-console
        console.log(this.pages);
        return;
      }
    },
    ShowDetail (val) {
      console.log(val);
      this.$store.state.Receive.DocNo = val.doc_no;
      this.$router.push({ name: "recevie" });
    }
    , Pinger_ping () {
      api.CheckStatusVenus(

        result => {
          this.loading = false;
          // eslint-disable-next-line
          if (result.response == "success") {
            console.log(result);
          }


        },
        error => {
          // eslint-disable-next-line
          console.log("ข้อมูล สินค้าเกิดข้อผิดพลาด", error);
        }
      );

    }
  },
  created () {
    this.Pinger_ping()
    this.showlistPos9();

    // eslint-disable-next-line
    console.log("created");
  },
  mounted () {
    // eslint-disable-next-line
    console.log("mounted");
  }
};
</script>
<style lang="scss" scoped>
.textfloat {
  text-align: right;
}
.table {
  height: 90vh;
  width: 100%;
  .content {
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-shadow: 0px 0px 13px 0px rgba(82, 63, 105, 0.05);
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);

    background-color: #ffffff;
    margin-bottom: 20px;
    border-radius: 4px;
    .headfrom {
      transition: left 0.3s, right 0.3s, height 0.3s;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: stretch;
      -ms-flex-align: stretch;
      align-items: stretch;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      position: relative;
      padding: 0 25px;
      border-bottom: 1px solid #ebedf2;
      min-height: 60px;
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
      .headLabel {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-line-pack: flex-first;
        align-content: flex-first;
        .headtitle {
          margin: 0;
          padding: 0;
          font-size: 1.2rem;
          font-weight: 500;
          color: #464457;
        }
      }
    }
    .content-body {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      padding: 30px;
      border-radius: 4px;
      .kpi-datatable {
        border-collapse: collapse;
        overflow: hidden;
        display: none;
        width: 50%;
        box-shadow: 0px 0px 13px 0px rgba(82, 63, 105, 0.05);

        .kpitablehead {
          visibility: visible;
          display: block;
          position: relative;
          .kpitable-row {
            border-bottom: 1px solid #f0f3ff;

            width: 100%;
            display: table;
            table-layout: initial;
            th {
              width: 50%;

              padding: 16px 10px;
              font-size: 18px;
            }
            td {
              input {
                width: 95%;
              }
              width: 50%;
              padding: 10px 10px;
              font-size: 14px;
            }
            .colors {
              background: #464457;
              color: #fff;
            }
          }
        }
      }
    }
  }
}

.headinput {
  margin-left: 50px;
}
.boxstatus {
  float: left;
  width: 5vh;
  text-align: center;
  font-weight: 300;
  font-size: 1.8vh;
  margin: 0 3px;
}
.texttitle {
  height: 60px;
  font-size: 32px;
  margin-top: 10px;
  margin-left: 50px;
  width: 60vh;
  float: left;
}
.wait-confirm {
  background-color: #f57474;
}
.confirm-now {
  background-color: #5ed046;
}
.paragetion {
  float: right;
  height: 50px;
  line-height: 50px;
  cursor: pointer;
  text-align: center;
  /* min-height: 10em; */
  display: table-cell;
  vertical-align: middle;
}
.arrowbtn {
  float: left;

  height: 50px;
  line-height: 50px;
  vertical-align: middle;
}

.iconpara {
  background-color: #ffffff;

  border-radius: 50%;
}
.iconpara:hover {
  background-color: #e2e2e2;
}
.texthead {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: block;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;

  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: normal;
  line-height: 2rem;

  padding: 2px;
}
.textsub {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;

  font-weight: 300;
  letter-spacing: normal;

  padding: 2px;
  font-size: 1rem;
  line-height: 1rem;
  letter-spacing: 0.0071428571em;
}
.box {
  float: left;
  width: 100%;
  /* height: 60px; */
  background-color: #ffffff;
  padding: 2px 2px 2px 50px;
  //   margin-bottom: 1px;
  //   margin-top: 1px;
  box-shadow: inset 0 -1px 0 0 rgba(111, 111, 111, 0.28);
  font-size: large;
}
.box:hover {
  background-color: #dcdcdc;
  box-shadow: inset 0 -1px 0 0 rgba(111, 111, 111, 0.28);
  cursor: pointer;
}

.box:active {
  background-color: #909090;
  box-shadow: inset 0 -1px 0 0 rgba(111, 111, 111, 0.28);
  cursor: pointer;
}
select {
  width: 150px;
  background-color: #e0e0e0;
  //border: 1px solid #b4b0b0;
  box-shadow: 0 3px 8px 0 rgba(132, 132, 132, 0.2),
    0 0 0 1px rgba(0, 0, 0, 0.13);
  //box-shadow: 0 3px 3px -2px rgba(0,0,0,.2), 0 3px 4px 0 rgba(0,0,0,.14), 0 1px 8px 0 rgba(0,0,0,.12);
  padding: 9px 12px;
  border: 0px;
}
.form {
  margin-left: 50px;
  margin-bottom: 10px;
  margin: 0 auto;
  width: 500px;
  position: relative;
  clear: both;
  float: left;
  input {
    width: 470px;
    background-color: #e0e0e0;
    //border: 1px solid #b4b0b0;
    box-shadow: 0 3px 8px 0 rgba(132, 132, 132, 0.2),
      0 0 0 1px rgba(0, 0, 0, 0.13);
    //box-shadow: 0 3px 3px -2px rgba(0,0,0,.2), 0 3px 4px 0 rgba(0,0,0,.14), 0 1px 8px 0 rgba(0,0,0,.12);
    padding: 9px 12px;
    border: 0px;
  }
  input:focus {
    width: 470px;
    padding: 9px 12px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 3px 3px -2px rgba(0, 0, 0, 0.2),
      0 3px 4px 0 rgba(0, 0, 0, 0.14), 0 1px 8px 0 rgba(0, 0, 0, 0.12);
    //box-shadow: 0px 0px 1px rgb(151, 150, 150), 0 3px 6px rgba(151, 151, 151, 0.23);
    // box-shadow: 0 3px 8px 0 rgba(0,0,0,0.2), 0 0 0 1px rgba(0,0,0,0.08);
  }
  .carddiscount {
    color: #fff;
    font-size: 14px;
    padding: 7.7px 10px;
    position: absolute;
    top: -5px;
    right: 5%;
    /* border-radius: 50%; */
    border-radius: 0 15px 15px 0;
    /* border-right: 15px; */
    /* border-bottom-right-radius: 20px; */
    /* border-bottom-left-radius: 20px; */
    /* opacity: 0.7; */
    -webkit-transition: opacity 0.25s ease-in-out;
    transition: opacity 0.25s ease-in-out;
  }
}
.content {
  /* margin: 20px auto; */
  width: 100%;
  height: 80vh;
  background-color: white;
  display: table;
  -webkit-box-shadow: 0px 0px 1px #ececec, 0 3px 6px rgba(151, 151, 151, 0.23);
  box-shadow: 0px 0px 1px #ececec, 0 3px 6px rgba(151, 151, 151, 0.23);
  padding: 0 10px;
  .boxitemcode {
  }
  .detailcontent {
    width: 100%;
    justify-content: flex-end;
    min-height: 100%;
    max-height: 100%;
    display: flex;
  }
  .title {
    padding: 10px;
    font-size: 1.4em;
    width: 100%;
    background-color: hsl(0, 0%, 100%);
  }
  .detial {
    width: 48%;
    // box-shadow:0px 0px 1px rgb(236, 236, 236), 0 3px 6px rgba(151, 151, 151, 0.23);
    float: left;
    height: auto;
  }
  .priceitem {
    width: 50%;
    padding: 10px;
    float: right;
    box-shadow: 0px 0px 1px rgb(236, 236, 236),
      0 3px 6px rgba(151, 151, 151, 0.23);
  }
}
@media (max-width: 575px) {
  .headinput {
    margin-left: 0px;
  }
  .clear {
    clear: both;
  }
  .box {
    float: left;
    width: 100%;
    /* height: 60px; */
    background-color: #ffffff;
    padding: 2px 2px 2px 2px;
    //   margin-bottom: 1px;
    //   margin-top: 1px;
    box-shadow: inset 0 -1px 0 0 rgba(111, 111, 111, 0.28);
    font-size: large;
  }
  .box:hover {
    background-color: #dcdcdc;
    box-shadow: inset 0 -1px 0 0 rgba(111, 111, 111, 0.28);
    cursor: pointer;
  }

  .box:active {
    background-color: #909090;
    box-shadow: inset 0 -1px 0 0 rgba(111, 111, 111, 0.28);
    cursor: pointer;
  }
  .texttitle {
    height: auto;
    font-size: 3vh;
    margin-top: 10px;
    margin-left: 0px;
    width: 100%;
    float: left;
    text-align: center;
  }
  .form {
    margin: 0 auto;

    width: 80%;
    position: relative;
    clear: both;
    float: none;
    border-radius: 20px;
    input {
      width: 100%;
      border-radius: 20px;
      background-color: #e0e0e0;
      //border: 1px solid #b4b0b0;
      box-shadow: 0 3px 8px 0 rgba(132, 132, 132, 0.2),
        0 0 0 1px rgba(0, 0, 0, 0.13);
      //box-shadow: 0 3px 3px -2px rgba(0,0,0,.2), 0 3px 4px 0 rgba(0,0,0,.14), 0 1px 8px 0 rgba(0,0,0,.12);
      padding: 9px 12px;
      border: 0px;
    }
    input:focus {
      width: 100%;
      padding: 9px 12px;
      background-color: rgb(255, 255, 255);
      box-shadow: 0 3px 3px -2px rgba(0, 0, 0, 0.2),
        0 3px 4px 0 rgba(0, 0, 0, 0.14), 0 1px 8px 0 rgba(0, 0, 0, 0.12);
      //box-shadow: 0px 0px 1px rgb(151, 150, 150), 0 3px 6px rgba(151, 151, 151, 0.23);
      // box-shadow: 0 3px 8px 0 rgba(0,0,0,0.2), 0 0 0 1px rgba(0,0,0,0.08);
    }
    .carddiscount {
      color: #fff;
      font-size: 14px;
      padding: 7.7px 10px;
      position: absolute;
      top: -5px;
      right: 5%;
      /* border-radius: 50%; */
      border-radius: 0 15px 15px 0;
      /* border-right: 15px; */
      /* border-bottom-right-radius: 20px; */
      /* border-bottom-left-radius: 20px; */
      /* opacity: 0.7; */
      -webkit-transition: opacity 0.25s ease-in-out;
      transition: opacity 0.25s ease-in-out;
    }
  }
}
</style>
