<template>
  <div class="index" style="background: #f4f5f7;">
    <loading :active.sync="isLoading" :can-cancel="true" :is-full-page="fullPage"></loading>

    <md-toolbar style="transition:all 1s;margin: 0px 0px 10px 0px;" class="md-Transparent">
      <div class="md-layout md-gutter" style="margin: 5px 0px 10px 10px;">
        <md-button
          class="md-xsmall-hide md-raised md-primary"
          style="margin: 5px;"
          @click="openAddAddress()"
        >เพิ่มสถานที่จัดส่ง</md-button>
        <md-button
          class="md-xsmall-hide md-raised md-primary"
          style="margin: 5px;"
          @click="SearchKeywordAddress()"
        >ประวัติสถานที่จัดส่ง</md-button>
        <md-button
          class="md-xsmall-hide md-raised md-primary"
          style="margin: 5px;"
          @click="openAddCustomer()"
        >เพิ่มผู้ติดต่อ</md-button>
        <md-button
          class="md-xsmall-hide md-raised md-primary"
          style="margin: 5px;"
          @click="searchContact()"
        >ดูประวัติผู้ติดต่อ</md-button>
        <!-- <md-button
          class="md-xsmall-hide md-raised md-primary"
          style="margin: 5px;"
          @click="test()"
        >ดูประวัติการซื้อ</md-button> -->
        <md-menu class="md-raised" v-responsive.sm.xs md-align-trigger>
          <md-button class="md-raised" md-menu-trigger>
            <md-icon>list</md-icon>
          </md-button>
          <md-menu-content>
            <md-menu-item></md-menu-item>
            <md-menu-item></md-menu-item>
            <md-menu-item></md-menu-item>
          </md-menu-content>
        </md-menu>
      </div>
    </md-toolbar>

    <md-steppers md-sync-route md-dynamic-height :md-active-step.sync="active">
      <md-step id="first" md-label="ข้อมูลลูกค้า">
        <div class="md-layout md-size-100 md-small-size-100" style="padding:0px;">
          <md-toolbar class="md-transparent" style="padding:20px; " disabled>
            <div class="md-layout md-layout-item md-size-45 md-small-size-100">
              <div class="md-layout-item md-size-40 md-small-size-100">
                <md-field>
                  <label class="md-title sub">
                    <md-icon>account_circle</md-icon>
                    <span style="color:red">*</span>รหัสลูกค้า
                  </label>
                  <md-input
                    v-model="searchcus"
                    placeholder="รหัสลูกค้า"
                  ></md-input>
                  <!-- <md-input
                    @keyup.enter="fsearchcus"
                    v-model="searchcus"
                    placeholder="ค้นหารหัสลูกค้า"
                  ></md-input> -->
                  <!-- <div class="input-group-append">
                    <button
                      class="btn btn-primary icon-margin search-icon"
                      @click="showDialogcus = true"
                    >
                      <md-icon class="search-icon">search</md-icon>
                    </button>
                  </div> -->
                </md-field>
              </div>
              <div class="md-layout-item md-size-45 md-small-size-100 offset-1">
                <md-field>
                  <label class="md-title sub">
                    <span style="color:red">*</span>ชื่อลูกค้า
                  </label>
                  <md-input v-model="detailcus" placeholder="ชื่อลูกค้า"></md-input>
                </md-field>
              </div>
              <div class="md-layout-item md-size-90 md-small-size-100">
                <label class="md-title sub">ที่อยู่</label>
                <textarea type="text" class="form-control" v-model="address" rows="2"></textarea>
              </div>
              <button class="btn btn-primary" style="margin-top: 5px;" @click="insertAdderss = true">แก้ไขที่อยู่</button>
            </div>

            <div class="md-layout md-layout-item md-size-30 md-small-size-100">
              <div class="md-layout-item md-size-45 md-small-size-100">
                <md-field>
                  <label class="md-title sub">ระดับลูกค้า</label>
                  <md-select name="country" v-model="price_level" placeholder="ระดับลูกค้า">
                    <md-option value="1">1</md-option>
                    <md-option value="2">2</md-option>
                    <md-option value="3">3</md-option>
                    <md-option value="4">4</md-option>
                  </md-select>
                </md-field>
              </div>
              <div class="md-layout-item md-size-45 md-small-size-100 offset-1">
                <md-field>
                  <label class="md-title sub">ชื่อระดับลูกค้า</label>
                  <md-input disabled placeholder="ชื่อระดับลูกค้า"></md-input>
                </md-field>
              </div>
              <div class="md-layout-item md-size-45 md-small-size-100">
                <md-field>
                  <label class="md-title sub">ประเภทลูกค้า</label>
                  <md-select name="country" v-model="person_type" placeholder="ประเภทลูกค้า">
                    <md-option value="1">บุคคลธรรมดา</md-option>
                    <md-option value="2">บุคคลพิเศษ</md-option>
                  </md-select>
                </md-field>
              </div>
              <div class="md-layout-item md-size-45 md-small-size-100 offset-1">
                <md-field>
                  <label class="md-title sub">ประเภทภาษี</label>
                  <md-select name="country" v-model="tax_type" placeholder="ประเภทภาษี">
                    <md-option value="1">ประเภทภาษี1</md-option>
                    <md-option value="2">ประเภทภาษี2</md-option>
                  </md-select>
                </md-field>
              </div>
              <div class="md-layout-item md-size-45 md-small-size-100">
                <md-field>
                  <label class="md-title sub">ภาษีเริ่มต้น</label>
                  <md-input v-model="default_tax_rate" placeholder="ภาษีเริ่มต้น"></md-input>
                </md-field>
              </div>
              <div class="md-layout-item md-size-45 md-small-size-100 offset-1">
                <label style="font-size:12px;color:#777;font-weight: bold;">วันเกิด</label>
                <datepicker
                  v-model="datenow_datepicker"
                  input-class="form-control tc"
                  style="position:absolute;"
                  :language="languages[language]"
                  format="d MMMM yyyy"
                ></datepicker>
              </div>
            </div>

            <img
              src="https://firebasestorage.googleapis.com/v0/b/perfect-ce95d.appspot.com/o/user.png?alt=media&token=6bb8b8a0-1143-4cae-9b9e-db91edbbb261"
              alt="paybox"
              width="150"
              height="150"
              style="position: absolute; top: 50%; left: 87%; transform: translate(-50%,-50%);"
            >
          </md-toolbar>

          <div class="md-layout md-size-45 md-small-size-100" style="padding:5px;">
          <div class="row" style="margin: 5px 0px 0px 0px">
            <button class="btn btn-primary" style="margin-right: 5px" @click="selectWarp(1)">ข้อมูลทั่วไป</button>
            <button class="btn btn-primary" style="margin-right: 5px" @click="selectWarp(2)">ข้อมูลอื่นๆ</button>
          </div>
            <md-toolbar class="md-transparent" style="padding:20px;" v-if="swarp==1">
              <div class="md-layout-item md-size-45 md-small-size-100" style="padding:5px;">
                <md-field>
                  <label class="md-title sub">Member_id</label>
                  <md-input v-model="member_id" placeholder="Member_id"></md-input>
                </md-field>
                <md-field>
                  <label class="md-title sub">
                    <span style="color:red">*</span>บุคคลธรรมดา/นิติบุคคล
                  </label>
                  <md-select name="tax_type" id="tax_type" placeholder="บุคคลธรรมดา/นิติบุคคล">
                    <md-option value="0">บุคคลธรรมดา</md-option>
                    <md-option value="1">นิติบุคคล</md-option>
                  </md-select>
                </md-field>
                <md-field>
                  <label class="md-title sub">เลขประจำตัวผู้เสียภาษี</label>
                  <md-input v-model="tax_no" placeholder="เลขประจำตัวผู้เสียภาษี"></md-input>
                </md-field>
                <md-field>
                  <label class="md-title sub">บริษัท</label>
                  <md-input v-model="company_id" placeholder="บริษัท"></md-input>
                </md-field>
              </div>
              <div class="md-layout-item md-size-45 md-small-size-100" style="padding:5px;">
                <md-field>
                  <label class="md-title sub">เบอร์โทร</label>
                  <md-input v-model="telephone" placeholder="เบอร์โทร"></md-input>
                </md-field>
                <md-field>
                  <label class="md-title sub">Fax</label>
                  <md-input v-model="fax" placeholder="Fax"></md-input>
                </md-field>
                <md-field>
                  <label class="md-title sub">E-mail</label>
                  <md-input v-model="email" placeholder="E-mail"></md-input>
                </md-field>
                <md-field>
                  <label class="md-title sub">เลขที่บัตรประชาชน</label>
                  <md-input v-model="id_card_no" placeholder="เลขที่บัตรประชาชน"></md-input>
                </md-field>
              </div>
            </md-toolbar>

            <md-toolbar class="md-transparent" style="padding:20px;" v-if="swarp==2">
              <div class="md-layout-item md-size-45 md-small-size-100" style="padding:5px;">
                <md-field>
                  <label class="md-title sub">ParentCode</label>
                  <md-input v-model="parent_code" placeholder="ParentCode"></md-input>
                </md-field>
                <md-field>
                  <label class="md-title sub">TypeCode</label>
                  <md-input v-model="type_code" placeholder="TypeCode"></md-input>
                </md-field>
                <md-field>
                  <label class="md-title sub">GroupCode</label>
                  <md-input v-model="group_code" placeholder="GroupCode"></md-input>
                </md-field>
                <md-field>
                  <label class="md-title sub">GroupOfDebt</label>
                  <md-input v-model="group_of_debt" placeholder="GroupOfDebt"></md-input>
                </md-field>
              </div>
              <div class="md-layout-item md-size-45 md-small-size-100" style="padding:5px;">
                <md-field>
                  <label class="md-title sub">PressMenCode</label>
                  <md-input v-model="press_men_code" placeholder="PressMenCode"></md-input>
                </md-field>
                <md-field>
                  <label class="md-title sub">KeepMoneyMenCode</label>
                  <md-input v-model="keep_money_men_code" placeholder="KeepMoneyMenCode"></md-input>
                </md-field>
                <md-field>
                  <label class="md-title sub">CondPayCode</label>
                  <md-input v-model="cond_pay_code" placeholder="CondPayCode"></md-input>
                </md-field>
                <md-field>
                  <label class="md-title sub">GroupCreditCode</label>
                  <md-input v-model="group_credit_code" placeholder="GroupCreditCode"></md-input>
                </md-field>
              </div>
            </md-toolbar>
          </div>

          <div class="md-layout md-size-45 md-small-size-100" style="padding:5px;">
             <div class="row" style="margin: 40px 5px 0px 0px;">
            </div>
            <md-toolbar class="md-transparent" style="padding:20px;" disabled>
              <div class="md-layout-item md-size-45 md-small-size-100" style="padding:5px;">
                <md-field>
                  <label class="md-title sub">เครดิต วงเงินที่ได้ (สด =0 )</label>
                  <md-input v-model="debt_limit"></md-input>
                </md-field>
                <md-field>
                  <label class="md-title sub">ยอดคงค้าง</label>
                  <md-input v-model="debt_amount"></md-input>
                </md-field>
                <md-field>
                  <label class="md-title sub">เครดิตวัน</label>
                  <md-input v-model="bill_credit"></md-input>
                </md-field>
                <md-field>
                  <label class="md-title sub">แต้มคงเหลือ</label>
                  <md-input v-model="point_balance"></md-input>
                </md-field>
              </div>
            </md-toolbar>
          </div>

          <!-- /////////////////////////////////////////////////////////////confirm data///////////////////////////////////////////////////////////////////// -->
          <div class="col-md-12 col-12">
            <div class="tax-bottom-part tax-head col-md-12 col-6" style="right: 5px;">
              <!-- <button
                :disabled="customerCode==''||customerName==''||reserveNo==''"
                @click="setDone('first', 'second')"
                class="btn btn-primary"
              >
                <span>ถัดไป</span>
              </button>-->
              <button class="btn btn-primary" @click="ConfirmCustomer">
                <span>ตกลง</span>
              </button>
            </div>
          </div>
        </div>
      </md-step>
    </md-steppers>

    <!-- showDialogcus -->
    <md-dialog :md-active.sync="showDialogcus">
      <md-dialog-title>เลือกลูกค้า</md-dialog-title>
      <md-dialog-content>
        <md-tabs md-dynamic-height>
          <md-tab md-label>
            <md-field>
              <md-input v-model="searchcus" @keyup.enter="fsearchcus"></md-input>
            </md-field>
            <div class="table-responsive" style="overflow-y: auto;">
              <table class="table table-hover">
                <thead align="center">
                  <tr>
                    <td class="md-medium-hide" style="white-space: nowrap;">ลำดับ</td>
                    <td style="white-space: nowrap;" id="colorselectorder">รหัสลูกค้า</td>
                    <td style="white-space: nowrap;" id="colorselectgroup">ชื่อลูกค้า</td>
                    <td class="md-medium-hide" style="white-space: nowrap;">ที่อยู่</td>
                  </tr>
                </thead>
                <tbody id="valuetable">
                  <tr
                    @click="CustomerByID(val)"
                    style="text-align:center;cursor:pointer"
                    v-for="(val,index) in detailcusall"
                    :key="index"
                  >
                    <td class="md-medium-hide">{{index+1}}</td>
                    <td>{{val.code}}</td>
                    <td>{{val.name}}</td>
                    <td class="md-medium-hide">{{val.address}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </md-tab>
        </md-tabs>
      </md-dialog-content>
      <md-dialog-actions>
        <md-button class="md-primary" @click="showDialogcus = false">Close</md-button>
      </md-dialog-actions>
    </md-dialog>
    <!-- /////////////////////////////////////////////////////////////สถานที่จัดส่ง///////////////////////////////////////////////////////////////////// -->
    <md-dialog :md-active.sync="deliveryAdd" class="md-layout-item md-size-30 md-small-size-100">
      <md-dialog-title>สถานที่จัดส่ง</md-dialog-title>
      <md-dialog-content>
        <md-field>
          <label for="last-name">อำเภอ</label>
          <md-input v-model="ass_district"></md-input>
        </md-field>
        <md-field>
          <label for="last-name subnotop">ตำบล</label>
          <md-input v-model="ass_district_sub"></md-input>
        </md-field>
        <md-field>
          <label for="last-name">เมือง</label>
          <md-input v-model="ass_country"></md-input>
        </md-field>
        <md-field>
          <label for="last-name">จังหวัด</label>
          <md-input v-model="ass_province"></md-input>
        </md-field>
        <md-field>
          <label for="last-name">รหัสไปรษณีย์</label>
          <md-input v-model="ass_post_code"></md-input>
        </md-field>
        <md-field>
          <label for="last-name">จุดสังเกต</label>
          <md-input v-model="ass_landmarks"></md-input>
        </md-field>
        <md-field>
          <label for="last-name">เบอร์โทรศัพท์</label>
          <md-input v-model="ass_telephone"></md-input>
        </md-field>
        <textarea
          v-model="ass_address"
          type="text"
          class="form-control"
          rows="2"
          placeholder="ที่อยู่ในการส่งของ"
        ></textarea>
      </md-dialog-content>
      <md-dialog-actions>
        <md-button class="md-primary" @click="createAddressSO()">ADD</md-button>
        <md-button class="md-primary" @click="deliveryAdd = false">Close</md-button>
      </md-dialog-actions>
    </md-dialog>
    <!-- /////////////////////////////////////////////////////////////list send///////////////////////////////////////////////////////////////////// -->
    <md-dialog :md-active.sync="deliveryList">
      <md-dialog-title>เลือกสถานที่จัดส่ง</md-dialog-title>
      <md-tabs md-dynamic-height>
        <md-tab md-label>
          <div class="table-responsive" style="overflow-y: auto;">
            <table class="table table-hover">
              <thead align="center">
                <tr>
                  <th>ลำดับ</th>
                  <th id="colorselectorder">ประเทศ</th>
                  <th id="colorselectgroup">อำเภอ</th>
                  <th id="colorselectorder">ตำบล</th>
                  <th id="colorselectgroup">จังหวัด</th>
                  <th id="colorselectorder">รหัสไปรษณีย์</th>
                  <th id="colorselectgroup">จุดสังเกต</th>
                  <th id="colorselectgroup">เบอร์โทรศัพท์</th>
                </tr>
              </thead>
              <tbody id="valuetable">
                <tr
                  v-for="(val,index) in objAddress"
                  :key="index"
                  style="text-align:center;cursor:pointer"
                >
                  <td>{{index+1}}</td>
                  <td>{{val.country}}</td>
                  <td>{{val.district}}</td>
                  <td>{{val.district_sub}}</td>
                  <td>{{val.province}}</td>
                  <td>{{val.post_code}}</td>
                  <td>{{val.landmarks}}</td>
                  <td>{{val.telephone}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </md-tab>
      </md-tabs>
      <md-dialog-actions>
        <md-button class="md-primary" @click="deliveryList = false">Close</md-button>
      </md-dialog-actions>
    </md-dialog>
    <!-- /////////////////////////////////////////////////////////////list Contact///////////////////////////////////////////////////////////////////// -->
    <md-dialog :md-active.sync="showContact">
      <md-dialog-title>เลือกสถานที่จัดส่ง</md-dialog-title>
      <md-tabs md-dynamic-height>
        <md-tab md-label>
          <div class="table-responsive" style="overflow-y: auto;">
            <table class="table table-hover">
              <thead align="center">
                <tr>
                  <th>ลำดับ</th>
                  <th id="colorselectorder">รหัสลูกค้า</th>
                  <th id="colorselectgroup">รหัสผู้ติดต่อ</th>
                  <th id="colorselectorder">ชื่อผู้ติดต่อ</th>
                  <th id="colorselectgroup">ที่อยู่</th>
                  <th id="colorselectorder">เบอร์โทร</th>
                  <th id="colorselectgroup">E-mail</th>
                  <th id="colorselectgroup">Line_id</th>
                  <th id="colorselectgroup">Line_number</th>
                </tr>
              </thead>
              <tbody id="valuetable">
                <tr
                  v-for="(val,index) in objContact"
                  :key="index"
                  style="text-align:center;cursor:pointer"
                >
                  <td>{{index+1}}</td>
                  <td>{{val.ar_id}}</td>
                  <td>{{val.contact_code}}</td>
                  <td>{{val.contact_name}}</td>
                  <td>{{val.address}}</td>
                  <td>{{val.telephone}}</td>
                  <td>{{val.email}}</td>
                  <td>{{val.line_id}}</td>
                  <td>{{val.line_number}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </md-tab>
      </md-tabs>
      <md-dialog-actions>
        <md-button class="md-primary" @click="showContact = false">Close</md-button>
      </md-dialog-actions>
    </md-dialog>
    <!-- /////////////////////////////////////////////////////////////Add Contact send///////////////////////////////////////////////////////////////////// -->
    <md-dialog :md-active.sync="contactAdd" class="md-layout-item md-size-30 md-small-size-100">
      <md-dialog-title>เพิ่มผู้ติดต่อ</md-dialog-title>
      <md-dialog-content>
        <md-field>
          <label for="last-name subnotop">รหัสผู้ติดต่อ</label>
          <md-input v-model="con_contact_code"></md-input>
        </md-field>
        <md-field>
          <label for="last-name">ชื่อผู้ติดต่อ</label>
          <md-input v-model="con_contact_name"></md-input>
        </md-field>
        <md-field>
          <label for="last-name">ที่อยู่</label>
          <md-input v-model="con_address"></md-input>
        </md-field>
        <md-field>
          <label for="last-name">เบอร์โทรศัพท์</label>
          <md-input v-model="con_telephone"></md-input>
        </md-field>
        <md-field>
          <label for="last-name">E-mail</label>
          <md-input v-model="con_email"></md-input>
        </md-field>
        <md-field>
          <label for="last-name">Line_id</label>
          <md-input v-model="con_line_id"></md-input>
        </md-field>
        <md-field>
          <label for="last-name">Line_number</label>
          <md-input v-model="con_line_number"></md-input>
        </md-field>
      </md-dialog-content>
      <md-dialog-actions>
        <md-button class="md-primary" @click="addContactCust()">ADD</md-button>
        <md-button class="md-primary" @click="contactAdd = false">Close</md-button>
      </md-dialog-actions>
    </md-dialog>
    <!-- /////////////////////////////////////////////////////////////Add Address send///////////////////////////////////////////////////////////////////// -->
    <md-dialog :md-active.sync="insertAdderss" class="md-layout-item md-size-30 md-small-size-100">
      <md-dialog-title>แก้ไขที่อยู่</md-dialog-title>
      <md-dialog-content>
        <!-- <md-field>
          <label for="last-name subnotop">เลขที่บ้าน</label>
          <md-input v-model="con_line_id"></md-input>
        </md-field> -->
          <ThailandAutoComplete v-model="address_area" label="เลขที่บ้าน" size="medium" color="#35495e" placeholder="เลขที่บ้าน..."/>
          <ThailandAutoComplete v-model="district" type="district" @select="select" label="ตำบล" size="medium" color="#35495e" placeholder="ตำบล..."/>
          <ThailandAutoComplete v-model="amphoe" type="amphoe" @select="select" size="medium" label="อำเภอ" placeholder="อำเภอ..."/>
          <ThailandAutoComplete v-model="province" type="province" @select="select" label="จังหวัด" size="medium" color="#35495e" placeholder="จังหวัด..."/>
          <ThailandAutoComplete v-model="zipcode" type="zipcode" @select="select" size="medium" color="#00a4e4" placeholder="รหัสไปรษณีย์..."/>
      </md-dialog-content>
      <md-dialog-actions>
        <md-button class="md-primary" @click="insertToText()">ADD</md-button>
        <md-button class="md-primary" @click="insertAdderss = false">Close</md-button>
      </md-dialog-actions>
    </md-dialog>
  </div>
</template>

<script src="../../js/customer.js"></script>

<style scoped>
.labaltext{
  font-size: 18px;
  padding-top:10px;
}
span{
  padding:0px;
}
</style>
