<template>
  <div class="index" style="background:rgb(255, 255, 255);">
    <loading :active.sync="isLoading" :can-cancel="true" :is-full-page="true"></loading>
    <div class="containers">
      <div class="col-12">
        <md-field>
          <md-icon>search</md-icon>
          <label>ค้นหา</label>
          <md-input v-model="searched" @input="typing = true"></md-input>
          <div class="typing" v-show="typing">David is typing...</div>
          <md-menu md-direction="bottom-end">
            <md-button
              class="md-icon-button"
              style="border-radius:0px;  height: 50%;"
              md-menu-trigger
              @click="changefilter=true"
            >
              <md-icon style="width: 50px;float: right;">more_horiz</md-icon>
            </md-button>
          </md-menu>
        </md-field>
      </div>

      <!-- payloadreal -->
      <div class="col-12 showhover">
        <div
          style="height: 50px;    box-shadow: inset 0 1px 0 0 rgba(100, 121, 143, 0.122), inset 0 -0.5px 0 0 rgba(100, 121, 143, 0.122);"
        >
          <div class="paragetion">
            <div class="arrowbtn">{{pagesleftME+1}}-{{pagesrightME}}|{{listFilter.length}}</div>
            <div class="arrowbtn" @click="pagecgange(0)">
              <md-icon class="iconpara">chevron_left</md-icon>
            </div>
            <div class="arrowbtn" style="margin-left:5px;" @click="pagecgange(1)">
              <md-icon class="iconpara">chevron_right</md-icon>
            </div>
          </div>
        </div>
      </div>
      <div
        v-for="(val,index) in listFilter"
        :key="index"
        v-if="index >= pagesleftME && index < pagesrightME"
      >
        <div @click="seedetail(val)" class="col-12 showhover" style="cursor: pointer;z-index:1">
          <md-toolbar
            id="responsiveheight"
            class="md-transparent hoverdiv"
            style="min-width:251px;display:block;padding-top:5px;overflow:hidden"
          >
            <div class="md-layout md-gutter md-alignment-center">
              <div
                class="md-layout-item md-xlarge-size-5 md-large-size-5 md-xsmall-size-15 md-small-size-10 md-medium-size-5"
              >
                <md-avatar
                  class="md-avatar-icon md-primary"
                  :class="'active'"
                  style="margin:0;"
                ><md-icon>account_circle</md-icon></md-avatar>
              </div>

              <div
                class="md-layout-item md-xlarge-size-95 md-large-size-95 md-xsmall-size-85 md-small-size-90 md-medium-size-95"
              >
                <div class="row">
                  <div class="col-12">
                    <span class="md-title">{{val.name}}</span>
                    <md-icon
                      v-show="val.is_confirm == 1"
                      style="float:right;color:green"
                    >check_circle_outline</md-icon>
                  </div>
                  <div class="col-12">
                    <span
                      style="position: relative;left: 8px;font-size: .875rem;color: #5f6368;"
                      class="md-subheading"
                    >{{ 'ชื่อลูกค้า : '+val.name + 'รหัสลูกค้า : '+val.code + ' เบอร์โทรศัพท์ :' +val.telephone}}</span>
                    <div
                      @click="val.total_amount = !val.total_amount"
                      v-show="val.total_amount"
                      style="float:right;"
                      class="starhover"
                    >
                      <md-icon>star_border</md-icon>
                    </div>
                    <div
                      class="starhover"
                      @click="val.total_amount = !val.total_amount"
                      v-show="val.total_amount == false"
                      style="float:right;color:red;"
                    >
                      <md-icon>star</md-icon>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </md-toolbar>
        </div>
      </div>
      <div>
        <md-dialog :md-active.sync="changefilter">
          <md-dialog-title>ตัวเลือกการค้นหา</md-dialog-title>
          <md-tabs md-dynamic-height>
            <md-tab md-label>
              <div class="table-responsive" style="overflow-y: auto;">
                <div>
                  ค้นหาจาก
                  <br>
                  <md-radio v-model="fillter" value="doc_no">
                    เลขเอกสาร
                    <small>(Default)</small>
                  </md-radio>
                  <md-radio v-model="fillter" value="doc_date" class="md-primary">วันที่</md-radio>
                </div>
                <div>
                  เรียง
                  <br>
                  <md-radio v-model="filterby" value="DSEC">
                    มากไปหาน้อย
                    <small>(Default)</small>
                  </md-radio>
                  <md-radio v-model="filterby" value="ASC" class="md-primary">น้อยไปหามาก</md-radio>
                </div>
              </div>
            </md-tab>
          </md-tabs>
          <md-dialog-actions>
            <md-button class="md-primary" @click="changefilter = false">Close</md-button>
          </md-dialog-actions>
        </md-dialog>
      </div>
    </div>
    <md-speed-dial class="md-bottom-right">
      <md-speed-dial-target
        @click="goindex()"
        v-shortkey="{up:['ctrl', 'alt', 'n'],down:['ctrl', 'alt', 'ื']}"
        @shortkey="goindex()"
      >
        <md-tooltip md-direction="top">
          <md-icon style="color:white;">keyboard</md-icon>คีย์ลัด ctrl + alt + n เพื่อสร้างหน้าไหม่
        </md-tooltip>
        <md-icon>add</md-icon>
      </md-speed-dial-target>
    </md-speed-dial>
  </div>
</template>
<script src="../../js/customerlist.js"></script>
<style  scoped src="./custlist.css"></style>

