<template>
  <div style="padding: 10px;" class="container">
    <form class="md-layout" style="justify-content: center;">
      <loading :active.sync="isLoading" :can-cancel="true" :is-full-page="true"></loading>
      <md-card class="md-layout-item md-size-100 md-small-size-100">
        <md-card-header>
          <md-icon>settings</md-icon>
          <div
            style="display:inline-block;position: relative; top: 4px; left: 6px;"
            class="md-title"
          >Setting</div>
        </md-card-header>
        <md-card-content>
          <hr>
          <div class="md-layout md-gutter">
            <div class="md-layout-item md-size-50 md-small-size-100" style="border-left:1px solid #000;">
              <h4>ข้อมูลบริษัท</h4>
              <span>ชื่อ-บริษัท(ไทย) : {{Com_company_name}}</span><br>
              <span>ชื่อ-บริษัท(อังกฤษ) : {{Com_name_eng}}</span><br>
              <span>E-mail : {{Com_email}}</span><br>
              <span>Telephone : {{Com_telephone}}</span><br>
              <span>Fax : {{Com_fax}}</span><br>
              <span>รหัสผู้เสียภาษี : {{Com_tax_number}}</span><br>
              <span>ที่อยู่ : {{Com_address}}</span>
            </div>
            <div class="md-layout-item md-size-50 md-small-size-100">
              <h4>ข้อมูลสาขา</h4>
              <span>ชื่อสาขา : {{branch_branch_name}}</span><br>
              <span>Telephone : {{branch_telephone}}</span><br>
              <span>Fax : {{branch_fax}}</span><br>
              <span>รหัสผู้เสียภาษี : {{branch_tax_no}}</span><br>
              <span>ที่อยู่ : {{branch_address}}</span><br>
            </div>
            <!-- <div class="md-layout-item md-size-25 md-small-size-100">
              <md-field>
                <label>ชื่อ-บริษัท(ไทย)</label>
                <md-input v-model="Com_company_name" disabled/>
              </md-field>
            </div>
            <div class="md-layout-item md-size-30 md-small-size-100">
              <md-field>
                <label>ชื่อ-บริษัท(อังกฤษ)</label>
                <md-input v-model="Com_name_eng" disabled/>
              </md-field>
            </div>
            <div class="md-layout-item md-size-30 md-small-size-100">
              <md-field>
                <label>E-mail</label>
                <md-input v-model="Com_email" disabled/>
              </md-field>
            </div>
            <div class="md-layout-item md-size-20 md-small-size-100">
              <md-field>
                <label for="first-name">
                  <md-icon>phone</md-icon>Telephone
                </label>
                <md-input v-model="Com_telephone" disabled/>
              </md-field>
            </div>
            <div class="md-layout-item md-size-20 md-small-size-100">
              <md-field>
                <label for="first-name">
                  <md-icon>print</md-icon>Fax
                </label>
                <md-input v-model="Com_fax" disabled/>
              </md-field>
            </div>
            <div class="md-layout-item md-size-20 md-small-size-100">
              <md-field>
                <label for="first-name">
                  <md-icon>payment</md-icon>รหัสผู้เสียภาษี
                </label>
                <md-input v-model="Com_tax_number" disabled/>
              </md-field>
            </div>
            <div class="md-layout-item md-size-30 md-small-size-100">
              <md-field>
                <label for="first-name">
                  <md-icon>home</md-icon>ที่อยู่
                </label>
                <md-input v-model="Com_address" disabled/>
              </md-field>
            </div> -->
          </div>
          <hr>
          <!-- <h4>ข้อมูลสาขา</h4>
          <div class="md-layout md-gutter">
            <div class="md-layout-item md-size-30 md-small-size-100">
              <md-field>
                <label>ชื่อสาขา</label>
                <md-input v-model="branch_branch_name" disabled/>
              </md-field>
            </div>
            <div class="md-layout-item md-size-20 md-small-size-100">
              <md-field>
                <label for="first-name">
                  <md-icon>phone</md-icon>Telephone
                </label>
                <md-input v-model="branch_telephone" disabled/>
              </md-field>
            </div>
            <div class="md-layout-item md-size-20 md-small-size-100">
              <md-field>
                <label for="first-name">
                  <md-icon>print</md-icon>Fax
                </label>
                <md-input v-model="branch_fax" disabled/>
              </md-field>
            </div>
            <div class="md-layout-item md-size-20 md-small-size-100">
              <md-field>
                <label for="first-name">
                  <md-icon>payment</md-icon>รหัสผู้เสียภาษี
                </label>
                <md-input v-model="branch_tax_no" disabled/>
              </md-field>
            </div>
            <div class="md-layout-item md-size-30 md-small-size-100">
              <md-field>
                <label for="first-name">
                  <md-icon>home</md-icon>ที่อยู่
                </label>
                <md-input v-model="branch_address" disabled/>
              </md-field>
            </div>
          </div>
          <hr> -->
          <!--sprit -->
          <h4>ตั้งค่าพื้นฐาน</h4>
          <div class="md-layout md-gutter">
            <div class="md-layout-item md-size-25 md-small-size-100">
              <md-field>
                <label>Department</label>
                <md-input v-model="depart_id"/>
                <!-- <md-select v-model="depart_id" name="movie" id="movie">
                </md-select> -->
              </md-field>
              <md-field>
                <label for="first-name">
                  <md-icon>add_photo_alternate</md-icon>Logo
                </label>
                <md-input v-model="logo_path"/>
              </md-field>
              <md-field>
                <label for="first-name">
                  <md-icon>payment</md-icon>def_cust_id
                </label>
                <md-input v-model="def_cust_id"/>
              </md-field>
              <md-field>
                <label for="first-name">
                  <md-icon>payment</md-icon>user_address
                </label>
                <md-input v-model="use_address"/>
              </md-field>
            </div>
            <div class="md-layout-item md-size-25 md-small-size-100">
              <md-field>
                <label>
                  <md-icon>payment</md-icon>Tax Type
                </label>
                <md-input v-model="tax_type"/>
              </md-field>
              <md-field>
                <label>
                  <md-icon>payment</md-icon>Tax Rate
                </label>
                <md-input v-model="tax_rate"/>
              </md-field>
              <md-field>
                <label>
                  <md-icon>payment</md-icon>stock_status
                </label>
                <md-input v-model="stock_status"/>
              </md-field>
              <md-field>
                <label>
                  <md-icon>payment</md-icon>sale_tex_type
                </label>
                <md-input v-model="sale_tax_type"/>
              </md-field>
            </div>
            <div class="md-layout-item md-size-25 md-small-size-100">
              <md-field>
                <label>
                  <md-icon>payment</md-icon>buy_tex_type
                </label>
                <md-input v-model="buy_tax_type"/>
              </md-field>
              <md-field>
                <label>
                  <md-icon>payment</md-icon>buy_bill_type
                </label>
                <md-input v-model="sale_bill_type"/>
              </md-field>
              <md-field>
                <label for="first-name">
                  <md-icon>payment</md-icon>PT Point
                </label>
                <md-input v-model="point_kpi"/>
              </md-field>
            </div>
            <div class="md-layout-item md-size-25 md-small-size-100">
              <md-field>
                <label for="first-name">
                  <md-icon>payment</md-icon>pos_def_cust_id
                </label>
                <md-input v-model="pos_def_cust_id"/>
              </md-field>
              <md-field>
                <label for="first-name">
                  <md-icon>payment</md-icon>pos_def_stock
                </label>
                <md-input v-model="pos_def_stock"/>
              </md-field>
            </div>
          </div>

          <h4>ตั้งค่าคลังเก็บสินค้า</h4>
          <div class="md-layout-item md-size-40 md-small-size-100">
              <md-field>
                <label>โรงเก็บของสินค้าซื้อ</label>
                <md-select v-model="def_buy_wh_id" name="movie" id="movie">
                  <md-option value="1">S1-A</md-option>
                  <md-option value="2">S1-B</md-option>
                  <md-option value="3">S2-B</md-option>
                  <md-option value="4">S2-B</md-option>
                </md-select>
              </md-field>
              <md-field>
                <label>ชั้นเก็บของสินค้าซื้อ</label>
                <md-select v-model="def_buy_shelf_id" name="movie" id="movie">
                  <md-option value="1">S1-A</md-option>
                </md-select>
              </md-field>
              <md-field>
                <label>โรงเก็บของสินค้าขาย</label>
                <md-select v-model="def_sale_shelf_id" name="movie" id="movie">
                  <md-option value="1">S1-A</md-option>
                  <md-option value="2">S1-B</md-option>
                  <md-option value="3">S2-B</md-option>
                  <md-option value="4">S2-B</md-option>
                </md-select>
              </md-field>
              <md-field>
                <label>ชั้นเก็บของสินค้าขาย</label>
                <md-select v-model="def_sale_wh_id" name="movie" id="movie">
                  <md-option value="1">S1-A</md-option>
                </md-select>
              </md-field>
          </div>
        </md-card-content>
        <md-button
          style="float:center;"
          class="md-raised md-primary"
          @click="setdone()"
        >บันทึก</md-button>
      </md-card>
    </form>
  </div>
</template>
<script src="../../js/setting.js"></script>
<style scoped>
.md-field.md-focused .md-icon,
.md-field.md-has-value .md-icon {
  color: blue !important;
  font-size: 20px !important;
  position: relative;
  top: -3px;
}
</style>
