<template>
  <div class="depositDev">
    <loading :active.sync="isLoading" :can-cancel="true" :is-full-page="true"></loading>
    <md-steppers md-sync-route md-dynamic-height :md-active-step.sync="active">
      <md-step id="first" md-label="ฟอร์มใบรับเงินมัดจำ">
        <div class="md-layout md-gutter" style="margin-left: 50px">
          <!-- <div
            class="md-layout-item md-size-10 md-small-size-100"
            style="text-align:right;"
          ></div>-->

          <div class="md-layout-item md-size-45 md-small-size-100">
            <md-field>
              <label class="md-title sub">เลขที่ใบรับเงินมัดจำ</label>
              <md-input v-model="serialNo" disabled></md-input>
              <!-- <md-select
                placeholder="เลขที่ใบรับเงินมัดจำ"
                v-model="tablecode"
              >
                <md-option value="0">VAT-แผนกค้าปลีก</md-option>
                <md-option value="1">NoVat-แผนกค้าปลีก</md-option>
                <md-option value="2">VAT-แผนกขายโครงการ</md-option>
                <md-option value="3">NoVat-แผนกขายโครงการ</md-option>
                <md-option value="4">VAT-ส่งออก</md-option>
                <md-option value="5">VAT-แผนกค้าปลีก S03</md-option>
              </md-select>-->
            </md-field>
          </div>

          <div class="md-layout-item md-size-45 md-small-size-100 offset-1">
            <div class="form-group row">
              วันที่ออกเอกสาร :
              <div class="col-md-8 col-12">
                <vue-ctk-date-time-picker
                  locale="th"
                  format="YYYY-MM-DD"
                  v-model="documentDate"
                  :disable-time="true"
                ></vue-ctk-date-time-picker>
              </div>
            </div>
          </div>

          <div class="md-layout-item md-size-45 md-small-size-100">
            <md-field>
              <label class="md-title sub">เลขที่ใบกำกับภาษี</label>
              <md-input v-model="taxNo" required></md-input>
              <md-button @click="convertTaxNo()" style="width:50px; height: 30px;">
                <md-icon>compare_arrows</md-icon>
              </md-button>
            </md-field>
          </div>

          <div class="md-layout-item md-size-45 md-small-size-100 offset-1">
            <div class="form-group row">
              วันที่ใบกำกับภาษี :
              <div class="col-md-8 col-12">
                <vue-ctk-date-time-picker
                  locale="th"
                  format="YYYY-MM-DD"
                  v-model="documentDate"
                  :disable-time="true"
                ></vue-ctk-date-time-picker>
              </div>
            </div>
          </div>

          <div class="md-layout-item md-size-30 md-small-size-100">
            <md-field>
              <label class="md-title sub">ประเภทภาษี</label>
              <md-select v-model="feeType" name="tax_type" id="tax_type" placeholder="ประเภทภาษี" required>
                <md-option value="0">ภาษีแยกนอก</md-option>
                <md-option value="1">ภาษีรวมใน</md-option>
                <md-option value="2">ภาษีอัตราศูนย์</md-option>
              </md-select>
            </md-field>
          </div>

          <div class="md-layout-item md-size-30 md-small-size-100">
            <md-field>
              <md-input v-model="billgroup" placeholder="กลุ่มเอกสาร"></md-input>
            </md-field>
          </div>

          <div class="md-layout-item md-size-30 md-small-size-100">
            <md-field>
              <label class="md-title sub">ชื่อในการออกบิล</label>
              <md-input v-model="customerName" required></md-input>
            </md-field>
          </div>

          <div class="md-layout-item md-size-30 md-small-size-100">
            <md-field>
              <label class="md-title sub">
                <md-icon>account_circle</md-icon>ค้นหารหัสลูกค้า
              </label>
              <md-input @keyup.enter="showDialog = true,searchCustomerAllKeyApi()" v-model="customerCode" required=""></md-input>
              <div class="input-group-append">
                <button class="btn btn-primary icon-margin search-icon" @click="showDialog = true">
                  <md-icon class="search-icon">search</md-icon>
                </button>
              </div>
            </md-field>
          </div>
          <div style="position: relative;" class="md-layout-item md-size-30 md-small-size-100">
            <md-field>
              <label class="md-title sub">ชื่อลูกค้า</label>
              <md-input disabled v-model="customerName"></md-input>
            </md-field>
          </div>

          <div class="md-layout-item md-size-30 md-small-size-100">
            <md-field>
              <label class="md-title sub">
                <md-icon>list</md-icon>ค้นหาเลขที่ใบสั่งจอง
              </label>
              <md-input @keyup.enter="showReserve = true,searchReserveKeyApi()" v-model="reserveNo" required></md-input>
              <div class="input-group-append">
                <button
                  class="btn btn-primary icon-margin search-icon"
                  @click="showReserve = true,searchReserveKeyApi()"
                >
                  <md-icon class="search-icon">search</md-icon>
                </button>
              </div>
            </md-field>
          </div>

          <div class="md-layout-item md-size-45 md-xsmall-size-100">
            <label class="md-title sub">ที่อยู่ในการออกบิล</label>
            <textarea type="text" class="form-control" v-model="customerAddress" rows="2"></textarea>
          </div>

          <div class="md-layout-item md-size-45 md-xsmall-size-100">
            <label class="md-title sub">หมายเหตุ</label>
            <textarea type="text" id="depNotice" class="form-control" v-model="infoNotice" rows="2"></textarea>
            <!-- <componentnote
            :infoNotice="infoNotice"
            v-model="infoNotice">
            </componentnote>-->
          </div>
          <!-- /////////////////////////////////////////////////////////////พนักงาน///////////////////////////////////////////////////////////////////// -->
          <div class="md-layout-item md-size-100 md-xsmall-size-100" style="padding:10px;">
            <div class="md-layout-item md-layout md-gutter">
              <div class="md-layout-item md-size-30 md-small-size-100" style="position:relative">
                <md-field>
                  <label for="first-name subnotop">รหัสพนักงานขาย</label>
                  <md-input
                    name="first-name"
                    ref="codesale"
                    @keyup.enter="searchsale_step2"
                    v-model="salecode"
                    id="first-name"
                    autocomplete="given-name"
                    :disabled="selectSale==true"
                    required
                  />
                  <md-button
                    @click="searchsale_step2"
                    class="md-icon-button md-raised add md-dense"
                    style="position:relative;top:-5px;left:-5px;"
                    v-if="selectSale==false"
                  >
                    <md-icon>add</md-icon>
                    <md-tooltip md-direction="top">
                      <md-icon style="color:white;">keyboard</md-icon>รหัสพนักงาน หรือ ชื่อพนักงาน + Enter
                    </md-tooltip>
                  </md-button>
                  <md-button
                    @click="searchsale_step2,selectSale=false,salecode=''"
                    class="md-icon-button md-raised add md-dense"
                    style="position:relative;top:-5px;left:-5px;"
                    v-if="selectSale==true"
                  >
                    <md-icon>clear</md-icon>
                    <md-tooltip md-direction="top">
                      <md-icon style="color:white;">keyboard</md-icon>รหัสพนักงาน หรือ ชื่อพนักงาน + Enter
                    </md-tooltip>
                  </md-button>
                </md-field>
              </div>
              <div class="md-layout-item md-size-30 md-small-size-100">
                <md-field>
                  <label for="last-name subnotop">แผนก</label>
                  <md-input
                    name="last-name"
                    id="last-name"
                    @keyup.enter="searchdepart_step2"
                    v-model="department"
                    autocomplete="family-name"
                  />
                  <md-button
                    @click="searchdepart_step2"
                    class="md-icon-button md-raised add md-dense"
                    style="position:relative;top:-5px;left:-5px;"
                  >
                    <md-icon>add</md-icon>
                    <md-tooltip md-direction="top">
                      <md-icon style="color:white;">keyboard</md-icon>รหัสแผนก หรือ ชื่อแผนก + Enter
                    </md-tooltip>
                  </md-button>
                </md-field>
              </div>
              <!-- <div class="md-layout-item md-size-30 md-small-size-100">
                <md-field>
                  <label for="last-name">รหัสผู้ติดต่อ</label>
                  <md-input name="last-name" id="last-name" autocomplete="family-name" v-model="custcontact" @keyup.enter="searchCustContact"/>
                  <md-button @click="searchCustContact" class="md-icon-button md-raised add md-dense" style="position:relative;top:-5px;left:-5px;">
                    <md-icon>add</md-icon>
                  </md-button>
                </md-field>
              </div>-->
              <div class="md-layout-item md-size-30 md-small-size-100">
                <md-field>
                  <label for="last-name">การจัดสรร</label>
                  <md-input
                    name="last-name"
                    id="last-name"
                    @keyup.enter="searchAllocate"
                    v-model="Allocate"
                    autocomplete="family-name"
                  />
                  <md-button
                    @click="searchAllocate"
                    class="md-icon-button md-raised add md-dense"
                    style="position:relative;top:-5px;left:-5px;"
                  >
                    <md-icon>add</md-icon>
                    <md-tooltip md-direction="top">
                      <md-icon style="color:white;">keyboard</md-icon>รหัสการจัดสรร หรือ ชื่อการจัดสรร + Enter
                    </md-tooltip>
                  </md-button>
                </md-field>
              </div>
              <div class="md-layout-item md-size-30 md-small-size-100">
                <md-field>
                  <label for="last-name">โครงการ</label>
                  <md-input
                    name="last-name"
                    id="last-name"
                    @keyup.enter="searchproject_step2"
                    v-model="project"
                    autocomplete="family-name"
                  />
                  <md-button
                    @click="searchproject_step2"
                    class="md-icon-button md-raised add md-dense"
                    style="position:relative;top:-5px;left:-5px;"
                  >
                    <md-icon>add</md-icon>
                    <md-tooltip md-direction="top">
                      <md-icon style="color:white;">keyboard</md-icon>รหัสโครงการ หรือ ชื่อโครงการ + Enter
                    </md-tooltip>
                  </md-button>
                </md-field>
              </div>
              <div class="md-layout-item md-size-30 md-small-size-100">
                <md-field>
                  <label for="last-name">Job ID (Optional)</label>
                  <md-input v-model="jobNo"/>
                  <md-button
                    @click="tests"
                    class="md-icon-button md-raised add md-dense"
                    style="position:relative;top:-5px;left:-5px;"
                  >
                    <md-icon>add</md-icon>
                  </md-button>
                </md-field>
              </div>
              <!-- <div class="md-layout-item md-size-30 md-small-size-100">
                <md-field>
                  <label for="last-name">Po</label>
                  <md-input name="last-name" id="last-name" autocomplete="family-name"/>
                  <md-button @click="tests" class="md-icon-button md-raised add md-dense" style="position:relative;top:-5px;left:-5px;">
                    <md-icon>add</md-icon>
                  </md-button>
                </md-field>
              </div>-->
            </div>
          </div>

          <div class="col-md-11 col-12">
            <div class="tax-bottom-part tax-head col-md-12 col-6" style="right: 5px;">
              <button
                :disabled="customerCode==''||customerName==''||reserveNo==''"
                @click="setDone('first', 'second')"
                class="btn btn-primary"
              >
                <span>ถัดไป</span>
              </button>
            </div>
          </div>
        </div>
      </md-step>
      <!-- ////////////////////////////////////////////////////////////////end md-step1////////////////////////////////////////////////////////////////// -->
      <md-step id="second" to md-label="ช่องทางการชำระเงิน">
        <div>
          <div>
            <div class="row">
              <div class="col-12 col-md-7 col-lg-8 big-margin">
                <div class="card">
                  <div class="card-header deposit-header">
                    <span>วิธีการชำระเงิน</span>
                  </div>
                  <!-- <div class="deposit-border">
                    <div class="row">
                      <div class="col-md-12 col-12">
                        <div class="form-group row">
                          <p class="article-set col-md-3 col-12">
                            <span style="color:red">*</span> ประเภทภาษี :
                          </p>
                          <div class="col-md-8 col-12">
                            <select id="tax_type" v-model="feeType" class="form-control">
                              <option value="0">ภาษีแยกนอก</option>
                              <option value="1">ภาษีรวมใน</option>
                              <option value="2">ภาษีอัตราศูนย์</option>
                            </select>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12 col-12">
                        <div class="form-group row">
                          <p class="article-set col-md-3 col-12">
                            <span style="color:red">*</span> ราคารวม :
                          </p>
                          <div class="col-md-8 col-12">
                            <money
                              id="total_pay"
                              class="form-control"
                              min="0"
                              v-model.number="payment"
                              v-bind="money"
                              @keypress="isNumber(event)"
                              v-on:keyup.native.enter="getFocus('cash_pay')"
                              v-on:keyup.native.down="getFocus('cash_pay')"
                            ></money>
                          </div>
                        </div>
                      </div>
                    </div>
                    <hr class="col-10">
                    <h4 class="payment-sub-header information-part col-12">เงินสด</h4>
                    <div class="row">
                      <div class="col-md-12 col-12">
                        <div class="form-group row">
                          <p class="article-set col-md-3 col-12">
                            <span style="color:red">*</span> จำนวนเงิน :
                          </p>
                          <div class="col-md-8 col-12">
                            <money
                              id="cash_pay"
                              class="form-control"
                              min="0"
                              v-model.number="cashPayment"
                              v-bind="money"
                              @keypress="isNumber(event)"
                              v-on:keyup.native.enter="getFocus('add_cr')"
                              v-on:keyup.native.up="getFocus('total_pay')"
                              v-on:keyup.native.down="getFocus('add_cr')"
                            ></money>
                          </div>
                        </div>
                      </div>
                    </div>

                    <hr class="col-10">
                    <h4 class="payment-sub-header information-part col-12">บัตรเครดิต/บัตรเดบิต</h4>
                    <div
                      class="col-md-12 col-12"
                      v-for="(val,index) in creditCardList"
                      :key="index"
                    >
                      <div class="form-group row">
                        <div class="col-lg-12 col-md-12 col-12">
                          <div class="alert alert-info">
                            <a
                              class="close"
                              data-dismiss="alert"
                              aria-label="close"
                              @click="removeCreditCard(index)"
                            >&times;</a>
                            <a class="edit close">
                              <i
                                class="material-icons"
                                @click="showCredit=true,pullCreditCard(index),isEditCr=true"
                              >edit</i>
                            </a>
                            <span
                              class="fontsize"
                            >เลขบัตร : {{"XXXX-XXXX-XXXX-"+val.credit_card_no}}</span>
                            <span class="fontsize">จำนวนเงิน : {{convertToBaht(val.amount)+" บาท"}}</span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-12 col-12" style="text-align:center">
                      <button
                        id="add_cr"
                        class="btn btn-primary"
                        @click="showCredit=true,resetCredit(),isEditCr=false"
                        @keyup.up="getFocus('cash_pay')"
                        @keyup.down="getFocus('add_chq')"
                      >
                        <div class="row">
                          <i
                            class="material-icons"
                            style="padding:5px 5px 5px 10px"
                          >add_circle_outline</i>
                          <span style="padding:5px 10px 5px 5px">เพิ่มบัตรเครดิต</span>
                        </div>
                      </button>
                    </div>

                    <hr class="col-10">
                    <h4 class="payment-sub-header information-part col-12">เช็ค</h4>
                    <div class="col-md-12 col-12" v-for="(val,index) in chqList" :key="index">
                      <div class="form-group row">
                        <div class="col-lg-12 col-md-12 col-12">
                          <div class="alert alert-info">
                            <a
                              class="close"
                              data-dismiss="alert"
                              aria-label="close"
                              @click="removeChq(index)"
                            >&times;</a>
                            <a class="edit close">
                              <i
                                class="material-icons"
                                @click="showChq=true,isEditChq=true,pullChq(index)"
                              >edit</i>
                            </a>
                            <span class="fontsize">เลขบัตร : {{val.chq_number}}</span>
                            <span
                              class="fontsize"
                            >จำนวนเงิน : {{convertToBaht(val.chq_amount)+" บาท"}}</span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-12 col-12" style="text-align:center">
                      <button
                        id="add_chq"
                        class="btn btn-primary"
                        @click="showChq=true,resetChq(),isEditChq=false"
                        @keyup.down="getFocus('add_b')"
                        @keyup.up="getFocus('add_cr')"
                      >
                        <div class="row">
                          <i
                            class="material-icons"
                            style="padding:5px 5px 5px 10px"
                          >add_circle_outline</i>
                          <span style="padding:5px 10px 5px 5px">เพิ่มเช็คเงินสด</span>
                        </div>
                      </button>
                    </div>

                    <hr class="col-10">
                    <h4 class="payment-sub-header information-part col-12">เงินโอน</h4>
                    <div class="col-md-12 col-12" v-for="(val,index) in bankTransList" :key="index">
                      <div class="form-group row">
                        <div class="col-lg-12 col-md-12 col-12">
                          <div class="alert alert-info">
                            <a
                              class="close"
                              data-dismiss="alert"
                              aria-label="close"
                              @click="removeBank(index)"
                            >&times;</a>
                            <a class="edit close">
                              <i
                                class="material-icons"
                                @click="showBank=true,isEditBank=true,pullBank(index)"
                              >edit</i>
                            </a>
                            <span class="fontsize">เลขที่บัญชี : {{val.bank_account}}</span>
                            <span
                              class="fontsize"
                            >จำนวนเงิน : {{convertToBaht(val.bank_amount)+" บาท"}}</span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-12 col-12" style="text-align:center">
                      <button
                        id="add_bank"
                        class="btn btn-primary"
                        @click="showBank=true,resetBank(),isEditBank=false"
                        @keyup.down="getFocus('add_doc')"
                        @keyup.up="getFocus('add_chq')"
                      >
                        <div class="row">
                          <i
                            class="material-icons"
                            style="padding:5px 5px 5px 10px"
                          >add_circle_outline</i>
                          <span style="padding:5px 10px 5px 5px">เพิ่มเลขเงินโอน</span>
                        </div>
                      </button>
                    </div>

                    <hr class="col-10">
                  </div>-->
                  <Payment
                    :totalprice="payment"
                    :creditCardLists="creditCardList"
                    :chqLists="chqList"
                    :typepage="'invoice'"
                    :bankTransLists="bankTransList"
                    :balance="balance"
                    :cashPayments.sync="cashPayment"
                  ></Payment>
                </div>
              </div>
              <div class="col-12 col-md-5 col-lg-4 big-margin">
                <div class="card stickydestop" style="position: sticky; top: 0;">
                  <div class="card-header tax-header">
                    <span>สรุปยอดชำระเงิน</span>
                  </div>
                  <div class="tax-border">
                    <div class="row tax-head-part">
                      <div class="col-md-12">
                        <div class="form-group">
                          <p class="tax-head">อัตราภาษีมูลค่าเพิ่ม : {{taxrate}} %</p>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group">
                          <p
                            class="tax-head"
                          >จำนวนเงินก่อนภาษี : {{ convertToBaht(payment_type) }} บาท</p>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group">
                          <p class="tax-head">ภาษีมูลค่าเพิ่ม : {{ convertToBaht(cal_VAT) }} บาท</p>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group">
                          <p class="tax-summary">มูลค่ารวมภาษี : {{ convertToBaht(total_VAT) }} บาท</p>
                        </div>
                      </div>
                    </div>
                    <div class="row tax-bottom-part">
                      <div class="col-md-12">
                        <div class="form-group">
                          <p class="tax-head">เงินทอน : {{ convertToBaht(balance) }} บาท</p>
                        </div>
                      </div>
                    </div>
                    <div class="tax-bottom-part tax-button">
                      <button
                        id="add_doc"
                        :disabled="feeType==''||balance<0||balance>0||payment==null||payment==0"
                        @keyup.left="getFocus('bank_pay')"
                        @keyup.up="getFocus('bank_pay')"
                        @click="createDepositNoApi(),confirm=true;"
                        class="btn btn-primary"
                      >
                        <span>บันทึก</span>
                      </button>
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group">
                          <p
                            class="tax-head"
                            style="color:red"
                            :hidden="(feeType!=''&&balance>=0)||feeType==''"
                          >*ยอดชำระไม่เพียงพอ</p>
                        </div>
                      </div>
                    </div>
                    <div class="row tax-bottom-part">
                      <div class="col-md-12">
                        <div class="form-group">
                          <p
                            class="tax-head"
                            style="color:red"
                            :hidden="(feeType!=''&&balance<=0)||feeType==''"
                          >*ยอดชำระมากเกินไป</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <md-dialog :md-active="showCredit">
          <md-dialog-content class="modal-content">
            <div class="modal-header">
              <h4 style="margin-top:-20px">บัตรเครดิต</h4>
            </div>
            <div class="modal-body">
              <div class="col-md-12 col-12">
                <div class="row">
                  <p class="method-set col-lg-4 col-md-12 col-12">
                    <span style="color:red">*</span> เลขที่เครดิต :
                  </p>
                  <div class="col-lg-7 col-md-12 col-12">
                    <p>
                      <input
                        id="cr_no"
                        class="form-control"
                        type="text"
                        v-model.number="creditNumber"
                        maxlength="4"
                        v-autofocus
                        @keypress="isNumber(event)"
                        @keyup.enter="getFocus('cr_ref_no')"
                        @keyup.down="getFocus('cr_ref_no')"
                        placeholder="เลขสี่ตัวท้ายของบัตร"
                      >
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-md-12 col-12">
                <div class="row">
                  <p class="method-set col-lg-4 col-md-12 col-12">
                    <span style="color:red">*</span> เลขที่อนุมัติ :
                  </p>
                  <div class="col-lg-7 col-md-12 col-12">
                    <p>
                      <input
                        id="cr_ref_no"
                        class="form-control"
                        v-model="validateCreditCardNo"
                        maxlength="6"
                        @keypress="isNumber(event)"
                        ref="refNo"
                        @keyup.enter="getFocus('bank_no')"
                        @keyup.down="getFocus('bank_no')"
                        @keyup.up="getFocus('cr_no')"
                      >
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-md-12 col-12">
                <div class="row">
                  <p class="method-set col-lg-4 col-md-12 col-12">
                    <span style="color:red">*</span> รหัสธนาคาร :
                  </p>
                  <div class="col-lg-7 col-md-12 col-12">
                    <p>
                      <input
                        id="bank_no"
                        class="form-control"
                        v-model="creditBank"
                        @keyup.enter="getFocus('cr_type')"
                        @keyup.down="getFocus('cr_type')"
                        @keyup.up="getFocus('cr_ref_no')"
                      >
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-md-12 col-12">
                <div class="row">
                  <p class="method-set col-lg-4 col-md-12 col-12">
                    <span style="color:red">*</span> ประเภทบัตร :
                  </p>
                  <div class="col-lg-7 col-md-12 col-12">
                    <p>
                      <input
                        id="cr_type"
                        class="form-control"
                        v-model="creditType"
                        @keyup.enter="getFocus('credit_price')"
                        @keyup.down="getFocus('credit_price')"
                        @keyup.up="getFocus('bank_no')"
                      >
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-md-12 col-12">
                <div class="row">
                  <p class="method-set col-lg-4 col-md-12 col-12">
                    <span style="color:red">*</span> ยอดเงิน :
                  </p>
                  <div class="col-lg-7 col-md-12 col-12">
                    <p>
                      <money
                        id="credit_price"
                        class="form-control"
                        v-model.number="creditPrice"
                        v-bind="money"
                        v-on:keyup.native.enter="getFocus('cr_charge')"
                        v-on:keyup.native.down="getFocus('cr_charge')"
                        v-on:keyup.native.up="getFocus('cr_type')"
                      ></money>
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-md-12 col-12">
                <div class="row">
                  <p class="method-set col-lg-4 col-md-12 col-12">ค่า Charge :</p>
                  <div class="col-lg-7 col-md-12 col-12">
                    <p>
                      <input
                        id="cr_charge"
                        class="form-control"
                        v-model="cardCharge"
                        @change="chargeCal"
                        @keyup.enter="getFocus('cr_notice')"
                        @keyup.down="getFocus('cr_notice')"
                        @keyup.up="getFocus('credit_price')"
                      >
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-md-12 col-12" v-if="isEditCr==false">
                <div class="row">
                  <p class="method-set col-lg-4 col-md-12 col-12">หมายเหตุ :</p>
                  <div class="col-lg-7 col-md-12 col-12">
                    <p>
                      <textarea
                        id="cr_notice"
                        class="form-control"
                        v-model.number="creditNotice"
                        rows="2"
                        ref="crNotice"
                        @keyup.enter="getFocus('submit_cr')"
                        @keyup.down="getFocus('submit_cr')"
                        @keyup.up="getFocus('cr_charge')"
                      ></textarea>
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-md-12 col-12" v-if="isEditCr==true">
                <div class="row">
                  <p class="method-set col-lg-4 col-md-12 col-12">หมายเหตุ :</p>
                  <div class="col-lg-7 col-md-12 col-12">
                    <p>
                      <textarea
                        id="cr_notice"
                        class="form-control"
                        v-model.number="creditNotice"
                        rows="2"
                        ref="crNotice"
                        @keyup.enter="getFocus('submit_cr')"
                        @keyup.down="getFocus('submit_cr')"
                        @keyup.up="getFocus('cr_charge')"
                      ></textarea>
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button
                id="submit_cr"
                v-if="isEditCr==false"
                :disabled="creditType==''||creditBank==''||(creditNumber.length<4)||(validateCreditCardNo.length<6)||creditPrice==0"
                @click="createCreditCard(),resetCredit(),showCredit = false"
                @keyup.up="getFocus('cr_notice')"
                @keyup.right="getFocus('cancel_cr')"
                ref="crButton"
                class="btn btn-success"
                style="margin-top:25px"
              >
                <span>เพิ่ม</span>
              </button>
              <button
                id="submit_cr"
                v-if="isEditCr==true"
                :disabled="creditType==''||creditBank==''||(creditNumber.length<4)||(validateCreditCardNo.length<6)||creditPrice==0"
                @click="editCreditCard(),resetCredit(),showCredit = false"
                @keyup.up="getFocus('cr_notice')"
                @keyup.right="getFocus('cancel_cr')"
                ref="crButton"
                class="btn btn-success"
                style="margin-top:25px"
              >
                <span>แก้ไข</span>
              </button>
              <button
                id="cancel_cr"
                style="margin-top:25px"
                class="btn btn-danger"
                @click="showCredit = false"
                @keyup.up="getFocus('cr_notice')"
                @keyup.left="getFocus('submit_cr')"
              >ยกเลิก</button>
            </div>
          </md-dialog-content>
        </md-dialog>

        <md-dialog :md-active="showChq">
          <md-dialog-content class="modal-content">
            <div class="modal-header">
              <h4>เช็ค</h4>
            </div>
            <div class="modal-body">
              <div class="row">
                <p class="method-set col-lg-4 col-md-12 col-12">
                  <span style="color:red">*</span> เลขที่เช็ค :
                </p>
                <div class="col-lg-7 col-md-12 col-12">
                  <p>
                    <input
                      id="chq_no"
                      class="form-control"
                      v-model="checkNumber"
                      @keyup.enter="getFocus('chq_prize')"
                      @keyup.down="getFocus('chq_prize')"
                    >
                  </p>
                </div>
              </div>
              <div class="row">
                <p class="method-set col-lg-4 col-md-12 col-12">
                  <span style="color:red">*</span> มูลค่าเช็ค :
                </p>
                <div class="col-lg-7 col-md-12 col-12">
                  <p>
                    <money
                      id="chq_prize"
                      class="form-control"
                      min="0"
                      v-model.number="chqPrize"
                      v-bind="money"
                      v-on:keyup.native.enter="getFocus('bank')"
                      v-on:keyup.native.down="getFocus('bank')"
                      v-on:keyup.native.up="getFocus('chq_no')"
                    ></money>
                  </p>
                </div>
              </div>
              <div class="row">
                <p class="method-set col-lg-4 col-md-12 col-12">
                  <span style="color:red">*</span> ธนาคาร :
                </p>
                <div class="col-lg-7 col-md-12 col-12">
                  <p>
                    <input
                      id="bank"
                      class="form-control"
                      v-model="checkBankId"
                      @keyup.enter="getFocus('chq_pay')"
                      @keyup.down="getFocus('chq_day')"
                      @keyup.up="getFocus('chq_prize')"
                    >
                  </p>
                </div>
              </div>
              <div class="row">
                <p class="method-set col-lg-4 col-md-12 col-12">
                  <span style="color:red">*</span> วันที่ลงเช็ค :
                </p>
                <div class="col-lg-7 col-md-12 col-12">
                  <p>
                    <vue-ctk-date-time-picker
                      id="chq_day"
                      locale="th"
                      format="YYYY-MM-DD"
                      v-model="chqDate"
                      :disable-time="true"
                    ></vue-ctk-date-time-picker>
                  </p>
                </div>
              </div>
              <div class="row">
                <p class="method-set col-lg-4 col-md-12 col-12">
                  <span style="color:red">*</span> จำนวนเงิน :
                </p>
                <div class="col-lg-7 col-md-12 col-12">
                  <p>
                    <money
                      id="chq_pay"
                      class="form-control"
                      min="0"
                      v-model.number="checkPayment"
                      v-bind="money"
                      v-on:keyup.native.enter="getFocus('chq_notice')"
                      v-on:keyup.native.down="getFocus('chq_notice')"
                      v-on:keyup.native.up="getFocus('bank')"
                    ></money>
                  </p>
                </div>
              </div>
              <div class="form-group row" v-if="isEditChq==false">
                <p class="method-set col-lg-4 col-md-12 col-12">หมายเหตุ :</p>
                <div class="col-lg-7 col-md-12 col-12">
                  <p>
                    <textarea
                      id="chq_notice"
                      class="form-control"
                      v-model.number="chqNotice"
                      rows="2"
                      @keyup.down="getFocus('submit_chq')"
                      @keyup.up="getFocus('chq_pay')"
                    ></textarea>
                  </p>
                </div>
              </div>
              <div class="form-group row" v-if="isEditChq==true">
                <p class="method-set col-lg-4 col-md-12 col-12">หมายเหตุ :</p>
                <div class="col-lg-7 col-md-12 col-12">
                  <p>
                    <textarea
                      id="chq_notice"
                      class="form-control"
                      v-model.number="chqNotice"
                      rows="2"
                      @keyup.down="getFocus('submit_chq')"
                      @keyup.up="getFocus('chq_pay')"
                    ></textarea>
                  </p>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button
                id="submit_chq"
                v-if="isEditChq==false"
                :disabled="checkNumber==''||checkPayment==''||checkBankId==''||typeof(checkPayment)=='string'||checkPayment==0"
                @keyup.up="getFocus('chq_notice')"
                @keyup.right="getFocus('cancel_chq')"
                @click="createChq(),resetChq,showChq = false"
                class="btn btn-success"
              >
                <span>เพิ่ม</span>
              </button>
              <button
                id="submit_chq"
                v-if="isEditChq==true"
                :disabled="checkNumber==''||checkPayment==''||checkBankId==''||typeof(checkPayment)=='string'||checkPayment==0"
                @keyup.up="getFocus('chq_notice')"
                @keyup.right="getFocus('cancel_chq')"
                @click="editChq(),resetChq,showChq = false"
                class="btn btn-success"
              >
                <span>แก้ไข</span>
              </button>
              <button
                id="cancel_chq"
                style="text-align:center"
                class="btn btn-danger"
                @keyup.up="getFocus('chq_notice')"
                @keyup.left="getFocus('submit_chq')"
                @click="showChq = false"
              >ยกเลิก</button>
            </div>
          </md-dialog-content>
        </md-dialog>

        <md-dialog :md-active="showBank">
          <md-dialog-content class="modal-content">
            <div class="modal-header">
              <h4>เงินโอน</h4>
            </div>
            <div class="modal-body">
              <div class="row">
                <p class="method-set col-lg-4 col-md-12 col-12">
                  <span style="color:red">*</span> เลขที่บัญชี :
                </p>
                <div class="col-lg-7 col-md-12 col-12">
                  <p>
                    <input
                      id="bank_acc"
                      class="form-control"
                      v-model="bankAccount"
                      @keyup.enter="getFocus('bank_day')"
                      @keyup.down="getFocus('bank_day')"
                    >
                  </p>
                </div>
              </div>
              <div class="row">
                <p class="method-set col-lg-4 col-md-12 col-12">
                  <span style="color:red">*</span> วันที่โอนเงิน :
                </p>
                <div class="col-lg-7 col-md-12 col-12">
                  <p>
                    <vue-ctk-date-time-picker
                      id="bank_day"
                      locale="th"
                      format="YYYY-MM-DD"
                      v-model="bankTransDate"
                      :disable-time="true"
                    ></vue-ctk-date-time-picker>
                  </p>
                </div>
              </div>
              <div class="row">
                <p class="method-set col-lg-4 col-md-12 col-12">
                  <span style="color:red">*</span> จำนวนเงิน :
                </p>
                <div class="col-lg-7 col-md-12 col-12">
                  <p>
                    <money
                      id="bank_pay"
                      class="form-control"
                      min="0"
                      v-model.number="bankPayment"
                      v-bind="money"
                      v-on:keyup.native.enter="getFocus('chq_notice')"
                      v-on:keyup.native.down="getFocus('bank_notice')"
                      v-on:keyup.native.up="getFocus('bank')"
                    ></money>
                  </p>
                </div>
              </div>
              <div class="form-group row" v-if="isEditBank==false">
                <p class="method-set col-lg-4 col-md-12 col-12">หมายเหตุ :</p>
                <div class="col-lg-7 col-md-12 col-12">
                  <p>
                    <textarea
                      id="bank_notice"
                      class="form-control"
                      v-model.number="bankNotice"
                      rows="2"
                      @keyup.down="getFocus('submit_bank')"
                      @keyup.up="getFocus('bank_pay')"
                    ></textarea>
                  </p>
                </div>
              </div>
              <div class="form-group row" v-if="isEditBank==true">
                <p class="method-set col-lg-4 col-md-12 col-12">หมายเหตุ :</p>
                <div class="col-lg-7 col-md-12 col-12">
                  <p>
                    <textarea
                      id="bank_notice"
                      class="form-control"
                      v-model.number="bankNotice"
                      rows="2"
                      @keyup.down="getFocus('submit_bank')"
                      @keyup.up="getFocus('bank_pay')"
                    ></textarea>
                  </p>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button
                id="submit_bank"
                v-if="isEditBank==false"
                :disabled="bankAccount==''||bankPayment==''||bankTransDate==''||typeof(bankPayment)=='string'||bankPayment==0"
                @keyup.up="getFocus('bank_notice')"
                @keyup.right="getFocus('cancel_bank')"
                @click="createBank(),resetBank,showBank= false"
                class="btn btn-success"
              >
                <span>เพิ่ม</span>
              </button>
              <button
                id="submit_bank"
                v-if="isEditBank==true"
                :disabled="bankAccount==''||bankPayment==''||bankTransDate==''||typeof(bankPayment)=='string'||bankPayment==0"
                @keyup.up="getFocus('bank_notice')"
                @keyup.right="getFocus('cancel_bank')"
                @click="createBank(),resetBank,showBank= false"
                class="btn btn-success"
              >
                <span>แก้ไข</span>
              </button>
              <button
                id="cancel_bank"
                style="text-align:center"
                class="btn btn-danger"
                @keyup.up="getFocus('bank_notice')"
                @keyup.left="getFocus('submit_bank')"
                @click="showBank = false"
              >ยกเลิก</button>
            </div>
          </md-dialog-content>
        </md-dialog>

        <md-dialog :md-active="confirm">
          <span>ยื่นยันการบันทึกข้อมูลใบรับเงินมัดจำ</span>
          <div style="display:flex; align-items:center; justify-content:center;">
            <button
              class="btn btn-success"
              @click="createDepositDocApi(),createPrintData(),confirm=false"
            >ตกลง</button>
            <button class="btn btn-danger" @click="confirm=false">ยกเลิก</button>
          </div>
        </md-dialog>
      </md-step>

      <md-step id="third" to md-label="สรุปใบรับเงินมัดจำ">
        <div>
          <div>
            <div class="row">
              <div class="col-12 col-md-12 col-lg-12 card-control big-margin">
                <div class="card">
                  <div class="card-header deposit-header">
                    <span>ใบเสร็จรับเงินมัดจำ</span>
                  </div>
                  <div class="deposit-border">
                    <div class="row">
                      <div class="col-12">
                        <div class="row">
                          <div class="col-4">
                            <div style="color:grey">บิลถึงลูกค้า</div>
                            <div>รหัสลูกค้า : {{customerCode}}</div>
                            <div>ชื่อลูกค้า : {{customerName}}</div>
                          </div>
                          <div class="col-4">
                            <div style="color:grey">เลขที่เอกสาร</div>
                            <div>{{serialNo}}</div>
                          </div>
                          <div class="col-4" style="text-align:right">
                            <div style="color:grey">มูลค่ารวมภาษี</div>
                            <div>
                              <h2>{{convertToBaht(totalPayment)}} บาท</h2>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="form-group">
                        <div class="row" style="padding-top:3%">
                          <div class="tax-bottom-part finish-button col-8">
                            <button
                              class="btn btn-primary finish-button search-icon"
                              @click="goindex('/depositlist')"
                            >สิ้นสุด</button>
                          </div>
                          <div class="tax-bottom-part print-button col-4">
                            <form
                              :action="php + '/report_pdf/report_deposit.php'"
                              method="post"
                              target="_blank"
                            >
                              <input type="hidden" name="depData">
                              <button type="submit" class="btn btn-primary search-icon">Print</button>
                            </form>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </md-step>
    </md-steppers>

    <!-- /////////////////////////////////////////////////////////////modal///////////////////////////////////////////////////////////////////// -->
    <dev>
      <md-dialog :md-active.sync="showDialog" :md-fullscreen="false">
        <md-dialog-content class="modal-content">
          <div class="modal-header">
            <h4>ค้นหาลูกค้า</h4>
            <button type="button" class="close" @click="showDialog = false">&times;</button>
          </div>
          <div class="modal-body">
            <label>รหัสลูกค้า</label>
            <input
              id="searchCT"
              class="form-control"
              v-autofocus
              @keyup.enter="searchCustomerAllKeyApi"
              v-model="searchCustomerInput"
            >
            <div class="table-responsive">
              <table class="table table-hover">
                <thead align="center">
                  <tr>
                    <th>ลำดับ</th>
                    <th class="md-xsmall-hide">รหัสลูกค้า</th>
                    <th>ชื่อลูกค้า</th>
                    <th>ที่อยู่</th>
                  </tr>
                </thead>
                <tbody>
                  <tr
                    class="table-pointer"
                    @click="searchCustomer(val),showDialog = false,selectCustomer=true"
                    v-for="(val,index) in customerDetail"
                    :key="index"
                    style="text-align:center;cursor:pointer"
                  >
                    <td>{{index+1}}</td>
                    <td class="md-xsmall-hide">{{val.code}}</td>
                    <td>{{val.name}}</td>
                    <td>{{val.address}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="modal-footer">
            <md-dialog-actions>
              <md-button class="md-primary" @click="showDialog = false">Close</md-button>
            </md-dialog-actions>
          </div>
        </md-dialog-content>
      </md-dialog>

      <md-dialog :md-active.sync="showReserve" :md-fullscreen="false">
        <md-dialog-content class="modal-content">
          <div class="modal-header">
            <h4>ค้นหาใบสั่งจอง</h4>
            <button type="button" class="close" @click="showReserve = false">&times;</button>
          </div>
          <div class="modal-body">
            <label>ใบสั่งจอง</label>
            <input
              id="searchRS"
              class="form-control"
              v-autofocus
              @keyup.enter="searchReserveKeyApi"
              v-model="reserveNo"
            >
            <div class="table-responsive">
              <table class="table table-hover">
                <thead align="center">
                  <tr>
                    <th>ลำดับ</th>
                    <th class="md-xsmall-hide">เลขใบสั่งจอง</th>
                    <th>ชื่อลูกค้า</th>
                  </tr>
                </thead>
                <tbody>
                  <tr
                    class="table-pointer"
                    @click="searchReserve(val),showReserve = false"
                    v-for="(val,index) in reserveDetail"
                    :key="index"
                    style="text-align:center;cursor:pointer"
                  >
                    <td>{{index+1}}</td>
                    <td class="md-xsmall-hide">{{val.doc_no}}</td>
                    <td>{{val.ar_name}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="modal-footer">
            <md-dialog-actions>
              <md-button class="md-primary" @click="showReserve = false">Close</md-button>
            </md-dialog-actions>
          </div>
        </md-dialog-content>
      </md-dialog>
      <!-- search sale-->
      <md-dialog :md-active.sync="searchsale">
        <md-dialog-title>เลือกพนักงานขาย</md-dialog-title>
        <md-tabs md-dynamic-height>
          <md-tab md-label>
            <div class="table-responsive" style="overflow-y: auto;">
              <table class="table table-hover">
                <thead align="center">
                  <tr>
                    <th>ลำดับ</th>
                    <th id="colorselectorder">รหัสพนักงาน</th>
                    <th id="colorselectgroup">ชื่อพนักงาน</th>
                  </tr>
                </thead>
                <tbody id="valuetable">
                  <tr
                    @click="selectcus_step2(val)"
                    v-for="(val,index) in searchsaleobj"
                    :key="index"
                    style="text-align:center;cursor:pointer"
                  >
                    <td>{{index+1}}</td>
                    <td>{{val.sale_code}}</td>
                    <td>{{val.sale_name}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </md-tab>
        </md-tabs>
        <md-dialog-actions>
          <md-button class="md-primary" @click="searchsale = false">Close</md-button>
        </md-dialog-actions>
      </md-dialog>
      <!-- search depart -->
      <md-dialog :md-active.sync="searchdepart">
        <md-dialog-title>เลือกแผนก</md-dialog-title>
        <md-tabs md-dynamic-height>
          <md-tab md-label>
            <div class="table-responsive" style="overflow-y: auto;">
              <table class="table table-hover">
                <thead align="center">
                  <tr>
                    <th>ลำดับ</th>
                    <th id="colorselectorder">รหัสแผนก</th>
                    <th id="colorselectgroup">ชื่อแผนก</th>
                  </tr>
                </thead>
                <tbody id="valuetable">
                  <tr
                    @click="selectdepart_step2(val)"
                    v-for="(val,index) in objdepart"
                    :key="index"
                    style="text-align:center;cursor:pointer"
                  >
                    <td>{{index+1}}</td>
                    <td>{{val.code}}</td>
                    <td>{{val.name}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </md-tab>
        </md-tabs>
        <md-dialog-actions>
          <md-button class="md-primary" @click="searchdepart = false">Close</md-button>
        </md-dialog-actions>
      </md-dialog>
      <!-- search custcontact -->
      <md-dialog :md-active.sync="searchcustcontact">
        <md-dialog-title>เลือกแผนก</md-dialog-title>
        <md-tabs md-dynamic-height>
          <md-tab md-label>
            <div class="table-responsive" style="overflow-y: auto;">
              <table class="table table-hover">
                <thead align="center">
                  <tr>
                    <th>ลำดับ</th>
                    <th id="colorselectorder">รหัสผู้ติดต่อ</th>
                    <th id="colorselectgroup">ชื่อผู้ติดต่อ</th>
                  </tr>
                </thead>
                <tbody id="valuetable">
                  <tr
                    @click="selectCustContact_step2(val)"
                    v-for="(val,index) in objCustContact"
                    :key="index"
                    style="text-align:center;cursor:pointer"
                  >
                    <td>{{index+1}}</td>
                    <td>{{val.contact_code}}</td>
                    <td>{{val.contact_name}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </md-tab>
        </md-tabs>
        <md-dialog-actions>
          <md-button class="md-primary" @click="searchcustcontact = false">Close</md-button>
        </md-dialog-actions>
      </md-dialog>
      <!-- search  Allocate-->
      <md-dialog :md-active.sync="searchAllocate_m">
        <md-dialog-title>เลือกการจัดสรร</md-dialog-title>
        <md-tabs md-dynamic-height>
          <md-tab md-label>
            <div class="table-responsive" style="overflow-y: auto;">
              <table class="table table-hover">
                <thead align="center">
                  <tr>
                    <th>ลำดับ</th>
                    <th id="colorselectorder">รหัสการจัดสรร</th>
                    <th id="colorselectgroup">ชื่อการจัดสรร</th>
                  </tr>
                </thead>
                <tbody id="valuetable">
                  <tr
                    @click="selectAllocate_step2(val)"
                    v-for="(val,index) in objAllocate"
                    :key="index"
                    style="text-align:center;cursor:pointer"
                  >
                    <td>{{index+1}}</td>
                    <td>{{val.code}}</td>
                    <td>{{val.name}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </md-tab>
        </md-tabs>
        <md-dialog-actions>
          <md-button class="md-primary" @click="searchAllocate_m = false">Close</md-button>
        </md-dialog-actions>
      </md-dialog>
      <!-- search project -->
      <md-dialog :md-active.sync="searchproject">
        <md-dialog-title>เลือกโครงการ</md-dialog-title>
        <md-tabs md-dynamic-height>
          <md-tab md-label>
            <div class="table-responsive" style="overflow-y: auto;">
              <table class="table table-hover">
                <thead align="center">
                  <tr>
                    <th>ลำดับ</th>
                    <th id="colorselectorder">รหัสโครงการ</th>
                    <th id="colorselectgroup">ชื่อโครงการ</th>
                  </tr>
                </thead>
                <tbody id="valuetable">
                  <tr
                    @click="selectproject_step2(val)"
                    v-for="(val,index) in objproject"
                    :key="index"
                    style="text-align:center;cursor:pointer"
                  >
                    <td>{{index+1}}</td>
                    <td>{{val.code}}</td>
                    <td>{{val.name}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </md-tab>
        </md-tabs>
        <md-dialog-actions>
          <md-button class="md-primary" @click="searchproject = false">Close</md-button>
        </md-dialog-actions>
      </md-dialog>
    </dev>
    <!-- /////////////////////////////////////////////////////////////end-modal///////////////////////////////////////////////////////////////////// -->
  </div>
</template>

<script src="../../js/deposit.js"></script>
<style  src="./deposit.css"></style>
