<template>
   <div class="index" style="background: #f4f5f7;">
     <componentlist :typepage="'DS'"></componentlist>
  </div>
</template>
<script>
import api from "../../service/service.js";
import componentlist from "@/components/ui/componentlist";
export default {
  name: 'dp',
    components: {
    componentlist
  },
  data() {
    return {
      msg: "",
      searchDepositDoc: "",
      deplist: [],
      profile: JSON.parse(sessionStorage.Datauser)
    };
  },
  methods: {
  },

  mounted() {
  }
};
</script>
<style>
.container {
  padding: 5px 0;
}

.md-app {
  max-height: 400px;
  border: 1px solid rgba(#000, 0.12);
}

.md-drawer {
  width: 230px;
  max-width: calc(100vw - 125px);
}

.bl-title {
  font-size: 16px;
}

span {
  font-family: "Kanit", sans-serif !important;
}

.datehover,
.starhover {
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s;
}

.showhover:hover .datehover,
.showhover:hover .starhover {
  opacity: 1;
  visibility: visible;
}

.activeQ {
  background: #3d91ff !important;
}

.activeS {
  background: #64fc69 !important;
}

.activeB {
  background: #ff815a !important;
}

.activeD {
  background: #f4c20d !important;
}

.dateOfDep {
  float: right;
  font-size: 0.875rem;
  color: #5f6368;
  float: right;
  margin-right: 10px;
}

.md-toolbar {
  z-index: 1;
}

span,
label,
input {
  font-family: "Kanit", sans-serif !important;
}

.hoverdiv {
  transition: all 1s;
}
</style>
