* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.modal-content {
  padding: 12px !important;
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.65) !important;
  outline: 0;
}
.modal-dialog {
  position: relative;
  left: 48%;
  transform: translateX(-50%) !important;
  top: 11%;
}
.containerc {
  background-color: #f6f6fb;
  width: 100%;
  height: 100vh;
}

.header {
  /*            background: red;*/
  width: 100%;
  height: 40px;
  position: relative;
}

.header .containv {
  position: relative;
  /*            background: green;*/
  float: left;
  width: 50px;
  height: 100%;
}

.header .containr {
  position: relative;
  /*            background: green;*/
  float: right;
  width: 50px;
  height: 100%;
}

.containr .profile {
  background: black;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 50%;
}

.containbody {
  width: 100% !important;
  /*            background: red;*/
  position: relative !important;
}

.inputamount {
  width: 100%;
  height: 100%;
  font-size: 55px;
  text-align: right;
  outline: none;
  border: none;
}

.containclear {
  position: relative;
  background: white;
  width: 100%;
  height: 70px;
  border-left: 1px solid;
  border-right: 1px solid;
  border-bottom: 1px solid;
  border-color: rgba(0, 0, 0, 0.06);
  cursor: pointer;
}

.index {
  background: rgba(0, 0, 0, 0.5);
}
.containerc {
  position: relative;
  max-width: 400px;
  margin: 0 auto;
}
