<template>
  <div class="containerc">
    <loading :active.sync="isLoading" :can-cancel="true" :is-full-page="true"></loading>
    <md-toolbar style="transition:all 1s;margin: 0px 0px 5px 0px;" class="md-Transparent">
      <div class="md-layout md-gutter">
        <span
          style="font-family:'Open Sans', sans-serif;font-weight: bold;position: absolute;top: 50%;transform: translateY(-50%);left: 5px;font-size: 15px;white-space:nowrap"
        >Payment QR CODE</span>
      </div>
      <div class="md-layout-item" style="text-align:right;">
        <span
          style="font-family:'Open Sans', sans-serif;font-weight: bold;position: absolute;top:50%;transform: translateY(-50%);right: 0;font-size: 15px;"
        >0001</span>
      </div>
    </md-toolbar>
    <div class="contain">
      <div
        style="position: relative;background: white; width: 100%;height: 120px;border:1px solid;border-color:rgba(0,0,0,0.06);"
      >
        <input
          id="cr_no"
          class="inputamount"
          type="text"
          v-model="prompaly.phone"
          maxlength="10"
          v-autofocus
          @keypress="isNumber(event)"
          placeholder="หมายเลขโทรศัพท์"
        >
      </div>
    </div>
    <div class="containbody">
      <div
        style="position: relative;background: white; width: 100%;height: 120px;border:1px solid;border-color:rgba(0,0,0,0.06);"
      >
        <!-- <input
          type="number"
          id="fname"
          v-model.number="prompaly.price"
          class="inputamount"
          placeholder="จำนวนเงิน"
        > -->
        <money
          id="prom_pay"
          class="inputamount"
          min="0.00"
          v-model="prompaly.price"
          v-bind="money"
        ></money>
      </div>
    </div>
    <div class="col-md-12 col-12">
      <div class="row">
        <p class="method-set col-lg-4 col-md-12 col-12">หมายเหตุ :</p>
        <div class="col-lg-7 col-md-12 col-12">
          <p>
            <textarea
              id="cr_notice"
              class="form-control"
              v-model.number="prompaly.detailedit"
              rows="2"
              ref="crNotice"
            ></textarea>
          </p>
        </div>
      </div>
    </div>
    <div class="containclear" @click="button_clearvalue()">
      <span
        style="font-family:'Open Sans', sans-serif;font-weight: bold;font-size: 25px;position: absolute;right: 20px;top:50%;transform: translateY(-50%);"
      >CLEAR</span>
    </div>
    <div class="containclear">
      <button
        style="position: absolute;bottom: 0;background: rgb(0, 161, 255);width:100%;height: 60px;cursor: pointer"
        @click="setbalance(4),genqrcode()"
      >
        <span
          style="position: absolute;top: 50%;left: 50%;transform: translate(-50%,-50%);font-family:'Open Sans', sans-serif;font-weight: bold;font-size: 19px;color: white;"
        >SCAN QRCODE</span>
      </button>
    </div>

    <md-dialog :md-active="showpromplay">
      <md-dialog-content class="modal-content">
        <div class="modal-header">
          <h4 style="margin-top:-20px">ชำระเงินด้วยพร้อมเพย์</h4>
        </div>
        <div class="modal-body">
          <div class="col-md-12">
            <div class="row">
              <div class="col-lg-7">
                <center>
                  <qr-code
                    :text="prompaly.qr_code"
                    style="position:relative"
                    foreground="#0089D1"
                    :size="128"
                    error-level="Q"
                  ></qr-code>
                </center>
              </div>
            </div>
          </div>
          <br>
        </div>
        <div class="modal-footer">
          <button
            id="cancel_cr"
            style="margin-top:25px"
            class="btn btn-danger"
            @click="showpromplay = false"
          >ยกเลิก</button>
        </div>
      </md-dialog-content>
    </md-dialog>
  </div>
  <!-- src="../../js/promptpay.js" -->
</template>
<script></script>
<style src="./promptpay.css"></style>
