<template>
  <div style="width:100%">
    <loading :active.sync="isLoading" :can-cancel="true" :is-full-page="false"></loading>
    <div class="md-toolbar-section-start">
      <div style="min-height:42px;position:relative" class="md-title">
        <div class="md-layout md-gutter">
          <div
            class="md-size-40 md-small-size-100"
            style="float:left;position:relative;margin-right:10px;padding:16px 0px 0px;margin-left:30px;"
          >ข้อมูลสินค้า</div>
          <div class="md-size-40 md-small-size-100" style="float:left;margin-left:30px">
            <md-field>
              <label>เพิ่มสินค้า</label>
              <md-input ref="addproduct" v-model="search" @keyup.enter="addproductv2"></md-input>
              <md-icon style="color:grey;left:-10px;">
                info
                <md-tooltip md-direction="top">
                  <md-icon style="color:white;">keyboard</md-icon>รหัสสินค้า หรือ ชื่อสินค้า + Enter
                </md-tooltip>
              </md-icon>

              <md-button
                @click="addproductv2"
                style="top:-5px;left:-5px"
                class="md-icon-button md-raised md productadd md-dense"
              >
                <md-icon>add</md-icon>
              </md-button>
            </md-field>
          </div>
        </div>
      </div>
    </div>
    <md-dialog :md-active.sync="showDialogproduct" style="width:100%;border-radius: 20px;
    padding: 10px;" :md-fullscreen="true">
         <div class="title">ประเภท : </div>
        <div class="title">ลูกค้า : </div>
        <br>
        <div class="title" >ระบุคำค้น</div>
        <div class="content">
          <table class="kpi-datatable" style="display: table;min-height: 350px;    max-height: 350px;">
            <thead class="kpitablehead">
              <tr>
                <th style="width:6%;">ลำดับ</th>
                <th style="width:10%;">รหัสสินค้า</th>
                <th style="width:23%;">ชื่อสินค้า</th>
                <th style="width:10%;">หน่วยขาย</th>
                <th style="width:10%;">ราคาต่อหน่วย</th>
                <th style="width:10%;">คลังขาย</th>
                <th style="width:10%;">stock คลัง</th>
                <th style="width:10%;">stock รวมคลัง</th>
           
              </tr>
            </thead>
       
            <tbody class="kpitablehead" style="height:400px" >
              <tr  v-for="(val,index) in dataproductDialog" :key="index" >
                <td style="width:8%;">{{index+1}}</td>
                <td style="width:12%;">{{val.item_code}}</td>
                <td style="width:25%;">{{val.item_name}}</td>
                <td style="width:10%;">{{val.unit_code}}</td>
                 <td style="width:10%;"
                  
                    v-show="billtype == 0"
                  >{{convertmoney(val.sale_price_1)}}</td>
                  <td style="width:10%;"
                   
                    v-show="billtype == 1"
                  >{{convertmoney(val.sale_price_1)}}</td>
                <td style="width:10%;">{{val.wh_code}}</td>
                <td style="width:10%;">1</td>
                <td style="width:10%;">1</td>

              </tr>

            </tbody>
   
          </table>
      </div>
    </md-dialog>
    <md-dialog :md-active.sync="showWHcode" :md-fullscreen="false">
      <md-dialog-title>เปลี่ยน คลัง</md-dialog-title>
      <md-tabs md-dynamic-height>
        <md-tab md-label>
          <div class="table-responsive" style="overflow-y: auto;">
            <table class="table table-hover">
              <thead align="center">
                <tr>
                  <th>ลำดับ</th>
                  <th id="colorselectorder">คลัง</th>
                  <th id="colorselectorder">ที่เก็บ</th>
                  <th id="colorselectorder">จำนวน</th>
                </tr>
              </thead>
              <tbody id="valuetable">
                <tr
                  v-for="(val,index) in edit_wh"
                  :key="index"
                  @click="selectwarehousecode(val)"
                  style="text-align:center;cursor:pointer"
                >
                  <td>{{index+1}}</td>
                  <td>{{val.wh_code}}</td>
                  <td>{{val.shelf_code}}</td>
                  <td>{{val.qty}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </md-tab>
      </md-tabs>

      <md-dialog-actions>
        <md-button class="md-primary" @click="showWHcode = false">Close</md-button>
      </md-dialog-actions>
    </md-dialog>
  </div>
</template>


<script>
import Vue from "vue";
import api from "../../service/service.js";
import { Money } from "v-money";
import Loading from "vue-loading-overlay";
import "vue-loading-overlay/dist/vue-loading.css";
export default {
  name: "itemtable",
  props: {
    // removeitemtable: Function,
    parentData: [],
    stringProp: [],
    ref: "addproduct",
    product: Array,
    typepage: "",
    billtype: 0,
    sale_type: 0,
    ordertype: "",
    customerLevel: ""
  },
  components: {
    Loading
  },
  data() {
    return {
      keywordproduct: "",
      search: "",
      showDialogproduct: false,
      showWHcode: false,
      attention: "",
      timeout: null,
      dataproductDialog: [],
      priceDialog: [],
      dataproduct: [],
      listitem: [],
      datas: [],
      edit_wh: [],
      datalist: [],
      unitcode_obj: [],
      isLoading: false,
      time: null,
      typing: false,
      pricetypes: [],
      customerLevel: ""
    };
  },
  computed: {
    listFilter() {
      return this.dataproductDialog.sort((a, b) =>
        a.item_code > b.item_code ? 0 : -1
      );
    }
  },
  watch: {
    keywordproduct: function() {
      if (this.tiem == null) {
        clearTimeout(this.time);
        this.time = null;
        this.typing = false;
      }
      this.time = setTimeout(function() {}, 300);
      console.log(this.keywordproduct);
      this.searchproductv2();
      console.log(this.time);
    }
  },
  methods: {
    changeqty(event, val) {
      console.log(event, val);
      val.stock_qty = val.stk_location[event].qty;
      console.log(val.stock_qty);
    },
    convertmoney(val) {
      // console.log(val)
      var number = numeral(val).format("0,0.00");
      return number;
    },
    searchproductv2() {
      // alert(this.billtype)
      // alert('d')
      this.isLoading = true;
      console.log(this.keywordproduct);
      if (this.billtype === "" && this.billtype !== 0 && this.billtype !== 1) {
        if (this.attention == "wobble-hor-bottom") {
          this.attention = "wobble-hor-bottom2";
        } else {
          this.attention = "wobble-hor-bottom";
        }
        return;
      }
      if (!this.keywordproduct) {
        return;
      }
      var itemtable = new Array();
      var str = this.keywordproduct.split(" ");
      console.log(str.length);
      let payload = {
        keyword: this.keywordproduct,
        sale_type: parseInt(this.billtype)
      };
      clearTimeout(this.timeout);
      this.timeout = setTimeout(() => {
        api.findproductByKeyword(
          payload,
          result => {
            this.isLoading = false;
            this.dataproductDialog = result.data;
            console.log("billtype : " + this.billtype);
            this.$refs.keywordproduct.$el.focus();
          },
          error => {
            console.log(JSON.stringify(error));
            alertify.error("ข้อมูล สินค้าเกิดข้อผิดพลาด");
          }
        );
      }, 500);
      console.log(itemtable);
    },
    addproductv2() {
      console.log(this.keywordproduct);
      // alert(this.billtype)
      // alert('d')
      if (this.billtype === "" && this.billtype !== 0 && this.billtype !== 1) {
        if (this.attention == "wobble-hor-bottom") {
          this.attention = "wobble-hor-bottom2";
        } else {
          this.attention = "wobble-hor-bottom";
        }
        return;
      }
      if (!this.search) {
        alertify.error("กรุณากรอกชื่อสินค้าหรือรหัสสินค้าก่อน");
        return;
      }
      var itemtable = new Array();
      this.dataproductDialog = [];
      var str = this.keywordproduct.split(" ");
      console.log(str.length);

      let payload = {
        keyword: this.search,
        sale_type: parseInt(this.billtype)
      };
      this.isLoading = true;
      api.findproductByKeyword(
        payload,
        result => {
          this.isLoading = false;
          console.log(result);
          console.log(result.data.length);
          if (result.data.length == 1) {
            var i = 0;
            this.product.forEach(function(items, a) {
              console.log(items);
              if (
                items.item_code == result.data[0].item_code &&
                items.unit_code == result.data[0].unit_code
              ) {
                alertify.success(
                  "สินค้า " + result.data[0].item_name + "อยู่ในรายการแล้ว"
                );
                i += 1;
                return;
              }
            });
            console.log(result.data[0].item_code);
            if (i > 0) {
              return;
            }
            console.log("555");
            console.log(this.ordertype != "SO");
            if (
              this.billtype == 0 &&
              (result.data[0].qty >= 1 || this.ordertype != "SO") &&
              (this.customerLevel == "" || this.customerLevel == 1)
            ) {
              console.log(result.data[0].id);
              var datashow = {
                item_id: result.data[0].id,
                item_code: result.data[0].item_code,
                bar_code: result.data[0].bar_code,
                item_name: result.data[0].item_name,
                unit_code: result.data[0].unit_code,
                qty: 1,
                price: result.data[0].sale_price_1,
                sale_price_1: result.data[0].sale_price_1,
                sale_price_2: result.data[0].sale_price_2,
                wh_code: result.data[0].wh_code,
                discount_word_sub: "0",
                discount_word: "0",
                discount_amount_sub: 0,
                discount_amount: 0,
                item_amount: result.data[0].sale_price_1 * 1,
                amount: result.data[0].sale_price_1 * 1,
                item_description: "",
                packing_rate_1: parseInt(result.data[0].rate_1),
                is_cancel: 0
              };
              this.product.push(datashow);
              //close modal
              this.showDialogproduct = false;
              alertify.success("เพิ่มข้อมูลสินค้า " + result.data[0].item_name);
            } else if (
              this.billtype == 0 &&
              (result.data[0].qty >= 1 || this.ordertype != "SO") &&
              this.customerLevel == 2
            ) {
              var datashow = {
                item_id: result.data[0].id,
                item_code: result.data[0].item_code,
                bar_code: result.data[0].bar_code,
                item_name: result.data[0].item_name,
                unit_code: result.data[0].unit_code,
                qty: 1,
                price: result.data[0].sale_price_2,
                sale_price_1: result.data[0].sale_price_1,
                sale_price_2: result.data[0].sale_price_2,
                wh_code: result.data[0].wh_code,
                discount_word_sub: "0",
                discount_word: "0",
                discount_amount_sub: 0,
                discount_amount: 0,
                item_amount: result.data[0].sale_price_2 * 1,
                amount: result.data[0].sale_price_2 * 1,
                item_description: "",
                packing_rate_1: parseInt(result.data[0].rate_1),
                is_cancel: 0
              };
              this.product.push(datashow);
              //close modal

              this.showDialogproduct = false;
              alertify.success("เพิ่มข้อมูลสินค้า " + result.data[0].item_name);
            } else if (
              this.billtype == 1 &&
              (result.data[0].qty >= 1 || this.ordertype != "SO") &&
              (this.customerLevel == "" || this.customerLevel == 1)
            ) {
              var datashow = {
                item_id: result.data[0].id,
                item_code: result.data[0].item_code,
                bar_code: result.data[0].bar_code,
                item_name: result.data[0].item_name,
                unit_code: result.data[0].unit_code,
                qty: 1,
                price: result.data[0].sale_price_1,
                sale_price_1: result.data[0].sale_price_1,
                sale_price_2: result.data[0].sale_price_2,
                wh_code: result.data[0].wh_code,
                discount_word_sub: "0",
                discount_word: "0",
                discount_amount_sub: 0,
                discount_amount: 0,
                item_amount: result.data[0].sale_price_1 * 1,
                amount: result.data[0].sale_price_1 * 1,
                item_description: "",
                packing_rate_1: parseInt(result.data[0].rate_1),
                is_cancel: 0
              };
              this.product.push(datashow);
              //close modal

              this.showDialogproduct = false;
              alertify.success("เพิ่มข้อมูลสินค้า " + result.data[0].item_name);
            } else if (
              this.billtype == 1 &&
              (result.data[0].qty >= 1 || this.ordertype != "SO") &&
              this.customerLevel == 2
            ) {
              var datashow = {
                item_id: result.data[0].id,
                item_code: result.data[0].item_code,
                bar_code: result.data[0].bar_code,
                item_name: result.data[0].item_name,
                unit_code: result.data[0].unit_code,
                qty: 1,
                price: result.data[0].sale_price_2,
                sale_price_1: result.data[0].sale_price_1,
                sale_price_2: result.data[0].sale_price_2,
                wh_code: result.data[0].wh_code,
                discount_word_sub: "0",
                discount_word: "0",
                discount_amount_sub: 0,
                discount_amount: 0,
                item_amount: result.data[0].sale_price_2 * 1,
                amount: result.data[0].sale_price_2 * 1,
                item_description: "",
                packing_rate_1: parseInt(result.data[0].rate_1),
                is_cancel: 0
              };
              this.product.push(datashow);
              //close modal

              this.showDialogproduct = false;
              alertify.success("เพิ่มข้อมูลสินค้า " + result.data[0].item_name);
            } else if (result.data[0].qty < 1 && this.ordertype == "SO") {
              alertify.error(
                "สินค้า " + result.data[0].item_name + " ของในคลังหมด"
              );
            }
          } else {
            this.dataproductDialog = result.data; //แก้การโชว์ราคา 2
            this.showDialogproduct = true;
          }
          this.keywordproduct = this.search;
          this.search = "";
          console.log(this.dataproductDialog);
          console.log("billtype : " + this.billtype);
          this.$refs.keywordproduct.$el.focus();
        },
        error => {
          console.log(JSON.stringify(error));
          alertify.error("ข้อมูล สินค้าเกิดข้อผิดพลาด");
        }
      );
    },
    selectwarehousecode(val) {
      console.log(JSON.stringify(this.dataproductDialog[val.id].unit_code));
      this.dataproductDialog[val.id].wh_code = val.wh_code;
      this.dataproductDialog[val.id].qty = val.qty;
      //  this.product[val.id].shelf_code = val.shelf_code
      this.showWHcode = false;
    },
    callwhcode(val, index) {
      var items = {
        id: 0,
        Stk_unit_code: "",
        qty: 0,
        shelf_code: "",
        wh_code: ""
      };
      let payload = {
        item_code: val.item_code
      };
      var data = new Array();
      data = [];
      this.isLoading = true;
      // console.log(payload)
      api.searchunitcode(
        payload,
        result => {
          console.log(result.data[0].stk_location);
          result.data[0].stk_location.forEach(item => {
            item.id = index;
            data.push(item);
          });
          this.edit_wh = data;
          this.isLoading = false;
          console.log(JSON.stringify(this.edit_wh));
          this.showWHcode = true;
        },
        error => {
          console.log(JSON.stringify(error));
          alertify.error("Data ข้อมูล Unit code ผิดพลาด");
        }
      );
    },
    addproductrt() {
      console.log(this.keywordproduct);
      // alert(this.billtype)
      // alert('d')
      if (this.billtype === "" && this.billtype !== 0 && this.billtype !== 1) {
        if (this.attention == "wobble-hor-bottom") {
          this.attention = "wobble-hor-bottom2";
        } else {
          this.attention = "wobble-hor-bottom";
        }
        return;
      }
      if (!this.keywordproduct) {
        return;
      }
      var itemtable = new Array();
      var str = this.keywordproduct.split(" ");
      console.log(str.length);
      let payload = {
        keyword: this.keywordproduct
      };
      clearTimeout(this.timeout);
      this.timeout = setTimeout(() => {
        api.searchbykeyword(
          payload,
          result => {
            this.dataproductDialog = result.data;
            console.log("billtype : " + this.billtype);
            this.$refs.addproduct.$el.focus();
          },
          error => {
            console.log(JSON.stringify(error));
            alertify.error("ข้อมูล สินค้าเกิดข้อผิดพลาด");
          }
        );
      }, 500);
      console.log(itemtable);
    },
    showdetail(val) {
      setTimeout(() => {
        this.isLoading = false;
      }, 500);
      var i = 0;
      console.log(JSON.stringify(val));
      this.product.forEach(function(items, a) {
        console.log(items);
        if (
          items.item_code == val.item_code &&
          items.unit_code == val.unit_code
        ) {
          alertify.success("สินค้า " + val.item_name + "อยู่ในรายการแล้ว");
          i += 1;
          return;
        }
      });
      console.log(val);
      if (i > 0) {
        return;
      }
      var data = new Array();
      console.log(JSON.stringify(val));
      console.log(JSON.stringify(this.ordertype));
      if (
        this.billtype == 0 &&
        (val.qty >= 1 || this.ordertype != "SO") &&
        (this.customerLevel == "" || this.customerLevel == 1)
      ) {
        var datashow = {
          item_id: val.id,
          item_code: val.item_code,
          bar_code: val.bar_code,
          item_name: val.item_name,
          unit_code: val.unit_code,
          qty: 1,
          price: val.sale_price_1,
          sale_price_1: val.sale_price_1,
          sale_price_2: val.sale_price_2,
          stk_qty: val.qty,
          wh_code: val.wh_code,
          discount_word_sub: "0",
          discount_word: "0",
          discount_amount_sub: 0,
          discount_amount: 0,
          item_amount: val.sale_price_1 * 1,
          amount: val.sale_price_1 * 1,
          item_description: "",
          packing_rate_1: parseInt(val.rate_1),
          is_cancel: 0
        };
        console.log(datashow);
        this.product.push(datashow);
        //close modal
        this.showDialogproduct = false;
        alertify.success("เพิ่มข้อมูลสินค้า " + val.item_name);
      }
      else if (
        this.billtype == 0 &&
        (val.qty >= 1 || this.ordertype != "SO") &&
        (this.customerLevel == 2)
      ) {
        var datashow = {
          item_id: val.id,
          item_code: val.item_code,
          bar_code: val.bar_code,
          item_name: val.item_name,
          unit_code: val.unit_code,
          qty: 1,
          price: val.sale_price_2,
          sale_price_1: val.sale_price_1,
          sale_price_2: val.sale_price_2,
          stk_qty: val.qty,
          wh_code: val.wh_code,
          discount_word_sub: "0",
          discount_word: "0",
          discount_amount_sub: 0,
          discount_amount: 0,
          item_amount: val.sale_price_2 * 1,
          amount: val.sale_price_2 * 1,
          item_description: "",
          packing_rate_1: parseInt(val.rate_1),
          is_cancel: 0
        };
        console.log(datashow);
        this.product.push(datashow);
        //close modal
        this.showDialogproduct = false;
        alertify.success("เพิ่มข้อมูลสินค้า " + val.item_name);
      } else if (
        this.billtype == 1 &&
        (val.qty >= 1 || this.ordertype != "SO") &&
        (this.customerLevel == "" || this.customerLevel == 1)
      ) {
        var datashow = {
          item_id: val.id,
          item_code: val.item_code,
          bar_code: val.bar_code,
          item_name: val.item_name,
          unit_code: val.unit_code,
          qty: 1,
          stk_qty: val.qty,
          price: val.sale_price_1,
          sale_price_1: val.sale_price_1,
          sale_price_2: val.sale_price_2,
          wh_code: val.wh_code,
          discount_word_sub: "0",
          discount_word: "0",
          discount_amount_sub: 0,
          discount_amount: 0,
          amount: val.sale_price_1 * 1,
          item_amount: val.sale_price_1 * 1,
          item_description: "",
          packing_rate_1: parseInt(val.rate_1),
          is_cancel: 0
        };
        this.product.push(datashow);
        //close modal
        this.showDialogproduct = false;
        alertify.success("เพิ่มข้อมูลสินค้า " + val.item_name);
      }
      else if (
        this.billtype == 1 &&
        (val.qty >= 1 || this.ordertype != "SO") &&
        (this.customerLevel == 2)
      ) {
        var datashow = {
          item_id: val.id,
          item_code: val.item_code,
          bar_code: val.bar_code,
          item_name: val.item_name,
          unit_code: val.unit_code,
          qty: 1,
          stk_qty: val.qty,
          price: val.sale_price_2,
          sale_price_1: val.sale_price_1,
          sale_price_2: val.sale_price_2,
          wh_code: val.wh_code,
          discount_word_sub: "0",
          discount_word: "0",
          discount_amount_sub: 0,
          discount_amount: 0,
          amount: val.sale_price_2 * 1,
          item_amount: val.sale_price_2 * 1,
          item_description: "",
          packing_rate_1: parseInt(val.rate_1),
          is_cancel: 0
        };
        this.product.push(datashow);
        //close modal
        this.showDialogproduct = false;
        alertify.success("เพิ่มข้อมูลสินค้า " + val.item_name);
      } else if (val.qty < 1) {
        alertify.error("สินค้า " + val.item_name + " ของในคลังหมด");
      }
      this.keywordproduct = "";
      //console.log(datashow)
    }
  },
  mounted() {}
};
</script>
<style lang="scss" >
.title{
  width: 100%;
  padding-left:10%;
  font-size: 16px !important;
}
.content {
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-shadow: 0px 0px 13px 0px rgba(82, 63, 105, 0.05);
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);

    background-color: #ffffff;
    margin-bottom: 20px;
        border-radius: 10px;
    .headfrom {
      transition: left 0.3s, right 0.3s, height 0.3s;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: stretch;
      -ms-flex-align: stretch;
      align-items: stretch;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      position: relative;
      padding: 0 25px;
      border-bottom: 1px solid #ebedf2; 
      min-height: 60px;
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
      .headLabel {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-line-pack: flex-first;
        align-content: flex-first;
        .headtitle {
          margin: 0;
          padding: 0;
          font-size: 1.2rem;
          font-weight: 500;
          color: #464457;
        }
      }
    }

      .kpi-datatable {
        border-collapse: collapse;
        overflow: hidden;
        display: none;
        width: 100%;
        box-shadow: 0px 0px 13px 0px rgba(82, 63, 105, 0.05);
        tr{
        
          border-bottom: 1px solid #f0f3ff;
        }
        td {
          padding:10px;
        }
          .scorll {
               display:block;
  height:600px;
     overflow:auto;
          }
        .kpitablehead {
          visibility: visible;
          display: block;
          position: relative;
    overflow:auto;

        }
      
    }
  }
</style>
