<template>
  <div ref="testDiv" class="saleorder">
    <loading :active.sync="isLoading" :can-cancel="true" :is-full-page="fullPage"></loading>
    <div ref="testDiv" class="fluid-container">
      <md-toolbar
        style="transition:all 1s;margin: 0px 0px 10px 0px;"
        class="md-Transparent"
        v-if="docnoid==0"
      >
        <div class="md-layout md-gutter" style="margin: 5px 0px 10px 10px;">
          <!-- <md-button @click="serachQTO(1)" :disabled="docnoid!=0" class="md-raised md-primary">ดึงข้อมูลจากใบเสนอราคา</md-button> -->
          <md-button
            class="md-xsmall-hide md-raised md-primary"
            @click="searchConfirmedQT()"
            :disabled="docnoid!=0"
          >
            <span>ดึงข้อมูลจากใบเสนอราคา</span>
          </md-button>
          <md-menu
            class="md-xsmall-show md-xlarge-hide md-raised"
            md-size="medium"
            v-responsive.sm.xs
            md-align-trigger
          >
            <md-button class="md-raised" md-menu-trigger>
              <md-icon>list</md-icon>
            </md-button>
            <md-menu-content>
              <md-menu-item>
                <md-button
                  class="md-raised md-primary"
                  @click="searchConfirmedQT()"
                  :disabled="docnoid!=0"
                >
                  <span>ดึงข้อมูลจากใบเสนอราคา</span>
                </md-button>
              </md-menu-item>
            </md-menu-content>
          </md-menu>
        </div>
        <div class="md-layout-item" style="text-align:right;">
          <!-- <md-button class="md-raised" style="background-color:white;color:black;font-size: 2em;" disabled>สถานะบิล:</md-button>
              <md-button class="md-raised" style="background-color:green;color:white" v-if="IsConfirm==0" disabled>CF</md-button>
              <md-button class="md-raised" style="background-color:red;color:white" v-if="IsCancel==0" disabled>CC</md-button>
          <md-button class="md-raised" style="background-color:#efefef;color:#fb0;border-color:#efefef;border: 2px solid;" v-if="IsCancel==0&&IsConfirm==0&&docnoid>0" disabled>New</md-button>-->
        </div>
      </md-toolbar>

      <div>
        <div class="container-fluid">
          <span class="md-title"></span>
          <md-steppers md-sync-route md-dynamic-height :md-active-step.sync="active" md-linear>
            <md-step
              id="first"
              md-label="First Step"
              md-description="Optional"
              :md-done.sync="first"
            >
              <md-card-content>
                <div class="md-layout md-gutter">
                  <div
                    class="md-layout-item md-size-10 md-small-size-100"
                    style="text-align:right;"
                  ></div>
                  <div class="md-layout-item md-size-20 md-small-size-100">
                    <md-field>
                      <label class="md-title sub">ประเภทเอกสาร</label>
                      <md-select
                        required
                        v-hotkey="keymap"
                        @input="mockDocNo()"
                        placeholder="กรุณาเลือก"
                        v-model="tablecode"
                        name="country"
                        id="country"
                        :disabled="docnoid>0"
                      >
                        <md-option value="SO">ใบสั่งขาย</md-option>
                        <md-option value="RO">ใบสั่งจอง</md-option>
                      </md-select>
                    </md-field>
                  </div>
                  <div :class="attention" class="md-layout-item md-size-25 md-small-size-100">
                    <md-field>
                      <label ref="focustype" class="md-title sub">ประเภทการขาย</label>
                      <!-- <md-select
                        required
                        @input="mockDocNo(),changePriceType()"
                        v-model="billtype"
                        name="country"
                        id="country"
                        placeholder="กรุณาเลือก"
                        :disabled="docnoid>0"
                      > -->
                      <md-select
                        required
                        @input="mockDocNo()"
                        v-model="billtype"
                        name="country"
                        id="country"
                        placeholder="กรุณาเลือก"
                        :disabled="docnoid>0"
                      >
                        <md-option value="0">ขายสินค้าเงินสด</md-option>
                        <md-option value="1">ขายสินค้าเงินเชื่อ</md-option>
                      </md-select>
                    </md-field>
                  </div>
                  <div
                    id="notop_mobile"
                    style="position: relative;"
                    class="md-layout-item md-size-40 md-small-size-100"
                  >
                    <md-field>
                      <label class="md-title sub">เลขที่เอกสาร</label>
                      <md-input v-if="docnoid>0" disabled v-model="docno"></md-input>
                      <md-input v-if="docnoid==0" disabled v-model="mockdocno"></md-input>
                    </md-field>
                  </div>
                </div>
                <div class="md-layout md-gutter">
                  <div class="md-layout-item md-size-10 md-small-size-100"></div>
                  <div class="md-layout-item md-size-45 md-small-size-100">
                    <md-field>
                      <label class="md-title sub">ประเภทภาษี</label>
                      <md-select
                        name="country"
                        v-model="taxtype"
                        id="country"
                        placeholder="ประเภทภาษี"
                        :disabled="docnoid>0"
                      >
                        <md-option value="0">ภาษีแยกนอก</md-option>
                        <md-option value="1">ภาษีรวมใน</md-option>
                        <md-option value="2">ภาษีอัตราศูนย์</md-option>
                      </md-select>
                    </md-field>
                  </div>

                  <div
                    style="position:relative;"
                    class="md-layout-item md-size-40 md-small-size-100"
                  >
                    <md-icon>event</md-icon>
                    <label style="font-size:12px;color:#777;font-weight: bold;">วันที่ออก</label>
                    <div style="padding:16px 0px 0px;margin:4px 0px 24px;">
                      <datepicker
                        v-model="datenow_datepicker"
                        input-class="form-control tc"
                        style="position:absolute;"
                        :language="languages[language]"
                        format="d MMMM yyyy"
                        :disabled="docnoid>0"
                        class="md-layout-item md-size-45 md-small-size-100"
                      ></datepicker>
                    </div>
                  </div>
                  <div class="md-layout-item md-size-10 md-small-size-100"></div>
                  <div class="md-layout-item md-size-45 md-small-size-100">
                    <md-field>
                      <label class="md-title sub">
                        <md-icon>account_circle</md-icon>รหัสลูกค้า
                      </label>
                      <md-input
                        required
                        :disabled="docnoid>0||selectCustomer==true"
                        @keyup.enter="fsearchcus"
                        v-model="searchcus"
                      ></md-input>
                      <md-icon
                        class="md-medium-hide md-size-10"
                        style="position:relative;left:-10px;"
                        v-if="docnoid==0&&selectCustomer==false"
                      >
                        info
                        <md-tooltip md-direction="top">
                          <md-icon style="color:white;">keyboard</md-icon>รหัสลูกค้า หรือ ชื่อ + Enter
                        </md-tooltip>
                      </md-icon>
                      <md-button
                        @click="fsearchcus"
                        v-if="docnoid==0&&selectCustomer==false"
                        class="md-icon-button md-raised productadd md-dense"
                        style="position:relative;top:-5px;left:-5px;"
                        :disabled="docnoid>0"
                      >
                        <md-icon>add</md-icon>
                      </md-button>
                      <md-button
                        @click="fsearchcus,changePriceType,selectCustomer=false,searchcus='',detailcus='',idcus='',customerLevel=''"
                        v-if="docnoid==0&&selectCustomer==true"
                        class="md-icon-button md-raised md productadd md-dense"
                        style="position:relative;top:-5px;left:-5px;"
                        :disabled="docnoid>0"
                      >
                        <md-icon style>clear</md-icon>
                      </md-button>
                    </md-field>
                  </div>
                  <div
                    style="position: relative;"
                    class="md-layout-item md-size-40 md-small-size-100"
                  >
                    <md-field>
                      <label class="md-title sub">ชื่อลูกค้า</label>
                      <md-input disabled v-model="detailcus"></md-input>
                      <searchhiscustomer
                        :product="dproducts"
                        :typepage="typepage"
                        :searchcus="searchcus"
                        style="position:relative;top:-15px;left:-15px;"
                        v-if="docnoid>0||selectCustomer==true"
                      ></searchhiscustomer>
                    </md-field>
                  </div>
                </div>
                <!-- table -->
                <div class="md-layout md-gutter">
                  <md-card class="md-layout-item md-size-100 md-small-size-100 tablesale">
                    <md-card-header
                      style=" padding-top: 16px;
                              padding-right: 16px;
                              padding-bottom: 2px;
                              padding-left: 16px;"
                    >
                      <md-card-header-text>
                        <searchItem
                          :product="dproducts"
                          :billtype="billtype"
                          ref="addproduct"
                          :typepage="'saleorder'"
                          :ordertype="tablecode"
                          :customerLevel="customerLevel"
                          :is_cancel="is_cancel"
                          :is_confirm="is_confirm"
                        ></searchItem>
                      </md-card-header-text>
                    </md-card-header>
                    <div class="tables">
                      <md-card-actions style="width:100%;justify-content:end;">
                        <md-button style="width:10%">รหัสสินค้า</md-button>
                        <md-button style="width:20%">ชื่อสินค้า</md-button>
                        <md-button style="width:5%">คลังสินค้า</md-button>
                        <md-button style="width:5%">หน่วยนับ</md-button>
                        <md-button style="min-width:5.6%">จำนวน</md-button>
                        <md-button style="width:5%">ราคา/หน่วย</md-button>
                        <md-button style="width:5%">ส่วนลด</md-button>
                        <md-button style="width:5%">จำนวนเงิน</md-button>
                      </md-card-actions>
                    </div>
                  </md-card>
                  <md-card class="md-layout-item md-size-100 md-small-size-100 tablesale">
                    <itemtable
                      :searched="searched"
                      :removeitemtable="removeitemtable"
                      :product="dproducts"
                      :typepage="typepage"
                      :searchcus="detailcus"
                      :permission="permission"
                      :billtype="billtype"
                      :ordertype="tablecode"
                      :customerLevel="customerLevel"
                    ></itemtable>
                  </md-card>
                </div>
                <!-- table  -->
                <div style="margin-top:15px" class="md-layout md-gutter">
                  <div
                    class="md-layout-item md-size-90 md-xsmall-size-70"
                    style="text-align:right;"
                  >
                    <span class="md-title subnotop">รวมมูลค่าสินค้า</span>
                  </div>

                  <div
                    class="md-layout-item md-size-5 md-xsmall-size-15 res_mobile"
                    style="text-align:right;"
                  >
                    <span class="md-title subnotop">{{ convertmoney(totalprice) }}</span>
                  </div>
                  <div class="md-layout-item md-size-5 md-xsmall-size-15" style="text-align:right;">
                    <span class="md-title subnotop">บาท</span>
                  </div>
                </div>
                <div class="md-layout md-gutter">
                  <div
                    class="md-layout-item md-size-90 md-xsmall-size-70"
                    style="text-align:right;"
                  >
                    <span class="md-title subnotop">ส่วนลด</span>
                  </div>

                  <div class="md-layout-item md-size-5 md-xsmall-size-15" style="text-align:right">
                    <span class="md-title subnotop">
                      <input
                        ref="discount"
                        v-model.number="caldiscount"
                        style="width:100%;text-align:right;"
                        type="text"
                        :disabled="permission.is_update==0"
                      >
                    </span>
                  </div>
                  <div
                    class="md-layout-item md-size-5 md-xsmall-size-15;"
                    style="text-align:right;cursor:pointer"
                  >
                    <span
                      class="md-title subnotop"
                      style="border-bottom: aqua 1.5px outset;"
                      @click="calbathordiscount"
                      v-show="percal"
                    >%</span>
                    <span
                      class="md-title subnotop"
                      style="border-bottom: aqua 1.5px outset;"
                      @click="calbathordiscount"
                      v-show="!percal"
                    >บาท</span>
                  </div>
                </div>

                <div class="md-layout md-gutter">
                  <div
                    class="md-layout-item md-size-90 md-xsmall-size-70"
                    style="text-align:right;"
                  >
                    <span class="md-title subnotop">ภาษีมูลค่าเพิ่ม</span>
                    <span class="md-title subnotop" v-show="taxtype==0||taxtype==1">(7%)</span>
                    <span class="md-title subnotop" v-show="taxtype==2">(0%)</span>
                  </div>

                  <div class="md-layout-item md-size-5 md-xsmall-size-15" style="text-align:right;">
                    <span class="md-title subnotop">{{ convertmoney(dif_fee) }}</span>
                  </div>

                  <div class="md-layout-item md-size-5 md-xsmall-size-15" style="text-align:right;">
                    <span class="md-title subnotop">บาท</span>
                  </div>
                </div>

                <div class="md-layout md-gutter">
                  <div
                    class="md-layout-item md-size-90 md-xsmall-size-70"
                    style="text-align:right;"
                  >
                    <span class="md-title subnotop">มูลค่ารวมภาษี</span>
                  </div>

                  <div class="md-layout-item md-size-5 md-xsmall-size-15" style="text-align:right;">
                    <span class="md-title subnotop">{{ convertmoney(cal_totalprice) }}</span>
                  </div>

                  <div class="md-layout-item md-size-5 md-xsmall-size-15" style="text-align:right;">
                    <span class="md-title subnotop">บาท</span>
                  </div>
                </div>

                <div class="md-layout md-gutter">
                  <div
                    class="md-layout-item md-size-90 md-xsmall-size-70"
                    style="text-align:right;"
                  >
                    <span class="md-title subnotop">มูลค่าสุทธิ</span>
                  </div>

                  <div class="md-layout-item md-size-5 md-xsmall-size-15" style="text-align:right;">
                    <span class="md-title subnotop">{{ convertmoney(cal_totalprice) }}</span>
                  </div>

                  <div class="md-layout-item md-size-5 md-xsmall-size-15" style="text-align:right;">
                    <span class="md-title subnotop">บาท</span>
                  </div>
                </div>
                <div class="md-layout md-gutter">
                  <div
                    class="md-layout-item md-size-100 md-xsmall-size-100"
                    style="text-align:right;"
                  >
                    <input type="checkbox" v-model="discountSelect" true-value="true" false-value="false" value="test" />
                    <span class="md-title subnotop">แสดงส่วนลด</span>
                  </div>
                </div>
              </md-card-content>

              <md-button
                type="submit"
                style="float:right;"
                @click="setDone('first', 'second')"
                class="md-raised md-primary"
              >
                <span>ถัดไป</span>
              </md-button>
              <!-- <md-button
                v-if="docnoid>0"
                style="float:right;"
                @click="setDone('first', 'second')"
                class="md-raised md-primary"
                :disabled="(dproducts.length<=0)"
              >
                <span>ถัดไป</span>
              </md-button> -->
              <!--  -->
            </md-step>
            <md-step
              id="second"
              md-label="Second Step"
              :md-error="secondStepError"
              :md-done.sync="second"
            >
              <div class="showhover md-layout md-gutter">
                <div class="md-layout-item md-size-100 md-small-size-100" style="padding:10px;">
                  <md-toolbar class="md-transparent" style="padding:20px;" disabled>
                    <div class="md-title md-layout-item md-size-100 md-small-size-100">
                      <h3>พนักงาน</h3>
                    </div>
                    <div class="md-layout-item md-layout md-gutter">
                      <div
                        class="md-layout-item md-size-30 md-small-size-100"
                        style="position:relative"
                      >
                        <md-field>
                          <label for="first-name subnotop">รหัสพนักงานขาย</label>
                          <md-input
                            required
                            name="first-name"
                            ref="codesale"
                            @keyup.enter="searchsale_step2"
                            v-model="salecode"
                            v-show="selectSale==false"
                            id="first-name"
                            autocomplete="given-name"
                          />
                          <md-button
                            @click="searchsale_step2"
                            class="md-icon-button md-raised add md-dense"
                            style="position:relative;top:-5px;left:-5px;"
                            v-if="selectSale==false"
                          >
                            <md-icon>add</md-icon>
                            <md-tooltip md-direction="top">
                              <md-icon style="color:white;">keyboard</md-icon>รหัสพนักงาน หรือ ชื่อพนักงาน + Enter
                            </md-tooltip>
                          </md-button>

                          <md-input
                            name="first-name"
                            ref="codesale"
                            v-model="salemock"
                            v-show="selectSale==true"
                            id="first-name"
                            autocomplete="given-name"
                            disabled
                          />
                          <md-button
                            @click="searchsale_step2,selectSale=false,salecode=''"
                            class="md-icon-button md-raised add md-dense"
                            style="position:relative;top:-5px;left:-5px;"
                            v-if="selectSale==true"
                          >
                            <md-icon>clear</md-icon>
                            <md-tooltip md-direction="top">
                              <md-icon style="color:white;">keyboard</md-icon>รหัสพนักงาน หรือ ชื่อพนักงาน + Enter
                            </md-tooltip>
                          </md-button>
                        </md-field>
                      </div>
                      <div class="md-layout-item md-size-30 md-small-size-100">
                        <md-field>
                          <label for="last-name subnotop">แผนก</label>
                          <md-input
                            name="last-name"
                            id="last-name"
                            @keyup.enter="searchdepart_step2"
                            v-model="department"
                            autocomplete="family-name"
                          />
                          <md-button
                            @click="searchdepart_step2"
                            class="md-icon-button md-raised add md-dense"
                            style="position:relative;top:-5px;left:-5px;"
                          >
                            <md-icon>add</md-icon>
                            <md-tooltip md-direction="top">
                              <md-icon style="color:white;">keyboard</md-icon>รหัสแผนก หรือ ชื่อแผนก + Enter
                            </md-tooltip>
                          </md-button>
                        </md-field>
                      </div>
                      <div class="md-layout-item md-size-30 md-small-size-100">
                        <md-field>
                          <label for="last-name">อ้างอิงใบสั่งซื้อ(PO)</label>
                          <md-input name="last-name" id="last-name" autocomplete="family-name" v-model="ref_no" />
                          <md-button
                            @click="tests"
                            class="md-icon-button md-raised add md-dense"
                            style="position:relative;top:-5px;left:-5px;"
                          >
                            <md-icon>add</md-icon>
                          </md-button>
                        </md-field>
                      </div>
                      <div class="md-layout-item md-size-30 md-small-size-100">
                        <md-field>
                          <label for="last-name">รหัสผู้ติดต่อ</label>
                          <md-input name="last-name" id="last-name" autocomplete="family-name" v-model="custcontact" @keyup.enter="searchCustContact"/>
                          <md-button
                            @click="searchCustContact"
                            class="md-icon-button md-raised add md-dense"
                            style="position:relative;top:-5px;left:-5px;"
                          >
                            <md-icon>add</md-icon>
                          </md-button>
                        </md-field>
                      </div>
                      <div class="md-layout-item md-size-30 md-small-size-100">
                        <md-field>
                          <label for="last-name">การจัดสรร</label>
                          <md-input
                            name="last-name"
                            id="last-name"
                            @keyup.enter="searchAllocate"
                            v-model="Allocate"
                            autocomplete="family-name"
                          />
                          <md-button
                            @click="searchAllocate"
                            class="md-icon-button md-raised add md-dense"
                            style="position:relative;top:-5px;left:-5px;"
                          >
                            <md-icon>add</md-icon>
                            <md-tooltip md-direction="top">
                              <md-icon style="color:white;">keyboard</md-icon>รหัสการจัดสรร หรือ ชื่อการจัดสรร + Enter
                            </md-tooltip>
                          </md-button>
                        </md-field>
                      </div>
                      <div class="md-layout-item md-size-30 md-small-size-100">
                        <md-field>
                          <label for="last-name">โครงการ</label>
                          <md-input
                            name="last-name"
                            id="last-name"
                            @keyup.enter="searchproject_step2"
                            v-model="project"
                            autocomplete="family-name"
                          />
                          <md-button
                            @click="searchproject_step2"
                            class="md-icon-button md-raised add md-dense"
                            style="position:relative;top:-5px;left:-5px;"
                          >
                            <md-icon>add</md-icon>
                            <md-tooltip md-direction="top">
                              <md-icon style="color:white;">keyboard</md-icon>รหัสโครงการ หรือ ชื่อโครงการ + Enter
                            </md-tooltip>
                          </md-button>
                        </md-field>
                      </div>
                      <div class="md-layout-item md-size-30 md-small-size-100">
                        <md-field>
                          <label for="last-name">Job ID (Optional)</label>
                          <md-input v-model="job_id"/>
                          <md-button
                            @click="tests"
                            class="md-icon-button md-raised add md-dense"
                            style="position:relative;top:-5px;left:-5px;"
                          >
                            <md-icon>add</md-icon>
                          </md-button>
                        </md-field>
                      </div>
                    </div>
                  </md-toolbar>
                </div>
                <div class="md-layout-item md-size-50 md-small-size-100" style="padding:10px">
                  <md-toolbar
                    class="md-transparent"
                    style="margin-bottom:10px;margin-right:1px;padding:20px;"
                    disabled
                  >
                    <div
                      class="md-title md-layout-item md-size-100 md-small-size-100"
                      style="margin-top:10px;"
                    >
                      <h3>ยืนราคา</h3>
                    </div>
                    <div class="md-layout-item md-layout md-gutter">
                      <div class="md-layout-item md-size-50 md-small-size-100">
                        <md-field>
                          <label for="first-name subnotop">จำนวนวันยืนราคา</label>
                          <md-input
                            required
                            name="first-name"
                            v-model="validity"
                            id="first-name"
                            autocomplete="given-name"
                          />
                        </md-field>
                        <label class="abright" for="first-name subnotop">วัน</label>
                      </div>
                      <div class="md-layout-item md-size-50 md-small-size-100">
                        <md-field>
                          <label for="last-name">เอกสารหมดอายุภายใน</label>
                          <md-input
                            required
                            @keyup="calexpiredate"
                            v-model="expire_date"
                            name="last-name"
                            id="last-name"
                            autocomplete="family-name"
                          />
                        </md-field>
                        <label class="abright" for="first-name subnotop">วัน</label>
                      </div>
                      <div class="md-layout-item md-size-50 md-small-size-100">
                        <md-field>
                          <label for="last-name">ส่งมอบภายใน</label>
                          <md-input
                            required
                            name="last-name"
                            @keyup="calDeliverdate"
                            v-model="Deliver_date"
                            id="last-name"
                            autocomplete="family-name"
                          />
                        </md-field>
                        <label class="abright" for="first-name subnotop">วัน</label>
                      </div>
                      <div class="md-layout-item md-size-50 md-small-size-100">
                        <md-field>
                          <label for="last-name">เครดิต(วัน)</label>
                          <md-input
                            disabled
                            v-model="bill_credit"
                            name="last-name"
                            id="last-name"
                            autocomplete="family-name"
                          />
                        </md-field>
                        <label class="abright" for="first-name subnotop">วัน</label>
                      </div>
                      <div
                        style="position:relative;top:-30px;"
                        class="md-layout-item md-size-50 md-xsmall-size-100"
                      >
                        <span
                          style="position: relative; top: 25px;font-size:12px"
                        >วันที่เริ่มตามลูกค้า</span>
                        <div style="position:relative;padding-top:5px">
                          <md-icon
                            style="float:left;position:relative;top:23px;margin-right:5px;"
                          >calendar_today</md-icon>
                          <datepicker
                            calendar-class="calendarfollowcus"
                            input-class="form-control"
                            style="position:relative;top:20px;width: 80%;"
                            :language="languages[language]"
                            format="d MMMM yyyy"
                          ></datepicker>
                        </div>
                      </div>
                      <div class="md-layout-item md-size-50 md-xsmall-size-100">
                        <md-field>
                          <label>เงื่อนไขการขนส่ง</label>
                          <md-select
                            placeholder="กรุณาเลือก"
                            v-model="is_condition_send"
                            name="condition_send"
                            id="condition_send"
                          >
                            <md-option value="0">รับเอง</md-option>
                            <md-option value="1">ส่งให้</md-option>
                          </md-select>
                        </md-field>
                      </div>
                      <div class="md-layout-item md-size-100 md-xsmall-size-100">
                        <textarea
                          type="text"
                          class="form-control"
                          @keyup.ctrl.q="shownote=true"
                          v-model="infoNotice"
                          rows="3"
                        ></textarea>
                        <componentnote
                          style="float:right;margin:10px;"
                          :infoNotice="infoNotice"
                          v-model="infoNotice"
                          :type_status="billtype"
                        ></componentnote>
                      </div>
                    </div>
                  </md-toolbar>
                </div>
                <div class="md-layout-item md-size-50 md-small-size-100" style="padding:10px;">
                  <md-toolbar class="md-transparent" style="padding:20px" disabled>
                    <div
                      class="md-title md-layout-item md-size-100 md-small-size-100"
                      style="margin-top:10px;"
                    >
                      <h3>วันที่หมดอายุ</h3>
                    </div>
                    <div class="md-layout-item md-layout md-gutter">
                      <div
                        style="position:relative;margin-bottom:15px"
                        class="md-layout-item md-size-100 md-xsmall-size-100"
                      >
                        <span class="subnotop" style="position: relative; top: 10px;">วันที่หมดอายุ</span>
                        <div style="position:relative;">
                          <md-icon
                            style="float:left;position:relative;top:20px;margin-right:5px;"
                          >calendar_today</md-icon>
                          <datepicker
                            @input="calexpire_Date"
                            v-model="expiredate_cal"
                            input-class="form-control"
                            style="position:relative;top:15px;width: 80%;"
                            :language="languages[language]"
                            format="d MMMM yyyy"
                          ></datepicker>
                        </div>
                      </div>
                      <!--  -->
                      <div
                        style="position:relative;margin-bottom:15px"
                        class="md-layout-item md-size-100 md-xsmall-size-100"
                      >
                        <span class="subnotop" style="position: relative; top: 10px;">ลงวันที่</span>
                        <div style="position:relative;">
                          <md-icon
                            style="float:left;position:relative;top:20px;margin-right:5px;"
                          >calendar_today</md-icon>
                          <datepicker
                            @input="calDueDate_date"
                            v-model="DueDate_date"
                            input-class="form-control tc"
                            style="position:relative;top:15px;width: 80%;"
                            :language="languages[language]"
                            format="d MMMM yyyy"
                          ></datepicker>
                        </div>
                      </div>
                      <!--  -->
                      <div
                        style="position:relative;margin-bottom:15px"
                        class="md-layout-item md-size-100 md-xsmall-size-100"
                      >
                        <span class="subnotop" style="position: relative;top:10px">วันที่ครบกำหนด</span>
                        <md-icon style="position:relative;top:5px;color:black">lock</md-icon>
                        <div style="position:relative;">
                          <md-icon
                            style="float:left;position:relative;top:20px;margin-right:5px;"
                          >calendar_today</md-icon>
                          <datepicker
                            disabled
                            v-model="DueDate_cal"
                            input-class="form-control tc"
                            style="position:relative;top:15px;width: 80%;"
                            :language="languages[language]"
                            format="d MMMM yyyy"
                          ></datepicker>
                        </div>
                      </div>
                      <!--  -->
                      <div
                        style="position:relative;margin-top:20px"
                        class="md-layout-item md-size-50 md-xsmall-size-100"
                      >
                        <md-field>
                          <label class="sub">คำตอบจากลูกค้า</label>
                          <md-select
                            placeholder="กรุณาเลือก"
                            v-model="answer_cus"
                            name="condition_send"
                            id="condition_send"
                          >
                            <md-option value="0">รอตอบกลับ</md-option>
                            <md-option value="1">ตอบกลับแล้ว</md-option>
                            <md-option value="2">ไม่รับในราคา</md-option>
                          </md-select>
                        </md-field>
                      </div>
                      <div class="md-layout-item md-size-50 md-xsmall-size-100" style="top:20px">
                        <md-field>
                          <label for="last-name">รูปแบบการสั่งซื้อสินค้า</label>
                          <md-input name="last-name" id="last-name" autocomplete="family-name"/>
                        </md-field>
                      </div>
                      <!--  -->
                    </div>
                  </md-toolbar>
                </div>
                <!-- <div class="md-layout-item md-size-100 md-small-size-100" style="padding:10px;">
                  <md-toolbar class="md-transparent" style="padding:20px" disabled>
                    <div class="md-title md-layout md-layout-item md-size-100 md-small-size-100">
                      <div class="md-title md-layout-item md-size-100 md-small-size-100">
                        <h3>กลุ่มเอกสาร</h3>
                      </div>
                      <div class="md-title md-layout-item md-size-100 md-small-size-100">
                        <md-switch
                          @change="isshowdoc_fuc"
                          v-model="isshowdocument"
                        >{{ convertshowdoc(isshowdocument) }}</md-switch>
                      </div>
                    </div>
                    <div class="md-layout md-layout-item md-size-100" v-if="isshowdocument">
                      <div class="md-layout-item md-size-20 md-small-size-100" style="padding:10px">
                        <md-field>
                          <label for="first-name subnotop">เอกสาร</label>
                          <md-input name="first-name" id="first-name" autocomplete="given-name"/>
                        </md-field>
                      </div>
                      <div class="md-layout-item md-size-20 md-small-size-100" style="padding:10px">
                        <md-field>
                          <label for="last-name subnotop">รหัสสกุลเงิน</label>
                          <md-input name="last-name" id="last-name" autocomplete="family-name"/>
                        </md-field>
                      </div>
                      <div class="md-layout-item md-size-20 md-small-size-100" style="padding:10px">
                        <md-field>
                          <label for="last-name">อัตราแลกเปลี่ยน</label>
                          <md-input name="last-name" id="last-name" autocomplete="family-name"/>
                        </md-field>
                      </div>
                      <div class="md-layout-item md-size-20 md-small-size-100" style="padding:10px">
                        <md-field>
                          <label for="last-name">อัตราภาษีมูลค่าเพิ่ม</label>
                          <md-input name="last-name" id="last-name" autocomplete="family-name"/>
                        </md-field>
                      </div>
                      <div class="md-layout-item md-size-20 md-small-size-100" style="padding:10px">
                        <md-field>
                          <label for="last-name">ยอดเงินบาทสุทธิ</label>
                          <md-input name="last-name" id="last-name" autocomplete="family-name"/>
                        </md-field>
                      </div>
                      <div class="md-layout-item md-size-20 md-small-size-100" style="padding:10px">
                        <md-field>
                          <label for="last-name">ค่าขนส่ง</label>
                          <md-input name="last-name" id="last-name" autocomplete="family-name"/>
                        </md-field>
                      </div>
                    </div>
                  </md-toolbar>
                </div> -->
                <div class="md-layout-item md-size-100 md-small-size-100" style="padding:10px;">
                  <md-toolbar class="md-transparent" style="padding:20px" disabled>
                    <div class="md-title md-layout md-layout-item md-size-100 md-small-size-100">
                      <div class="md-title md-layout-item md-size-100 md-small-size-100">
                        <h3>สถานที่จัดส่ง</h3>
                        <md-switch
                          @change="showAddrassFuc"
                          v-model="showAddrass"
                        >{{ showAddrassFuc(showAddrass) }}</md-switch>
                      </div>
                    </div>
                    <div class="md-layout md-layout-item md-size-100" v-if="showAddrass">
                      <div class="md-layout-item md-size-100 md-small-size-100" style="padding:10px">
                          <md-button class="md-raised md-primary" @click="SearchKeywordAddress">ค้นหาที่อยู่ลูกค้า</md-button>
                          <!-- <md-button class="md-raised md-primary" @click="AddressAdd = true">สร้างที่อยู่ลูกค้าใหม่</md-button> -->
                      </div>
                      <div class="md-layout-item md-size-20 md-small-size-100" style="padding:10px">
                        <md-field>
                          <label for="last-name">อำเภอ</label>
                          <md-input v-model="ass_district"></md-input>
                        </md-field>
                      </div>
                      <div class="md-layout-item md-size-20 md-small-size-100" style="padding:10px">
                        <md-field>
                          <label for="last-name subnotop">ตำบล</label>
                          <md-input v-model="ass_district_sub"></md-input>
                        </md-field>
                      </div>
                      <div class="md-layout-item md-size-20 md-small-size-100" style="padding:10px">
                        <md-field>
                          <label for="last-name">เมือง</label>
                          <md-input v-model="ass_country"></md-input>
                        </md-field>
                      </div>
                      <div class="md-layout-item md-size-20 md-small-size-100" style="padding:10px">
                        <md-field>
                          <label for="last-name">จังหวัด</label>
                          <md-input v-model="ass_province"></md-input>
                        </md-field>
                      </div>
                      <div class="md-layout-item md-size-20 md-small-size-100" style="padding:10px">
                        <md-field>
                          <label for="last-name">รหัสไปรษณีย์</label>
                          <md-input v-model="ass_post_code"></md-input>
                        </md-field>
                      </div>
                      <div class="md-layout-item md-size-20 md-small-size-100" style="padding:10px">
                        <md-field>
                          <label for="last-name">จุดสังเกต</label>
                          <md-input v-model="ass_landmarks"></md-input>
                        </md-field>
                      </div>
                      <div class="md-layout-item md-size-20 md-small-size-100" style="padding:10px">
                        <md-field>
                          <label for="last-name">เบอร์โทรศัพท์</label>
                          <md-input v-model="ass_telephone"></md-input>
                        </md-field>
                      </div>
                      <div class="md-layout-item md-size-40 md-small-size-100" style="padding:10px">
                          <textarea
                          v-model="ass_address"
                          type="text"
                          class="form-control"
                          rows="2"
                          placeholder="ที่อยู่ในการส่งของ"
                          ></textarea>
                      </div>
                    </div>
                  </md-toolbar>
                </div>
              </div>
              <md-button
                style="float:right;right: 50px;"
                class="md-raised md-primary"
                @click="saveDocument()"
              >บันทึก</md-button>
            </md-step>

            <md-step id="third" md-label="Third Step" :md-done.sync="third">
              <div class="md-layout md-gutter">
                <md-toolbar style="padding:10px 0" class="md-primary">
                  <div
                    class="md-layout-item md-xlarge-size-40 md-large-size-40 md-xsmall-size-40 md-small-size-40 md-medium-size-40"
                  >
                    <h3 style="font-size: 46px; overflow: visible;padding:10px;" class="md-title">
                      <span v-if="bill_type=0">ใบสั่งจอง</span>
                      <span v-if="bill_type=1">ใบสั่งขาย</span>
                    </h3>
                  </div>
                  <div
                    style="text-align:right;"
                    class="md-layout-item md-xlarge-size-20 md-large-size-20 md-xsmall-size-20 md-small-size-20 md-medium-size-20"
                  ></div>
                  <div
                    style="text-align:right;"
                    class="md-layout-item md-xlarge-size-20 md-large-size-20 md-xsmall-size-20 md-small-size-20 md-medium-size-20"
                  >
                    <h4 style="overflow:visible;white-space:normal;font-size:15px" class="md-title">
                      <div>ติดต่อ นพดลพานิช (053) 261-000</div>
                      <div>E-mail : sale@nopadol.com</div>
                    </h4>
                  </div>
                  <div
                    style="text-align:right;"
                    class="md-layout-item md-xlarge-size-20 md-large-size-20 md-xsmall-size-20 md-small-size-20 md-medium-size-20"
                  >
                    <h4
                      style="padding-right:10px;overflow:visible;white-space:normal;font-size:15px"
                      class="md-title"
                    >
                      <div>ถนน เชียงใหม่ - ดอยสะเก็ด</div>
                      <div>ตำบล ฟ้าฮ่าม</div>
                      <div>อำเภอเมืองเชียงใหม่ เชียงใหม่ 50000</div>
                    </h4>
                  </div>
                </md-toolbar>

                <div
                  style="text-align:left;word-break: break-word;"
                  class="md-layout-item md-xlarge-size-20 md-large-size-20 md-xsmall-size-20 md-small-size-20 md-medium-size-20 contentpadding"
                >
                  <span style="color:grey;">Billed To</span>
                  <span style="display:block;">{{ detailcus }}{{ searchcus }}</span>
                </div>
                <div
                  style="text-align:left"
                  class="md-layout-item md-xlarge-size-20 md-large-size-20 md-xsmall-size-20 md-small-size-20 md-medium-size-20 contentpadding"
                >
                  <span style="color:grey">Doc Number</span>
                  <span style="display:block;">{{ docno }}</span>
                </div>
                <div
                  style="text-align:left"
                  class="md-layout-item md-xlarge-size-20 md-large-size-20 md-xsmall-size-20 md-small-size-20 md-medium-size-20 contentpadding"
                >
                  <span style="color:grey">Date Of Issue</span>
                  <span style="display:block;">{{ convertmonth_preview(datenow_datepicker) }}</span>
                </div>
                <div
                  style="text-align:right"
                  class="md-layout-item md-xlarge-size-40 md-large-size-40 md-xsmall-size-40 md-small-size-40 md-medium-size-40 contentpadding"
                >
                  <span style="display:block;color:grey;padding-bottom:15px;">Total Price</span>
                  <span style="font-size: 35px;">{{ convertmoney(cal_totalprice) }} บาท</span>
                </div>

                <div
                  style="text-align:left"
                  class="md-layout-item md-xlarge-size-100 md-large-size-100 md-xsmall-size-100 md-small-size-100 md-medium-size-100"
                >
                  <div class="underline"></div>
                </div>
                <div class="table-responsive" style="overflow-y: auto;padding:0 20px">
                  <table
                    id="bordernone"
                    style="border-bottom:none;border-top:none;"
                    class="table table-hover"
                  >
                    <thead align="center">
                      <tr style="color:#448aff;text-align:center">
                        <th style="color:#448aff;text-align:center" class="md-medium-hide">ลำดับ</th>
                        <th style="color:#448aff;text-align:center" id="colorselectorder">รหัส-ชื่อ</th>
                        <th
                          style="color:#448aff;text-align:center"
                          class="md-medium-hide"
                          id="colorselectgroup"
                        >คลัง</th>
                        <th
                          style="color:#448aff;text-align:center"
                          class="md-medium-hide"
                          id="colorselectgroup"
                        >ชั้นเก็บ</th>
                        <th style="color:#448aff;text-align:center" id="colorselectgroup">จำนวน</th>
                        <th
                          style="color:#448aff;text-align:center"
                          class="md-medium-hide"
                          id="colorselectgroup"
                        >หน่วยนับ</th>
                        <th style="color:#448aff;text-align:center" id="colorselectgroup">ราคา</th>
                        <th
                          style="color:#448aff;text-align:center"
                          class="md-medium-hide"
                          id="colorselectgroup"
                          v-show="discountSelect==true"
                        >ส่วนลด/หน่วย</th>
                        <th
                          style="color:#448aff;text-align:center"
                          class="md-medium-hide"
                          id="colorselectgroup"
                          v-show="discountSelect==true"
                        >ส่วนลดรวม</th>
                        <th
                          style="color:#448aff;text-align:center"
                          id="colorselectgroup"
                        >มูลค้าสินค้า</th>
                      </tr>
                    </thead>
                    <tbody id="valuetable">
                      <tr
                        v-for="(val,index) in dproducts"
                        :key="index"
                        style="width:100%;cursor:pointer;border-bottom: 1px rgba(0,0,0,0.25) solid;text-align:center"
                      >
                        <td class="md-medium-hide">{{index+1+"."}}</td>
                        <td>{{val.item_code}} {{val.item_name}}</td>
                        <td class="md-medium-hide">{{val.wh_code}}</td>
                        <td class="md-medium-hide">{{val.shelf_code}}</td>
                        <td>{{convertmoney(val.qty)}}</td>
                        <td class="md-medium-hide">{{val.unit_code}}</td>
                        <td>{{convertmoney(val.price)}}</td>
                        <td
                          class="md-medium-hide"
                          v-show="discountSelect==true"
                        >{{convertmoney(val.discount_word)}}</td>
                        <td
                          class="md-medium-hide"
                          v-show="discountSelect==true"
                        >{{convertmoney(val.discount_word*val.qty)}}</td>
                        <td>{{convertmoney(val.item_amount)}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div
                  style="text-align:right"
                  class="md-layout-item md-xlarge-size-100 md-large-size-100 md-xsmall-size-100 md-small-size-100 md-medium-size-100"
                >
                  <div>
                    <span class="paddingright" style="color:#448aff;font-size:16px;">รวมมูลค่าสินค้า</span>
                    <p style="display:inline-block;width:90px">{{ convertmoney(totalprice) }} บาท</p>
                  </div>
                  <div>
                    <span class="paddingright" style="color:#448aff;font-size:16px;">ส่วนลด</span>
                    <p style="display:inline-block;width:90px">
                      {{ convertmoney(caldiscount) }}
                      <span v-show="percal">%</span>
                      <span v-show="!percal">บาท</span>
                    </p>
                  </div>
                  <div>
                    <span class="paddingright" style="color:#448aff;font-size:16px;">ภาษีมูลค่าเพิ่ม</span>
                    <p style="display:inline-block;width:90px">{{ convertmoney(dif_fee) }} บาท</p>
                  </div>
                  <div>
                    <span class="paddingright" style="color:#448aff;font-size:16px;">มูลค่าสุทธิ</span>
                    <p
                      style="display:inline-block;width:90px"
                    >{{ convertmoney(cal_totalprice) }} บาท</p>
                  </div>
                </div>
                <div
                  style="text-align:right"
                  class="md-layout-item md-xlarge-size-100 md-large-size-100 md-xsmall-size-100 md-small-size-100 md-medium-size-100"
                >
                  <span>This invoice is brought to you by</span>
                  <img style="width: 100px; height: 50px;" src="../../assets/nopadol.jpg">
                </div>
              </div>
              <md-button class="md-raised md-primary" @click="setDone('third')">สิ้นสุด</md-button>
              <!-- testprint -->
              <form
                v-show="tablecode == 'SO'"
                id="tax_report"
                :action="php + '/report_pdf/report_sale.php'"
                method="post"
                target="_blank"
              >
                <input type="hidden" name="datasale">
                <!-- <span style="float:right;">ปริ้นใบสั่งขาย :</span> -->
                <md-button
                  type="submit"
                  style="float: right; position: relative; top: -37px;"
                  class="md-raised md-primary"
                >Print A4</md-button>
              </form>

              <form
                v-show="tablecode == 'SO'"
                :action="php + '/report_pdf/report_sale_a5.php'"
                method="post"
                target="_blank"
              >
                <input type="hidden" name="datasale">
                <md-button
                  type="submit"
                  style="float: right; position: relative; top: -37px;right: 10px;"
                  class="md-raised md-primary"
                >Print A5</md-button>
              </form>

              <!-- testprint -->
            </md-step>
          </md-steppers>
        </div>
      </div>

      <div>
        <md-dialog :md-active.sync="selectQTdialog">
          <md-dialog-title>เลือกเลขที่ใบเสนอราคา</md-dialog-title>
          <md-tabs md-dynamic-height>
            <md-tab md-label>
              <md-field>
                <md-input
                  v-model="searchcus"
                  @keyup="searchConfirmedQT"
                  @keydown="searchConfirmedQT"
                  @input="searchConfirmedQT"
                ></md-input>
              </md-field>
              <table class="table table-hover">
                <thead align="center">
                  <tr style="text-align:center;cursor:pointer">
                    <td>ลำดับ</td>
                    <td>เลขที่เอกสาร</td>
                    <td>ชื่อลูกค้า</td>
                  </tr>
                </thead>
                <tbody id="valuetable">
                  <tr
                    @click="callQTtoSO(val.id),selectQTdialog=false"
                    v-for="(val,index) in collectQT"
                    :key="index"
                    style="text-align:center;cursor:pointer"
                  >
                    <td>{{index+1}}</td>
                    <td>{{val.doc_no}}</td>
                    <td>{{val.ar_name}}</td>
                  </tr>
                </tbody>
              </table>
            </md-tab>
          </md-tabs>
          <md-dialog-actions>
            <md-button class="md-primary" @click="selectQTdialog = false">Close</md-button>
          </md-dialog-actions>
        </md-dialog>
      </div>

      <div>
        <md-dialog :md-active.sync="confirmDialog">
          <md-dialog-title>เลือกลูกค้า</md-dialog-title>
          <md-tabs md-dynamic-height>
            <md-tab md-label>
              <span>ยืนยันการทำใบเสนอราคา</span>
            </md-tab>
          </md-tabs>
          <md-dialog-actions>
            <md-button
              class="md-primary"
              @click="saveDocument(),confirmDialog=false"
            >ยืนยัน</md-button>
            <md-button class="md-accent" @click="confirmDialog = false">Close</md-button>
          </md-dialog-actions>
        </md-dialog>
      </div>
      <!-- showDialogcus -->
        <md-dialog :md-active.sync="showDialogcus">
          <md-dialog-title>เลือกลูกค้า</md-dialog-title>
          <md-dialog-content>
            <md-tabs md-dynamic-height>
              <md-tab md-label>
                <md-field>
                  <md-input
                    v-model="searchcus"
                    @keyup="searchCustomerRT"
                    @keydown="searchCustomerRT"
                    @input="searchCustomerRT"
                  ></md-input>
                </md-field>
                <div class="table-responsive" style="overflow-y: auto;">
                  <table class="table table-hover">
                    <thead align="center">
                      <tr>
                        <td class="md-medium-hide" style="white-space: nowrap;">ลำดับ</td>
                        <td style="white-space: nowrap;" id="colorselectorder">รหัสลูกค้า</td>
                        <td style="white-space: nowrap;" id="colorselectgroup">ชื่อลูกค้า</td>
                        <td class="md-medium-hide" style="white-space: nowrap;">ที่อยู่</td>
                        <td style="white-space: nowrap;" id="colorselectgroup">วงเงินคงเหลือ</td>
                        <td style="white-space: nowrap;" id="colorselectgroup">วงเงินที่ใช้ไป</td>
                        <td style="white-space: nowrap;" id="colorselectgroup">วงเงินสูงสุด</td>
                      </tr>
                    </thead>
                    <tbody id="valuetable">
                      <tr
                        @click="C_customer(val)"
                        style="text-align:center;cursor:pointer"
                        v-for="(val,index) in detailcusall"
                        :key="index"
                      >
                        <td class="md-medium-hide">{{index+1}}</td>
                        <td>{{val.code}}</td>
                        <td>{{val.name}}</td>
                        <td class="md-medium-hide">{{val.address}}</td>
                        <td>{{val.debt_limit - val.debt_amount}}</td>
                        <td>{{val.debt_amount}}</td>
                        <td>{{val.debt_limit}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </md-tab>
            </md-tabs>
          </md-dialog-content>

          <md-dialog-actions>
            <md-button class="md-primary" @click="showDialogcus = false">Close</md-button>
          </md-dialog-actions>
        </md-dialog>
      <!-- search sale-->
        <md-dialog :md-active.sync="searchsale">
          <md-dialog-title>เลือกพนักงานขาย</md-dialog-title>
          <md-tabs md-dynamic-height>
            <md-tab md-label>
              <div class="table-responsive" style="overflow-y: auto;">
                <table class="table table-hover">
                  <thead align="center">
                    <tr>
                      <th>ลำดับ</th>
                      <th id="colorselectorder">รหัสพนักงาน</th>
                      <th id="colorselectgroup">ชื่อพนักงาน</th>
                    </tr>
                  </thead>
                  <tbody id="valuetable">
                    <tr
                      @click="selectcus_step2(val)"
                      v-for="(val,index) in searchsaleobj"
                      :key="index"
                      style="text-align:center;cursor:pointer"
                    >
                      <td>{{index+1}}</td>
                      <td>{{val.sale_code}}</td>
                      <td>{{val.sale_name}}</td>
                      <td>{{val.debt_limit - val.debt_amount}}</td>
                      <td>{{val.debt_amount}}</td>
                      <td>{{val.debt_limit}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </md-tab>
          </md-tabs>

          <md-dialog-actions>
            <md-button class="md-primary" @click="searchsale = false">Close</md-button>
          </md-dialog-actions>
        </md-dialog>
      <!-- search depart -->
        <md-dialog :md-active.sync="searchdepart">
          <md-dialog-title>เลือกแผนก</md-dialog-title>
          <md-tabs md-dynamic-height>
            <md-tab md-label>
              <div class="table-responsive" style="overflow-y: auto;">
                <table class="table table-hover">
                  <thead align="center">
                    <tr>
                      <th>ลำดับ</th>
                      <th id="colorselectorder">รหัสแผนก</th>
                      <th id="colorselectgroup">ชื่อแผนก</th>
                    </tr>
                  </thead>
                  <tbody id="valuetable">
                    <tr
                      @click="selectdepart_step2(val)"
                      v-for="(val,index) in objdepart"
                      :key="index"
                      style="text-align:center;cursor:pointer"
                    >
                      <td>{{index+1}}</td>
                      <td>{{val.code}}</td>
                      <td>{{val.name}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </md-tab>
          </md-tabs>

          <md-dialog-actions>
            <md-button class="md-primary" @click="searchdepart = false">Close</md-button>
          </md-dialog-actions>
        </md-dialog>
      <!-- search project -->
        <md-dialog :md-active.sync="searchproject">
          <md-dialog-title>เลือกโครงการ</md-dialog-title>
          <md-tabs md-dynamic-height>
            <md-tab md-label>
              <div class="table-responsive" style="overflow-y: auto;">
                <table class="table table-hover">
                  <thead align="center">
                    <tr>
                      <th>ลำดับ</th>
                      <th id="colorselectorder">รหัสโครงการ</th>
                      <th id="colorselectgroup">ชื่อโครงการ</th>
                    </tr>
                  </thead>
                  <tbody id="valuetable">
                    <tr
                      @click="selectproject_step2(val)"
                      v-for="(val,index) in objproject"
                      :key="index"
                      style="text-align:center;cursor:pointer"
                    >
                      <td>{{index+1}}</td>
                      <td>{{val.code}}</td>
                      <td>{{val.name}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </md-tab>
          </md-tabs>
          <md-dialog-actions>
            <md-button class="md-primary" @click="searchproject = false">Close</md-button>
          </md-dialog-actions>
        </md-dialog>
      <!-- search  Allocate-->
        <md-dialog :md-active.sync="searchAllocate_m">
          <md-dialog-title>เลือกการจัดสรร</md-dialog-title>
          <md-tabs md-dynamic-height>
            <md-tab md-label>
              <div class="table-responsive" style="overflow-y: auto;">
                <table class="table table-hover">
                  <thead align="center">
                    <tr>
                      <th>ลำดับ</th>
                      <th id="colorselectorder">รหัสการจัดสรร</th>
                      <th id="colorselectgroup">ชื่อการจัดสรร</th>
                    </tr>
                  </thead>
                  <tbody id="valuetable">
                    <tr
                      @click="selectAllocate_step2(val)"
                      v-for="(val,index) in objAllocate"
                      :key="index"
                      style="text-align:center;cursor:pointer"
                    >
                      <td>{{index+1}}</td>
                      <td>{{val.code}}</td>
                      <td>{{val.name}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </md-tab>
          </md-tabs>

          <md-dialog-actions>
            <md-button class="md-primary" @click="searchAllocate_m = false">Close</md-button>
          </md-dialog-actions>
        </md-dialog>
      <!-- search  searchunitcode-->
        <md-dialog :md-active.sync="searchunitcode_m">
          <md-dialog-title>เปลี่ยน หน่วยนับ</md-dialog-title>
          <md-tabs md-dynamic-height>
            <md-tab md-label>
              <div class="table-responsive" style="overflow-y: auto;">
                <table class="table table-hover">
                  <thead align="center">
                    <tr>
                      <th>ลำดับ</th>
                      <th id="colorselectorder">หน่วยนับ</th>
                      <th v-show="billtype == 0" id="colorselectorder">ราคา(เงินสด)</th>
                      <th v-show="billtype == 1" id="colorselectorder">ราคา(เงินเชื่อ)</th>
                    </tr>
                  </thead>
                  <tbody id="valuetable">
                    <tr
                      v-for="(val,index) in unitcode_obj"
                      :key="index"
                      @click="selectunitcode_step2(val)"
                      style="text-align:center;cursor:pointer"
                    >
                      <td>{{index+1}}</td>
                      <td>{{val.unit_code}}</td>
                      <td v-show="billtype == 0">{{ val.sale_price_1 }}</td>
                      <td v-show="billtype == 1">{{ val.sale_price_2 }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </md-tab>
          </md-tabs>

          <md-dialog-actions>
            <md-button class="md-primary" @click="searchunitcode_m = false">Close</md-button>
          </md-dialog-actions>
        </md-dialog>
      <!-- search warehouse -->
        <md-dialog :md-active.sync="searchwarehousecode_m">
          <md-dialog-title>เปลี่ยน คลัง</md-dialog-title>
          <md-tabs md-dynamic-height>
            <md-tab md-label>
              <div class="table-responsive" style="overflow-y: auto;">
                <table class="table table-hover">
                  <thead align="center">
                    <tr>
                      <th>ลำดับ</th>
                      <th id="colorselectorder">คลัง</th>
                      <th id="colorselectorder">ที่เก็บ</th>
                      <th id="colorselectorder">จำนวน</th>
                    </tr>
                  </thead>
                  <tbody id="valuetable">
                    <tr
                      v-for="(val,index) in stock_obj"
                      :key="index"
                      @click="selectwarehousecode(val)"
                      style="text-align:center;cursor:pointer"
                    >
                      <td>{{index+1}}</td>
                      <td>{{val.wh_code}}</td>
                      <td>{{val.shelf_code}}</td>
                      <td>{{val.qty}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </md-tab>
          </md-tabs>

          <md-dialog-actions>
            <md-button class="md-primary" @click="searchwarehousecode_m = false">Close</md-button>
          </md-dialog-actions>
        </md-dialog>
      <!-- search custcontact -->
        <md-dialog :md-active.sync="searchcustcontact">
          <md-dialog-title>เลือกแผนก</md-dialog-title>
          <md-tabs md-dynamic-height>
            <md-tab md-label>
              <div class="table-responsive" style="overflow-y: auto;">
                <table class="table table-hover">
                  <thead align="center">
                    <tr>
                      <th>ลำดับ</th>
                      <th id="colorselectorder">รหัสผู้ติดต่อ</th>
                      <th id="colorselectgroup">ชื่อผู้ติดต่อ</th>
                    </tr>
                  </thead>
                  <tbody id="valuetable">
                    <tr
                      @click="selectCustContact_step2(val)"
                      v-for="(val,index) in objCustContact"
                      :key="index"
                      style="text-align:center;cursor:pointer"
                    >
                      <td>{{index+1}}</td>
                      <td>{{val.contact_code}}</td>
                      <td>{{val.contact_name}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </md-tab>
          </md-tabs>

          <md-dialog-actions>
            <md-button class="md-primary" @click="searchcustcontact = false">Close</md-button>
          </md-dialog-actions>
        </md-dialog>
        <!-- search Address -->
        <md-dialog :md-active.sync="AddressShow">
          <md-dialog-title>เลือกสถานที่จัดส่ง</md-dialog-title>
          <md-tabs md-dynamic-height>
            <md-tab md-label>
              <div class="table-responsive" style="overflow-y: auto;">
                <table class="table table-hover">
                  <thead align="center">
                    <tr>
                      <th>ลำดับ</th>
                      <th id="colorselectorder">ประเทศ</th>
                      <th id="colorselectgroup">อำเภอ</th>
                      <th id="colorselectorder">ตำบล</th>
                      <th id="colorselectgroup">จังหวัด</th>
                      <th id="colorselectorder">รหัสไปรษณีย์</th>
                      <th id="colorselectgroup">จุดสังเกต</th>
                      <th id="colorselectgroup">เบอร์โทรศัพท์</th>
                    </tr>
                  </thead>
                  <tbody id="valuetable">
                    <tr
                      @click="selectAddress(val)"
                      v-for="(val,index) in objAddress"
                      :key="index"
                      style="text-align:center;cursor:pointer"
                    >
                      <td>{{index+1}}</td>
                      <td>{{val.country}}</td>
                      <td>{{val.district}}</td>
                      <td>{{val.district_sub}}</td>
                      <td>{{val.province}}</td>
                      <td>{{val.post_code}}</td>
                      <td>{{val.landmarks}}</td>
                      <td>{{val.telephone}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </md-tab>
          </md-tabs>

          <md-dialog-actions>
            <md-button class="md-primary" @click="AddressShow = false">Close</md-button>
          </md-dialog-actions>
        </md-dialog>
        <!-- เพิ่มที่จัดส่ง -->
        <md-dialog :md-active.sync="AddressAdd">
          <md-dialog-title>เพิ่มสถานที่จัดส่ง</md-dialog-title>
          <md-tabs md-dynamic-height>
            <md-tab md-label>
              <div class="table-responsive" style="overflow-y: auto;">
                <table class="table table-hover">
                  <thead align="center">
                      <tr><td>ประเทศ</td><td><input class="form-control" v-model="ass_country"/></td></tr>
                      <tr><td>อำเภอ</td><td><input class="form-control" v-model="ass_district"/></td></tr>
                      <tr><td>ตำบล</td><td><input class="form-control" v-model="ass_district_sub"/></td></tr>
                      <tr><td>จังหวัด</td><td><input class="form-control" v-model="ass_province"/></td></tr>
                      <tr><td>รหัสไปรษณีย์</td><td><input class="form-control" v-model="ass_post_code"/></td></tr>
                      <tr><td>จุดสังเกต</td><td><input class="form-control" v-model="ass_landmarks"/></td></tr>
                      <tr><td>เบอร์โทรศัพท์</td><td><input class="form-control" v-model="ass_telephone"/></td></tr>
                      <tr><td>ที่อยู่</td><td><textarea v-model="ass_address" type="text" class="form-control" rows="2" placeholder="ที่อยู่ในการส่งของ" ></textarea></td></tr>
                  </thead>
                </table>
              </div>
            </md-tab>
          </md-tabs>

          <md-dialog-actions>
            <md-button class="md-primary" @click="createAddressSO(),AddressAdd = false">Add</md-button>
            <md-button class="md-primary" @click="AddressAdd = false">Close</md-button>
          </md-dialog-actions>
        </md-dialog>
    </div>
  </div>
</template>

<script src="../../js/saleorder.js">
</script>

<style src="./saleorder.css">
</style>
<style scoped>
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}
</style>
