<template>
  <div>
    <div class="md-layout-item md-size-100 md-small-size-100" style="padding:10px;">
      <md-toolbar class="md-transparent" style="padding:20px" disabled>
        <div class="md-title md-layout md-layout-item md-size-100 md-small-size-100">
          <div class="md-title md-layout-item md-size-100 md-small-size-100">
            <h3>สถานที่จัดส่ง</h3>
            <md-switch
              @change="SearchIdAddress(),showAddrassFuc"
              v-model="showAddrass"
            >{{ showAddrassFuc(showAddrass) }}</md-switch>
          </div>
          <input type="hidden"
            :value="ass_id"
            @input="updateValue($event.target.value)"
          >
        </div>
        <div class="md-layout md-layout-item md-size-100" v-if="showAddrass">
          <div class="md-layout-item md-size-100 md-small-size-100" style="padding:10px">
              <md-button class="md-raised md-primary" @click="SearchKeywordAddress">ค้นหาที่อยู่ลูกค้า</md-button>
              <!-- <md-button class="md-raised md-primary" @click="AddressAdd = true">สร้างที่อยู่ลูกค้าใหม่</md-button> -->
          </div>
          <div class="md-layout-item md-size-20 md-small-size-100" style="padding:10px">
            <md-field>
              <label for="last-name">อำเภอ</label>
              <md-input v-model="ass_district"></md-input>
            </md-field>
          </div>
          <div class="md-layout-item md-size-20 md-small-size-100" style="padding:10px">
            <md-field>
              <label for="last-name subnotop">ตำบล</label>
              <md-input v-model="ass_district_sub"></md-input>
            </md-field>
          </div>
          <div class="md-layout-item md-size-20 md-small-size-100" style="padding:10px">
            <md-field>
              <label for="last-name">เมือง</label>
              <md-input v-model="ass_country"></md-input>
            </md-field>
          </div>
          <div class="md-layout-item md-size-20 md-small-size-100" style="padding:10px">
            <md-field>
              <label for="last-name">จังหวัด</label>
              <md-input v-model="ass_province"></md-input>
            </md-field>
          </div>
          <div class="md-layout-item md-size-20 md-small-size-100" style="padding:10px">
            <md-field>
              <label for="last-name">รหัสไปรษณีย์</label>
              <md-input v-model="ass_post_code"></md-input>
            </md-field>
          </div>
          <div class="md-layout-item md-size-20 md-small-size-100" style="padding:10px">
            <md-field>
              <label for="last-name">จุดสังเกต</label>
              <md-input v-model="ass_landmarks"></md-input>
            </md-field>
          </div>
          <div class="md-layout-item md-size-20 md-small-size-100" style="padding:10px">
            <md-field>
              <label for="last-name">เบอร์โทรศัพท์</label>
              <md-input v-model="ass_telephone"></md-input>
            </md-field>
          </div>
          <div class="md-layout-item md-size-40 md-small-size-100" style="padding:10px">
              <textarea
              v-model="ass_address"
              type="text"
              class="form-control"
              rows="2"
              placeholder="ที่อยู่ในการส่งของ"
              ></textarea>
          </div>
        </div>
      </md-toolbar>
    </div>
    <!-- search Address -->
    <md-dialog :md-active.sync="AddressShow">
      <md-dialog-title>เลือกสถานที่จัดส่ง</md-dialog-title>
      <md-tabs md-dynamic-height>
        <md-tab md-label>
          <div class="table-responsive" style="overflow-y: auto;">
            <table class="table table-hover">
              <thead align="center">
                <tr>
                  <th>ลำดับ</th>
                  <th id="colorselectorder">ประเทศ</th>
                  <th id="colorselectgroup">อำเภอ</th>
                  <th id="colorselectorder">ตำบล</th>
                  <th id="colorselectgroup">จังหวัด</th>
                  <th id="colorselectorder">รหัสไปรษณีย์</th>
                  <th id="colorselectgroup">จุดสังเกต</th>
                  <th id="colorselectgroup">เบอร์โทรศัพท์</th>
                </tr>
              </thead>
              <tbody id="valuetable">
                <tr
                  @click="selectAddress(val)"
                  v-for="(val,index) in objAddress"
                  :key="index"
                  style="text-align:center;cursor:pointer"
                >
                  <td>{{index+1}}</td>
                  <td>{{val.country}}</td>
                  <td>{{val.district}}</td>
                  <td>{{val.district_sub}}</td>
                  <td>{{val.province}}</td>
                  <td>{{val.post_code}}</td>
                  <td>{{val.landmarks}}</td>
                  <td>{{val.telephone}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </md-tab>
      </md-tabs>

      <md-dialog-actions>
        <md-button class="md-primary" @click="AddressShow = false">Close</md-button>
      </md-dialog-actions>
    </md-dialog>
    <!-- เพิ่มที่จัดส่ง -->
    <md-dialog :md-active.sync="AddressAdd">
      <md-dialog-title>เพิ่มสถานที่จัดส่ง</md-dialog-title>
      <md-tabs md-dynamic-height>
        <md-tab md-label>
          <div class="table-responsive" style="overflow-y: auto;">
            <table class="table table-hover">
              <thead align="center">
                  <tr><td>ประเทศ</td><td><input class="form-control" v-model="ass_country"/></td></tr>
                  <tr><td>อำเภอ</td><td><input class="form-control" v-model="ass_district"/></td></tr>
                  <tr><td>ตำบล</td><td><input class="form-control" v-model="ass_district_sub"/></td></tr>
                  <tr><td>จังหวัด</td><td><input class="form-control" v-model="ass_province"/></td></tr>
                  <tr><td>รหัสไปรษณีย์</td><td><input class="form-control" v-model="ass_post_code"/></td></tr>
                  <tr><td>จุดสังเกต</td><td><input class="form-control" v-model="ass_landmarks"/></td></tr>
                  <tr><td>เบอร์โทรศัพท์</td><td><input class="form-control" v-model="ass_telephone"/></td></tr>
                  <tr><td>ที่อยู่</td><td><textarea v-model="ass_address" type="text" class="form-control" rows="2" placeholder="ที่อยู่ในการส่งของ" ></textarea></td></tr>
              </thead>
            </table>
          </div>
        </md-tab>
      </md-tabs>

      <md-dialog-actions>
        <md-button class="md-primary" @click="createAddressSO(),AddressAdd = false">Add</md-button>
        <md-button class="md-primary" @click="AddressAdd = false">Close</md-button>
      </md-dialog-actions>
    </md-dialog>
  </div>
</template>

<script>
import Vue from "vue";
import api from "../../service/service.js";
import Swal from 'sweetalert2';
import JQuery from 'jquery'
let $ = JQuery
export default {
  name: "commponenDalivery",
  props: {
    idcus: 0,
    ass_id: this.ass_id,
  },
  data() {
    return {
      showAddrass: false,
      addressHeight: '72px',
      ass_company_id: 0,
      ass_branch_id: 0,
      ass_ar_id: 0,
      ass_code: '',
      ass_address: '',
      ass_district_sub: '',
      ass_district: '',
      ass_province: '',
      ass_post_code: '',
      ass_country: '',
      ass_landmarks: '',
      ass_telephone: '',
      ass_map_location_x: '',
      ass_map_location_y: '',
      objAddress:[],
      AddressShow: false,
      AddressAdd: false,
    };
  },
  computed: {

  },
  methods: {
    showAddrassFuc() {
      if (!this.showAddrass) {
        this.addressHeight = '72px'
      }
      if (this.showAddrass) {
        this.addressHeight = '256px'
      }
    },
    SearchIdAddress(){
      let payload = {
        id: this.ass_id
      };
      console.log("IdAddress",payload)
      if(payload.id == 0){
        return ''
      }
      this.isLoading = true
      api.SearchAddressById(payload,
        (result)=>{
        this.isLoading = false
        console.log(JSON.stringify(result))
        this.ass_id = result.data[0].id,
        this.ass_company_id = result.data[0].company_id,
        this.ass_branch_id = result.data[0].branch_id,
        this.ass_ar_id = result.data[0].ar_id,
        this.ass_code = result.data[0].code,
        this.ass_address = result.data[0].address,
        this.ass_district_sub = result.data[0].district_sub,
        this.ass_district = result.data[0].district,
        this.ass_province = result.data[0].province,
        this.ass_post_code = result.data[0].post_code,
        this.ass_country = result.data[0].country,
        this.ass_landmarks = result.data[0].landmarks,
        this.ass_telephone = result.data[0].telephone,
        this.ass_map_location_x = result.data[0].map_location_x,
        this.ass_map_location_y = result.data[0].map_location_y
        },
        (error) => {
          this.isLoading = false
          console.log(JSON.stringify(error))
          alertify.error('Data ข้อมูลแผนกผิดพลาด');
        }
      )
    },
    SearchKeywordAddress(){
      let payload = {
        keyword: String(this.idcus)
      }
      console.log(payload)
      this.isLoading = true
      api.SearchAddressByKeyword(payload,
        (result)=>{
          console.log(result)
          this.isLoading = false
          this.objAddress = result.data
          this.AddressShow = true
        },
        (error) => {
          this.isLoading = false
          console.log(JSON.stringify(error))
          alertify.error('Data ข้อมูลแผนกผิดพลาด');
        }
      )
    },
    selectAddress(val) {
      this.ass_id = val.id,
      this.ass_company_id = val.company_id,
      this.ass_branch_id = val.branch_id,
      this.ass_ar_id = val.ar_id,
      this.ass_code = val.code,
      this.ass_address = val.address,
      this.ass_district_sub = val.district_sub,
      this.ass_district = val.district,
      this.ass_province = val.province,
      this.ass_post_code = val.post_code,
      this.ass_country = val.country,
      this.ass_landmarks = val.landmarks,
      this.ass_telephone = val.telephone,
      this.ass_map_location_x = val.map_location_x,
      this.ass_map_location_y = val.map_location_y,
      this.updateValue(this.ass_id);
      this.AddressShow = false
    },
    createAddressSO(){
      let payload = {
        id: 0,
        company_id: this.ass_company_id,
        branch_id: this.ass_branch_id,
        ar_id: this.ass_ar_id,
        code: this.ass_code,
        address: this.ass_address,
        district_sub: this.ass_district_sub,
        district: this.ass_district,
        province: this.ass_province,
        post_code: this.ass_post_code,
        country: this.ass_country,
        landmarks: this.ass_landmarks,
        telephone: this.ass_telephone,
        map_location_x: this.ass_map_location_y,
        map_location_y: this.ass_map_location_y,
      }
      console.log(payload)
      this.isLoading = true
      api.createAddress(payload,
        (result)=>{
          console.log(result)
          this.isLoading = false
        },
        (error) => {
          this.isLoading = false
          console.log(JSON.stringify(error))
          alertify.error('Data ข้อมูลแผนกผิดพลาด');
        }
      )
    },
    updateValue: function (value) {
      this.$emit('input', value);
    }
  },
  mounted() {
    this.SearchIdAddress()
  }
};
</script>
