<template>
  <div>
    <div class="md-layout md-gutter">
      <div class="md-layout-item">
        <md-button class="md-raised" @click="searchTextNote()">หมายเหตุ</md-button>
      </div>
      <div class="md-layout-item md-size-100 md-small-size-100">
      <input type="hidden"
      :value="infoNotice"
      @input="updateValue($event.target.value)">
      </div>

    </div>
    <div>
      <md-dialog :md-active.sync="shownote">
        <md-dialog-title>เลือกหมายเหตุ</md-dialog-title>
        <md-tabs id="none" md-dynamic-height>
          <md-tab md-label>
            <div>
              <div v-for="(val,index) in datanote" :key="index">
                <md-checkbox v-model="noteArr" :value="val.text_note">{{val.text_note}}</md-checkbox>
              </div>
              {{ noteArr }}
            </div>
          </md-tab>
        </md-tabs>

        <md-dialog-actions>
          <md-button class="md-primary" @click="shownote=false,convertNote()">Select</md-button>
          <md-button class="md-primary" @click="shownote=false">Close</md-button>
          <!-- <md-button style="left:10px" class="md-raised md-accent" @click="infoNotice=''">เคลียร์</md-button> -->
        </md-dialog-actions>
      </md-dialog>
    </div>
  </div>
</template>

<script>
import Vue from "vue";
import api from "../../service/service.js";
import Loading from "vue-loading-overlay";
export default {
  name: "componentnote",
  props: ['value','type_status'],
  data() {
    return {
      isLoading: false,
      datanote: [],
      text_note: "",
      shownote: false,
      textAreaNotice: "",
      infoNotice:"",
      test: "",
      noteArr: [],
      parentValue: '',
    };
  },
  methods: {
    searchTextNote() {
      this.datanote = [];
      let payload = {
        type_status: parseInt(this.type_status)
      };
      this.isLoading = true;
      console.log("type_status",payload);
      api.searchNote(
        payload,
        result => {
          this.isLoading = false;
          console.log(result.data);
          console.log(result.data.length);
          this.datanote = result.data;
          this.shownote=true;
        },
        error => {
          this.isLoading = false;
          console.log(JSON.stringify("มันเสียนะ", error));
          alertify.error("ข้อผิดพลาด");
        }
      );
    },
    convertNote(event) {
      let note = "";
      let infoNotice = "";
      let textAreaNotice = "";
      for (let i = 0; i < this.noteArr.length; i++) {
        note += this.noteArr[i] + "\n";
      }
      console.log(note);
      note = note.toString();
      console.log(note);
      note = note.split(",");
      console.log(JSON.stringify(note));
      this.textAreaNotice = note;
      this.infoNotice = note;
      infoNotice = note.toString();
      console.log("infoNotice = ",infoNotice);
      console.log("this.infoNotice = ",this.infoNotice);
      this.updateValue(infoNotice);
    },
    updateValue: function (value) {
      this.$emit('input', value);
    }
  },
  mounted() {
    //this.searchTextNote();
  }
};
</script>
