<template>
  <div class="index" style="background: #f4f5f7;">
    <loading :active.sync="isLoading" :can-cancel="true" :is-full-page="fullPage"></loading>
    <div v-shortkey="['ctrl', 'alt', 'i']" @shortkey="addproductrt()"></div>
    <md-dialog :md-active.sync="showitemlist">
      <md-dilog-title>ค้นหาสินค้า</md-dilog-title>
      <md-tabs id="none" md-dynamic-height>
        <md-tab md-label>
          <md-field>
            <md-input v-model="searchitemlist" @keydown.enter="additem" @keyup="addproductrt"></md-input>
          </md-field>
          <div class="table-responsive" style="overflow-y: visible;">
            <table class="table table-hover">
              <thead align="center">
                <tr>
                  <th style="white-space: nowrap;">ลำดับ</th>
                  <th style="white-space: nowrap;">รูป</th>
                  <th style="overflow:auto;white-space: nowrap;">รหัสสินค้า</th>
                  <th style="white-space: nowrap;">ชื่อสินค้า</th>
                  <th style="white-space: nowrap;">หน่วยนับ</th>
                  <th style="white-space: nowrap;">ราคา(เงินสด)</th>
                  <th style="white-space: nowrap;">ราคา(เงินเชื่อ)</th>
                  <th style="white-space: nowrap;">คงเหลือ</th>
                </tr>
              </thead>
              <tbody
                v-for="(val,index) in  listFilter"
                :key="index"
                id="valuetable"
                @keyup="selectitem(index)"
              >
                <tr style="text-align:center;cursor:pointer">
                  <td @click="showdetail(val)">{{index+1}}</td>
                  <td @click="showdetail(val)" v-show="val.pic_path_1">
                    <img
                      style="width:50px;height:50px;"
                      class="hoverzoom"
                      :src="val.pic_path_1"
                      alt
                    >
                  </td>
                  <td @click="showdetail(val)" v-show="!val.pic_path_1">
                    <img
                      style="max-width:50px;max-height:50px;"
                      src="../../assets/No_Image_Available.png"
                      alt
                    >
                  </td>
                  <td @click="showdetail(val)">{{val.item_code}}</td>
                  <td @click="showdetail(val)">{{val.item_name}}</td>
                  <td @click="showdetail(val)">{{val.unit_code}}</td>
                  <td @click="showdetail(val)">{{val.sale_price_1}}</td>
                  <td @click="showdetail(val)">{{val.sale_price_2}}</td>
                  <td>
                    <md-button
                      @click="findstock(val,index)"
                      style="height:18px;"
                      class="md-primary"
                    >{{ val.stk_qty }}</md-button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </md-tab>
      </md-tabs>

      <md-dialog-actions>
        <md-button class="md-primary" @click="showitemlist = false">Close</md-button>
      </md-dialog-actions>
    </md-dialog>
  </div>
</template>
<script>
import Vue from "vue";
import Loading from "vue-loading-overlay";
import "vue-loading-overlay/dist/vue-loading.css";
import api from "../../service/service.js";
import { Money } from "v-money";
Vue.use(require("vue-shortkey"));
export default {
  name: "commponentseachitemlist",
  props: {
    // removeitemtable: Function,
    parentData: [],
    stringProp: [],
    ref: "addproduct",

    typepage: "",
    billtype: 0
  },
  components: {
    Loading
  },
  data() {
    return {
      searchitemlist: "",
      showitemlist: false,
      attention: "",
      isLoading: false,
      fullPage: true,
      tempitemlist: Array(),
      itemlist: [],
      timeout: null,
      listitem: [],
      datas: [],
      datalist: []
    };
  },
  computed: {
    listFilter() {
      var myNewStr = this.searchitemlist.substr(-1);
      var dataall;

      var str = this.searchitemlist.split(" ");

      console.log(this.datalist.length);
      console.log(this.datalist);
      for (let i = this.datalist.length; i >= str.length; i--) {
        this.datalist.pop();
      }
      console.log(this.itemlist);
      if (myNewStr == " ") {
        this.datalist.push(this.listitem);
        console.log(this.itemlist);
      }
      if (str.length > 1) {
        this.datas = this.datalist[str.length - 2].filter(dataalls => {
          if (
            dataalls.item_code
              .toLowerCase()
              .includes(str[str.length - 1].toLowerCase()) ||
            dataalls.item_name
              .toLowerCase()
              .includes(str[str.length - 1].toLowerCase()) ||
            dataalls.unit_code
              .toLowerCase()
              .includes(str[str.length - 1].toLowerCase())
          ) {
            return (
              dataalls.item_code
                .toLowerCase()
                .includes(str[str.length - 1].toLowerCase()) ||
              dataalls.item_name
                .toLowerCase()
                .includes(str[str.length - 1].toLowerCase()) ||
              dataalls.unit_code
                .toLowerCase()
                .includes(str[str.length - 1].toLowerCase())
            );
          }
        });
      } else {
        this.datas = this.itemlist.filter(dataalls => {
          if (
            dataalls.item_code
              .toLowerCase()
              .includes(this.searchitemlist.toLowerCase()) ||
            dataalls.item_name
              .toLowerCase()
              .includes(this.searchitemlist.toLowerCase()) ||
            dataalls.unit_code
              .toLowerCase()
              .includes(this.searchitemlist.toLowerCase())
          ) {
            return (
              dataalls.item_code
                .toLowerCase()
                .includes(this.searchitemlist.toLowerCase()) ||
              dataalls.item_name
                .toLowerCase()
                .includes(this.searchitemlist.toLowerCase()) ||
              dataalls.unit_code
                .toLowerCase()
                .includes(this.searchitemlist.toLowerCase())
            );
          }
        });
      }

      if (myNewStr == " ") {
        this.datas = this.listitem;
        console.log(this.listitem);
        return this.datas;
      } else {
        this.listitem = [];
        this.listitem = this.datas;

        console.log(this.listitem);
      }
      return this.datas.sort((a, b) => (a.item_code > b.item_code ? 0 : -1));
    }
  },
  methods: {
    selectitem(index) {
      console.log((index += 1));
    },
    additem() {},
    addproductrt() {
      console.log(this.searchitemlist);
      // alert(this.billtype)
      // alert('d')
      // this.itemlist = [];
      // var myNewStr = this.searchitemlist.substr(-1);
      var str = this.searchitemlist.split(" ");
      console.log(str.length);
      let payload = {
        keyword: str[0]
      };
      // this.isLoading = true;

      clearTimeout(this.timeout);

      this.timeout = setTimeout(() => {
        if (str.length == 1) {
          this.isLoading = true;
        }

        api.searchbykeyword(
          payload,
          result => {
            console.log(result.data);
            this.isLoading = false;
            this.itemlist = result.data;
          },
          error => {
            console.log(JSON.stringify(error));
            alertify.error("ข้อมูล สินค้าเกิดข้อผิดพลาด");
          }
        );
      }, 500);
      this.showitemlist=true
    }
  },
  mounted() {

  }
};
</script>
