<template>
    <md-button class="md-raised md-primary">
        {{transferData}}
        <md-icon>print</md-icon>
    </md-button>
</template>
<script>
export default {
    props:{
        doctype:'',
        transferData: []
    }
}
</script>
<style lang="">
    
</style>