<template>
  <div class="md-layout-item md-size-100 md-small-size-100">
    <md-field>
      <label>{{title}}</label>
      <md-input
        v-show="typing==true"
        v-model="displayValue"
        @blur="isInputActive = false"
        @focus="isInputActive = true"
      ></md-input>
      <md-input
        v-show="typing==false"
        v-model="displayValue"
        disabled
      ></md-input>
    </md-field>
  </div>
</template>

<script>
import Vue from "vue";
import api from "../../service/service.js";
import Loading from "vue-loading-overlay";
export default {
  name: "moneybox",
  props: {
    value:'',
    title:String,
    typing:Boolean
  },
  data() {
    return {
      isInputActive: false
    };
  },
  computed: {
    displayValue: {
      get: function() {
        if (this.isInputActive) {
          // Cursor is inside the input field. unformat display value for user
          return this.value.toString();
        } else {
          // User is not modifying now. Format display value for user interface
          return (
            "" +
            this.value
              .toFixed(2)
              .replace(/(\d)(?=(\d{3})+(?:\.\d+)?$)/g, "$1,") +
            " บาท"
          );
        }
      },
      set: function(modifiedValue) {
        // Recalculate value after ignoring "$" and "," in user input
        let newValue = parseFloat(modifiedValue.replace(/[^\d\.]/g, ""));
        // Ensure that it is not NaN
        if (isNaN(newValue)) {
          newValue = 0;
        }
        // Note: we cannot set this.value as it is a "prop". It needs to be passed to parent component
        // $emit the event so that parent component gets it
        this.$emit("input", newValue);
      }
    }
  }
};
</script>

<style lang="scss" scoped>
input {
  width: 100%;
}
</style>


