<template>
  <div>
    <div class="md-layout md-gutter" style="margin:20px">
      <div class="md-layout-item md-size-45 md-small-size-100">
        <moneybox
          id="credit_price"
          v-model="totalprice"
          disabled
          :title="'ยอดเงินทั้งสิ้น'"
          :typing="false"
        ></moneybox>
      </div>

      <div class="md-layout-item md-size-45 md-small-size-100">
        <div class="md-title subnotop">ยอดเงินทั้งหมด {{convertmoney(totalprice)}} บาท</div>
        <div
          class="md-title subnotop"
          v-if="totalCashPayment!=0"
        >ยอดเงินสดที่ได้รับ {{convertmoney(totalCashPayment)}} บาท</div>
        <div
          class="md-title subnotop"
          v-if="totalBankPayment!=0"
        >ยอดเงินโอนรับ {{convertmoney(totalBankPayment)}} บาท</div>
        <div
          class="md-title subnotop"
          v-if="totalCreditPayment!=0"
        >ยอดบัตรเคดิตที่ได้รับ {{convertmoney(totalCreditPayment)}}บาท</div>
        <div
          class="md-title subnotop"
          v-if="totalChqPayment!=0"
        >ยอดเช็คที่ได้รับ {{convertmoney(totalChqPayment)}} บาท</div>
        <div class="md-title subnotop">ยอดผลต่าง {{convertmoney(totalBalance)}} บาท</div>
      </div>

      <div class="md-title subnotop">
        <v-btn style="background:rgb(197, 197, 197);" @click="submitpayment()">ตกลง</v-btn>
      </div>
    </div>
    <v-tabs v-model="active" color="#FFF" dark slider-color="cyan">
      <v-tab
        v-for="(val,index) in itemsss"
        :key="index"
        @click="findbankdata(val,index)"
        style="color:#FFF;background-color:#FFF"
        class="md-title"
      >{{val}}</v-tab>
      <v-tab-item>
        <v-card flat>
          <v-card-text>
            <div class>
              <div class="paymenttileleft">
                <div class="md-layout-item md-size-45 md-small-size-100">
                  <moneybox
                    id="credit_price"
                    v-model="cashPayment"
                    disabled
                    :title="'จำนวนเงินสด'"
                    :typing="true"
                  ></moneybox>
                </div>
              </div>
            </div>
          </v-card-text>
        </v-card>
      </v-tab-item>
      <v-tab-item>
        <v-card flat>
          <v-card-text>
            <div v-if="creditCardList.length != 0">
              <table class="table table-hover">
                <thead align="center">
                  <tr>
                    <th id="colorselectorder">เลขที่บัตรเครดิต</th>
                    <th id="colorselectorder">รหัสธนาคาร</th>
                    <th id="colorselectorder">ยอดเงิน</th>
                  </tr>
                </thead>

                <tbody
                  id="valuetable"
                  v-for="(val,index) in creditCardList"
                  :key="index"
                  v-if="index >=pagesleftCredit && index <pagesrightCredit"
                >
                  <tr>
                    <th id="colorselectorder">{{val.credit_card_no}}</th>
                    <th id="colorselectorder">{{val.bank_code}}</th>
                    <th id="colorselectorder">{{val.amount}}</th>
                  </tr>
                </tbody>
              </table>
              <div
                class="text-xs-center md-layout-item md-size-100 md-small-size-100"
                v-if="creditCardList.length != 0"
              >
                <v-pagination v-model="paginationCredit.page" :length="pagesCredit" class="para"></v-pagination>
              </div>
            </div>

            <div style="margin:20px">
              <div class="md-layout md-gutter">
                <div class="md-layout-item md-size-50 md-small-size-100">
                  <md-field>
                    <label>เลขที่บัตรเครดิต</label>
                    <md-input required v-model.number="credit.creditNumber"></md-input>
                  </md-field>
                </div>
                <div class="md-layout-item md-size-50 md-small-size-100">
                  <md-field>
                    <label>เลขที่อนุมัติ</label>
                    <md-input required v-model="credit.validateCreditCardNo"></md-input>
                  </md-field>
                </div>
                <div class="md-layout-item md-size-50 md-small-size-100">
                  <md-field>
                    <label>รหัสธนาคาร</label>
                    <md-select name="template" v-model="bankNameId">
                      <!-- แก้ -->
                      <md-option
                        v-for="(uni,index) in listbank"
                        :key="index"
                        :value="index"
                      >{{uni.code}}/{{uni.name}}</md-option>
                    </md-select>
                  </md-field>
                </div>
                <div class="md-layout-item md-size-50 md-small-size-100">
                  <md-field>
                    <label>สาขาธนาคาร</label>
                    <md-select name="template" v-model="bankBranchId">
                      <!-- แก้ -->
                      <md-option
                        v-for="(uni,index) in listbankbranch"
                        :key="index"
                        :value="index"
                      >{{uni.bank_branch_code}}. {{uni.bank_branch_name}}</md-option>
                    </md-select>
                  </md-field>
                </div>
                <div class="md-layout-item md-size-50 md-small-size-100">
                  <moneybox
                    id="credit_price"
                    v-model="credit.creditPrice"
                    disabled
                    :title="'ยอดเงิน'"
                    :typing="true"
                  ></moneybox>
                </div>
                <div class="md-layout-item md-size-50 md-small-size-100">
                  <md-field>
                    <label>ประเภทบัตรเครดิต</label>
                    <md-select name="template" v-model="credit.creditType">
                      <md-option
                        v-for="(uni,index) in creditcardtypelist"
                        :key="index"
                        :value="uni.creditcardtype_name"
                      >{{uni.creditcardtype_name}}</md-option>
                    </md-select>
                  </md-field>
                </div>
                <div class="md-layout-item md-size-50 md-small-size-100">
                  <md-field>
                    <label>% Charge</label>
                    <md-input required v-model="credit.cardCharge"></md-input>
                  </md-field>
                </div>
                <div class="md-layout-item md-size-50 md-small-size-100">
                  <md-field>
                    <label>หมายเหตุ</label>
                    <md-textarea v-model="credit.creditNotice" md-autogrow></md-textarea>
                  </md-field>
                </div>
                <div class="md-layout-item md-size-100 md-small-size-100">
                  <div class="paymentbtn md-title" style="float:right">
                    <v-btn
                      style="background:rgb(197, 197, 197);"
                      @click="createCreditCard(),resetCredit()"
                    >UPDATE</v-btn>
                  </div>
                </div>
              </div>
            </div>
          </v-card-text>
        </v-card>
      </v-tab-item>
      <v-tab-item>
        <v-card flat>
          <v-card-text>
            <div v-if="chqList.length != 0">
              <table class="table table-hover">
                <thead align="center">
                  <tr>
                    <th id="colorselectorder">เลขที่เช็ค</th>
                    <th id="colorselectorder">ธนาคาร</th>
                    <th id="colorselectorder">สาขา</th>
                    <th id="colorselectorder">ยอดเงิน</th>
                  </tr>
                </thead>
                <tbody
                  id="valuetable"
                  v-for="(val,index) in chqList"
                  :key="index"
                  v-if="index >=pagesleftChq && index <pagesrightChq"
                >
                  <tr>
                    <th id="colorselectorder">{{val.chq_number}}</th>
                    <th id="colorselectorder">{{val.bank_code}}</th>
                    <th id="colorselectorder">{{val.bank_branch}}</th>
                    <th id="colorselectorder">{{val.chq_amount}}</th>
                  </tr>
                </tbody>
              </table>
              <div
                class="text-xs-center md-layout-item md-size-100 md-small-size-100"
                v-if="chqList.length != 0"
              >
                <v-pagination v-model="paginationChq.page" :length="pagesChq" class="para"></v-pagination>
              </div>
            </div>

            <div style="margin:20px">
              <div class="md-layout md-gutter">
                <div class="md-layout-item md-size-50 md-small-size-100">
                  <md-field>
                    <label>รหัสธนาคาร</label>
                    <md-select name="template" v-model="checkBankId">
                      <md-option
                        v-for="(uni,index) in listbank"
                        :key="index"
                        :value="index"
                      >{{uni.code}}/{{uni.name}}</md-option>
                    </md-select>
                  </md-field>
                </div>
                <div class="md-layout-item md-size-50 md-small-size-100">
                  <md-field>
                    <label>เลขที่เช็ค</label>
                    <md-input required v-model="chq.Number"></md-input>
                  </md-field>
                </div>
                <div
                  style="position:relative;margin-bottom:30px"
                  class="md-layout-item md-size-50 md-small-size-100"
                >
                  <label style="font-size:12px;color:#777;">วันที่ลงเช็ค</label>
                  <div style="padding:2px;margin:-25px 0px 20px;">
                    <datepicker
                      v-model="chq.Date"
                      input-class="form-control tc"
                      class="md-layout-item md-size-100 md-small-size-100"
                      :language="languages['th']"
                      format="d MMMM yyyy"
                    ></datepicker>
                  </div>
                </div>
                <div class="md-layout-item md-size-50 md-small-size-100">
                  <md-field>
                    <label>สาขาธนาคาร</label>
                    <md-select name="template" v-model="checkBranchId">
                      <md-option
                        v-for="(uni,index) in listbankbranch"
                        :key="index"
                        :value="index"
                      >{{uni.bank_branch_code}}. {{uni.bank_branch_name}}</md-option>
                    </md-select>
                  </md-field>
                </div>
                <div class="md-layout-item md-size-50 md-small-size-100">
                  <moneybox v-model="chq.Price" disabled :title="'มูลค่าเช็ค'" :typing="true"></moneybox>
                </div>
                <div class="md-layout-item md-size-50 md-small-size-100">
                  <moneybox v-model="chq.Payment" disabled :title="'จำนวนเงิน'" :typing="true"></moneybox>
                </div>
                <div class="md-layout-item md-size-50 md-small-size-100">
                  <md-field>
                    <label>หมายเหตุ</label>
                    <md-textarea v-model="chq.Notice" md-autogrow></md-textarea>
                  </md-field>
                </div>
                <div class="md-layout-item md-size-100 md-small-size-100">
                  <div class="paymentbtn md-title" style="float:right">
                    <v-btn
                      style="background:rgb(197, 197, 197);"
                      @click="createChq(),resetChq()"
                    >UPDATE</v-btn>
                  </div>
                </div>
              </div>
            </div>
          </v-card-text>
        </v-card>
      </v-tab-item>
      <v-tab-item>
        <v-card flat>
          <v-card-text>
            <div v-if="bankTransList.length != 0">
              <table class="table table-hover">
                <thead align="center">
                  <tr>
                    <th id="colorselectorder">เลขที่บัญชี</th>
                    <th id="colorselectorder">ชื่อเจ้าของบัญชี</th>
                    <th id="colorselectorder">วันที่โอน</th>
                    <th id="colorselectorder">ยอดเงิน</th>
                  </tr>
                </thead>
                <tbody
                  id="valuetable"
                  v-for="(val,index) in bankTransList"
                  :key="index"
                  v-if="index >=pagesleftBank && index <pagesrightBank"
                >
                  <tr>
                    <th id="colorselectorder">{{val.bank_account}}</th>
                    <th id="colorselectorder">{{val.bank_username}}</th>
                    <th id="colorselectorder">{{val.bank_date}}</th>
                    <th id="colorselectorder">{{val.bank_amount}}</th>
                  </tr>
                </tbody>
              </table>
              <div
                class="text-xs-center md-layout-item md-size-100 md-small-size-100"
                v-if="bankTransList.length != 0"
                data-v-f3f3eg7
              >
                <v-pagination
                  v-model="paginationBank.page"
                  :length="pagesBank"
                  class="para"
                  data-v-f3f3eg7
                  style="color:#000000;"
                ></v-pagination>
              </div>
            </div>

            <div style="margin:20px">
              <div class="md-layout md-gutter">
                <div class="md-layout-item md-size-50 md-small-size-100">
                  <md-field>
                    <label>เลขที่บัญชี</label>
                    <md-select name="template" v-model="bookId">
                      <md-option
                        v-for="(uni,index) in listbankbook"
                        :key="index"
                        :value="index"
                      >{{uni.book_no}}/{{uni.name}}</md-option>
                    </md-select>
                  </md-field>
                </div>
                <div class="md-layout-item md-size-50 md-small-size-100">
                  <moneybox v-model="bank.Payment" disabled :title="'จำนวนเงิน'" :typing="true"></moneybox>
                </div>
                <div
                  style="position:relative;margin-bottom:30px"
                  class="md-layout-item md-size-50 md-small-size-100"
                >
                  <label style="font-size:12px;color:#777;">วันที่โอน</label>
                  <div style="padding:2px;margin:-25px 0px 20px;">
                    <datepicker
                      v-model="bank.TransDate"
                      input-class="form-control tc"
                      class="md-layout-item md-size-100 md-small-size-100"
                      :language="languages['th']"
                      format="d MMMM yyyy"
                    ></datepicker>
                  </div>
                </div>
                <div class="md-layout-item md-size-50 md-small-size-100">
                  <md-field>
                    <label>% Charge</label>
                    <md-input v-model="bank.Charge"></md-input>
                  </md-field>
                </div>
                <div class="md-layout-item md-size-50 md-small-size-100">
                  <md-field>
                    <label>หมายเหตุ</label>
                    <md-textarea v-model="bank.Notice" md-autogrow></md-textarea>
                  </md-field>
                </div>
              </div>
              <div class="md-layout-item md-size-100 md-small-size-100">
                <div class="paymentbtn md-title" style="float:right">
                  <v-btn
                    style="background:rgb(197, 197, 197);"
                    @click="createBank(),resetBank()"
                  >UPDATE</v-btn>
                </div>
              </div>
            </div>
          </v-card-text>
        </v-card>
      </v-tab-item>
    </v-tabs>
  </div>
</template>
 
<script>
import api from "../../service/service.js";
import Vue from "vue";
import Loading from "vue-loading-overlay";
import moneybox from "@/components/ui/moneybox";
import "vue-loading-overlay/dist/vue-loading.css";
import Datepicker from "vuejs-datepicker";
import * as lang from "vuejs-datepicker/src/locale";
import VueCtkDateTimePicker from "vue-ctk-date-time-picker";
import "vue-ctk-date-time-picker/dist/vue-ctk-date-time-picker.min.css";
export default {
  name: "payment",
  components: {
    Loading,
    moneybox,
    VueCtkDateTimePicker,
    Datepicker
  },
  props: {
    // removeitemtable: Function,

    typepage: "",
    billtype: 0,
    balance: 0,
    cashPayments: Number,
    totalprice: 0,
    chqLists: Array,
    bankTransLists: Array,
    creditCardLists: Array
  },
  data() {
    return {
      active: null,
      paginationCredit: {
        page: 1,
        rowsPerPage: 3
      },
      paginationChq: {
        page: 1,
        rowsPerPage: 3
      },
      paginationBank: {
        page: 1,
        rowsPerPage: 3
      },
      paginationPromtpay: {
        page: 1,
        rowsPerPage: 3
      },
      languages: lang,
      showpayment: false,
      tab: null,
      active: null,
      selected: [],
      search: "",
      listbank: [],
      listbankbranch: [],
      listbankbook: [],
      creditcardtypelist: [],
      credit: {
        creditNumber: "",
        validateCreditCardNo: "",
        creditType: "",
        creditBank: "",
        creditBankBranch: "",
        creditPrice: 0,
        cardCharge: "",
        cardChargePrice: "",
        creditNotice: ""
      },
      chqList: [],
      bankTransList: [],
      creditCardList: [],
      chqListm: [],
      bankTransListm: [],
      creditCardListm: [],
      chq: {
        Number: "",
        Price: 0,
        BankId: "",
        BankBranch: "",
        Date: "",
        Payment: 0,
        Charge: "",
        Notice: ""
      },

      bank: {
        Account: "",
        Payment: 0,
        TransDate: "",
        Charge: "",
        Notice: ""
      },
      cashPayment: 0,
      isMobile: false,
      headers: [
        {
          text: "เลขบัตรเครดิต",
          align: "left",
          value: "CreditNumber"
        },
        {
          text: "รหัสธนาคาร",
          value: "creditBank"
        },
        {
          text: "ประเภทบัตร",
          value: "CreditType"
        },
        {
          text: "ยอดเงิน",
          value: "CreditAmount"
        }
      ],
      desserts: [],
      itemsss: ["เงินสด", "บัตรเครดิต", "เช็ค", "เงินโอน", "พร้อมเพย์"],
      text:
        "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.",
      bankNameId:'',
      bankBranchId:'',
      checkBankId:'',
      checkBranchId:'',
      bookId:''
    };
  },
  computed: {
    //บัตรเคดิต
    pagesCredit() {
      return this.paginationCredit.rowsPerPage
        ? Math.ceil(
            this.creditCardList.length / this.paginationCredit.rowsPerPage
          )
        : 0;
    },
    pagesleftCredit() {
      if (this.paginationCredit.page == 1) {
        return 0;
      }
      return (
        (this.paginationCredit.page - 1) * this.paginationCredit.rowsPerPage
      );
    },
    pagesrightCredit() {
      return this.paginationCredit.page * this.paginationCredit.rowsPerPage;
    },
    //Chq
    pagesChq() {
      return this.paginationChq.rowsPerPage
        ? Math.ceil(this.chqList.length / this.paginationChq.rowsPerPage)
        : 0;
    },
    pagesleftChq() {
      if (this.paginationChq.page == 1) {
        return 0;
      }
      return (this.paginationChq.page - 1) * this.paginationChq.rowsPerPage;
    },
    pagesrightChq() {
      return this.paginationChq.page * this.paginationChq.rowsPerPage;
    },
    //bank
    pagesBank() {
      return this.paginationBank.rowsPerPage
        ? Math.ceil(this.bankTransList.length / this.paginationBank.rowsPerPage)
        : 0;
    },
    pagesleftBank() {
      if (this.paginationBank.page == 1) {
        return 0;
      }
      return (this.paginationBank.page - 1) * this.paginationBank.rowsPerPage;
    },
    pagesrightBank() {
      return this.paginationBank.page * this.paginationBank.rowsPerPage;
    },
    //
    chargeCal() {
      this.credit.creditPayment = this.credit.creditPrice;
      console.log(this.credit.creditPayment);
      return this.credit.creditPayment;
    },
    ////

    totalPayment() {
      if (
        this.cashPayment != null ||
        this.totalCreditPayment != null ||
        this.totalChqPayment != null ||
        this.totalBankPayment != null ||
        this.totalPromplay != null
      ) {
        if (this.cashPayment == undefined) {
          return (
            this.totalCreditPayment +
            this.totalChqPayment +
            this.totalBankPayment
          );
        }
        return (
          this.cashPayment +
          this.totalCreditPayment +
          this.totalChqPayment +
          this.totalBankPayment
        );
      }
    },
    totalCashPayment() {
      return this.cashPayment;
    },
    totalCreditPayment() {
      if (this.creditCardList == null) {
        this.creditCardList = [];
      }

      return this.creditCardList.reduce((sum, item) => {
        console.log(sum + item.amount);
        return sum + item.amount;
      }, 0);
    },
    totalChqPayment() {
      if (this.chqList == null) {
        this.chqList = [];
      }
      return this.chqList.reduce((sum, item) => {
        return sum + item.chq_amount;
      }, 0);
    },
    totalBankPayment() {
      if (this.bankTransList == null) {
        this.bankTransList = [];
      }
      return this.bankTransList.reduce((sum, item) => {
        return sum + item.bank_amount;
      }, 0);
    },
    totalBalance() {
      return this.totalPayment - this.totalprice;
    }
  },
  methods: {
    convertmoney(val) {
      // console.log(val)
      var number = numeral(val).format("0,0.00");
      return number;
    },
    findbankdata(val, index) {
      // if (this.listbank.length > 0) {
      //   this.listbank = [];
      // }
      // if (this.creditcardtypelist.length > 0) {
      //   this.creditcardtypelist = [];
      // }
      // if (this.listbankbranch.length > 0) {
      //   this.listbankbranch = [];
      // }
      console.log(index);
      // if (index == 1) {
      //   api.findbanknp(
      //     result => {
      //       this.listbank = result.data;
      //       console.log(JSON.stringify(this.listbank));
      //     },
      //     error => {
      //       console.log(JSON.stringify(error));
      //     }
      //   );
      //   let payload = {
      //     keyword: ""
      //   };
      //   //console.log(payload)

      //   api.searchcreditcard(
      //     payload,
      //     result => {
      //       ////console.log(result.data.length)
      //       this.creditcardtypelist = result.data;
      //       //console.log(JSON.stringify(this.creditcardtype))
      //     },
      //     error => {
      //       //console.log(JSON.stringify(error))
      //       alertify.error("Data ข้อมูลการจัดสรรผิดพลาด");
      //     }
      //   );
      //   api.findbankbranch(
      //     result => {
      //       this.listbankbranch = result.data;
      //     },
      //     error => {
      //       console.log(JSON.stringify(error));
      //     }
      //   );
      // }
    },
    showbanknp() {
      clearTimeout(this.timeout);

      this.timeout = setTimeout(() => {
        api.findbanknp(
          result => {
            this.listbank = result.data;
            console.log(JSON.stringify(this.listbank));
          },
          error => {
            console.log(JSON.stringify(error));
          }
        );
        let payload = {
          keyword: ""
        };
        //console.log(payload)

        api.searchcreditcard(
          payload,
          result => {
            ////console.log(result.data.length)
            this.creditcardtypelist = result.data;
            //console.log(JSON.stringify(this.creditcardtype))
          },
          error => {
            //console.log(JSON.stringify(error))
            alertify.error("Data ข้อมูลการจัดสรรผิดพลาด");
          }
        );
        api.findbankbranch(
          result => {
            this.listbankbranch = result.data;
          },
          error => {
            console.log(JSON.stringify(error));
          }
        );
        api.findbankbooknp(
          result => {
            this.listbankbook = result.data;
            console.log(JSON.stringify(this.listbankbook));
          },
          error => {
            console.log(JSON.stringify(error));
          }
        );
      }, 1500);
      this.showpayment = true;
    },
    submitpayment() {
      this.creditCardList.forEach(element => {
        this.creditCardLists.push(element);
      });
      this.chqList.forEach(element => {
        this.chqLists.push(element);
      });
      this.bankTransList.forEach(element => {
        this.bankTransLists.push(element);
      });

      this.$emit("update:cashPayments", this.cashPayment);
      this.creditCardList = [];
      this.chqList = [];
      this.bankTransList = [];
      this.showpayment = false;
    },
    createCreditCard() {
      console.log(JSON.stringify(this.bankNameId))
      console.log(JSON.stringify(this.bankBranchId))
      console.log(JSON.stringify(this.listbank[this.bankNameId]))
      console.log(JSON.stringify(this.listbankbranch[this.bankBranchId]))
      var creditcard = {
        credit_type: this.credit.creditType,
        credit_card_no: this.credit.creditNumber.toString(),
        amount: parseFloat(this.credit.creditPrice),
        bank_id: parseInt(this.credit.creditBank.id),
        bank_code:
          this.listbank[this.bankNameId].code + "/" + this.listbank[this.bankNameId].name,
        bank_branch:
          this.listbankbranch[this.bankBranchId].bank_branch_code +
          "/" +
          this.listbankbranch[this.bankBranchId].bank_branch_name
      };
      console.log(this.credit.creditBankBranch);

      console.log(JSON.stringify(this.credit.creditBank));
      this.creditCardList.push(creditcard);
      console.log(JSON.stringify(this.creditCardList));
    },
    resetCredit() {
      this.credit.creditType = "";
      this.credit.validateCreditCardNo = "";
      this.credit.creditNumber = "";
      this.credit.creditPrice = 0;
      this.bankNameId = "";
      this.bankBranchId = "";
      this.credit.creditNotice = "";
      this.credit.cardCharge = "";
      this.credit.cardChargePrice = "";
    },
    createChq() {
      console.log(this.listbank[this.checkBankId])
      var chq = {
        chq_number: this.chq.Number,
        chq_amount: parseFloat(this.chq.Payment),
        bank_id: parseInt(this.listbank[this.checkBankId].id),
        bank_code: this.listbank[this.checkBankId].code + "/" + this.listbank[this.checkBankId].name,
        bank_branch:this.listbankbranch[this.checkBranchId].bank_branch_name,
        description: this.chq.Notice
      };

      this.chqList.push(chq);
    },
    resetChq() {
      this.chq.Number = "";
      this.chq.Price = 0;
      this.chq.BankId = "";
      this.chq.Date = "";
      this.chq.Payment = 0;
      this.chq.Charge = "";
      this.chq.Notice = "";
      this.checkBankId="";
      this.checkBranchId="";
    },
    createBank() {
      var bank = {
        bank_account: this.listbankbook[this.bookId].book_no,
        bank_username: this.listbankbook[this.bookId].name,
        bank_date: this.bank.TransDate,
        bank_amount: this.bank.Payment
      };
      this.bankTransList.push(bank);
    },
    resetBank() {
      this.bank.Account = "";
      this.bank.Payment = 0;
      this.bank.TransDate = "";
      this.bank.Charge = "";
      this.bank.Notice = "";
    }
  },
  mounted() {
    this.showbanknp();
  }
};
</script>


<style lang="scss" >
.theme--light.v-pagination .v-pagination__item--active {
  color: #000000;
}
.payment {
  width: 100%;
  .cash {
    width: 40%;
    float: left;
    display: flow-root;
    .cashpayment {
      padding: 12px;
      font-size: 20px;
      width: 90%;
      background-color: rgb(255, 255, 255);
      float: right;
      text-align: right;
      margin: 10px;
      box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
      border-color: rgba(223, 225, 229, 0);
    }
  }
  .SumofMoney {
    width: 40%;
    float: left;
    padding: 5px;
    display: flow-root;
    .windows {
      width: 100%;
      height: 110px;
      background-color: rgb(255, 255, 255);
      box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
      padding-left: 10px;
    }
    .list {
      padding: 1px;
      height: 15px;
      font-size: 12px;
    }
  }
}
.paymentclass {
  width: 100%;
  padding: 10px;
  display: inline-block;
  box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
  .paymentbtn {
    float: right;
    padding-top: 15px;
  }
  .paymenttileleft {
    margin: 0 auto;
    float: left;
    width: 40%;
  }
  .paymenttitlright {
    margin: 0 auto;
    float: left;
    width: 40%;
  }
  .group {
    position: relative;
    margin: 20px;
  }
  input {
    font-size: 15px;
    font-weight: unset;
    padding: 8px;
    display: block;
    box-shadow: 0 0px 2px 0 rgba(6, 7, 10, 0.43);
  }
  input:focus {
    outline: none;
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
  }

  /* LABEL ======================================= */
  label {
    color: #999;
    font-size: 18px;

    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
  }

  /* active state */
  input:focus ~ label,
  input:valid ~ label {
    top: -20px;
    font-size: 14px;
    color: #5264ae;
  }

  /* BOTTOM BARS ================================= */

  /* active state */
  input:focus ~ .bar:before,
  input:focus ~ .bar:after {
    width: 50%;
  }

  /* HIGHLIGHTER ================================== */
  .highlight {
    position: absolute;
    height: 60%;
    width: 100px;
    top: 25%;
    left: 0;
    pointer-events: none;
    opacity: 0.5;
  }
}

@media (max-width: 1300px) {
  .md-dialog.md-theme-default[data-v-f3f3eg9] {
    background-color: #ffffff;
    overflow-y: auto;
    width: 100%;
    height: 100%;
    color: rgba(0, 0, 0, 0.87);
    color: var(
      --md-theme-default-text-primary-on-background,
      rgba(0, 0, 0, 0.87)
    );
  }
}
@media (max-width: 1000px) {
  .md-dialog.md-theme-default[data-v-f3f3eg9] {
    background-color: #ffffff;
    overflow-y: auto;
    width: 100%;
    height: 100%;
    color: rgba(0, 0, 0, 0.87);
    color: var(
      --md-theme-default-text-primary-on-background,
      rgba(0, 0, 0, 0.87)
    );
  }
  .paymentclass {
    width: 100%;
    padding: 10px;
    display: inline-block;
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
    .paymentbtn {
      float: right;
      padding-top: 15px;
    }
    .paymenttileleft {
      margin: 0 auto;
      float: left;
      width: 40%;
    }
    .paymenttitlright {
      margin: 0 auto;
      float: left;
      width: 40%;
    }
    .group {
      position: relative;
      margin: 20px;
    }
    input {
      width: 150px;
      font-size: 15px;
      font-weight: unset;
      padding: 8px;
      display: block;
      box-shadow: 0 0px 2px 0 rgba(6, 7, 10, 0.43);
    }
    input:focus {
      outline: none;
      box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
    }

    /* LABEL ======================================= */
    label {
      color: #999;
      font-size: 18px;

      position: absolute;
      pointer-events: none;
      left: 5px;
      top: 10px;
      transition: 0.2s ease all;
      -moz-transition: 0.2s ease all;
      -webkit-transition: 0.2s ease all;
    }

    /* active state */
    input:focus ~ label,
    input:valid ~ label {
      top: -20px;
      font-size: 14px;
      color: #5264ae;
    }

    /* BOTTOM BARS ================================= */

    /* active state */
    input:focus ~ .bar:before,
    input:focus ~ .bar:after {
      width: 50%;
    }

    /* HIGHLIGHTER ================================== */
    .highlight {
      position: absolute;
      height: 60%;
      width: 100px;
      top: 25%;
      left: 0;
      pointer-events: none;
      opacity: 0.5;
    }
  }
}

@media (max-width: 600px) {
  table.v-table tbody td,
  table.v-table tbody th {
    height: 25px;
    padding: 0px;
    margin: 0px;
  }
  table.v-table thead th.sortable {
    cursor: pointer;
    outline: 0;
    padding: 0;
  }
  table.v-table tbody td:first-child,
  table.v-table tbody td:not(:first-child),
  table.v-table tbody th:first-child,
  table.v-table tbody th:not(:first-child),
  table.v-table thead td:first-child,
  table.v-table thead td:not(:first-child),
  table.v-table thead th:first-child,
  table.v-table thead th:not(:first-child) {
    padding: 0 0px;
  }
  .md-dialog.md-theme-default[data-v-f3f3eg9] {
    background-color: #ffffff;
    overflow-y: auto;
    width: 100%;
    height: 100%;
    color: rgba(0, 0, 0, 0.87);
    color: var(
      --md-theme-default-text-primary-on-background,
      rgba(0, 0, 0, 0.87)
    );
  }
  .paymentclass {
    width: 100%;
    padding: 10px;
    display: inline-block;
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
    .paymentbtn {
      float: right;
      padding-top: 15px;
    }
    .paymenttileleft {
      margin: 0 auto;
      float: none;
      width: 80%;
    }
    .paymenttitlright {
      margin: 0 auto;
      float: none;
      width: 80%;
    }
    .group {
      position: relative;
      margin: 20px;
    }
    input {
      width: 80%;
      font-size: 15px;
      font-weight: unset;
      padding: 8px;
      display: block;
      box-shadow: 0 0px 2px 0 rgba(6, 7, 10, 0.43);
    }
    input:focus {
      outline: none;
      box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
    }

    /* LABEL ======================================= */
    label {
      color: #999;
      font-size: 18px;

      position: absolute;
      pointer-events: none;
      left: 5px;
      top: 10px;
      transition: 0.2s ease all;
      -moz-transition: 0.2s ease all;
      -webkit-transition: 0.2s ease all;
    }

    /* active state */
    input:focus ~ label,
    input:valid ~ label {
      top: -20px;
      font-size: 14px;
      color: #5264ae;
    }

    /* BOTTOM BARS ================================= */

    /* active state */
    input:focus ~ .bar:before,
    input:focus ~ .bar:after {
      width: 50%;
    }

    /* HIGHLIGHTER ================================== */
    .highlight {
      position: absolute;
      height: 60%;
      width: 100px;
      top: 25%;
      left: 0;
      pointer-events: none;
      opacity: 0.5;
    }
  }
}

@media (max-width: 2000px) {
  .md-dialog.md-theme-default[data-v-f3f3eg9] {
    background-color: #ffffff;
    overflow-y: auto;
    width: 700px;
    height: 100%;
    color: rgba(0, 0, 0, 0.87);
    color: var(
      --md-theme-default-text-primary-on-background,
      rgba(0, 0, 0, 0.87)
    );
  }
}
</style>
