<template>
  <div style="width:100%">
    <loading :active.sync="isLoading" :can-cancel="true" :is-full-page="false"></loading>
    <div class="md-toolbar-section-start">
      <div style="min-height:42px;position:relative" class="md-title">
        <div class="md-layout md-gutter">
          <div
            class="md-size-40 md-small-size-100"
            style="float:left;position:relative;margin-right:10px;padding:16px 0px 0px;margin-left:30px;"
          >ข้อมูลสินค้า</div>
          <div class="md-size-40 md-small-size-100" style="float:left;margin-left:30px">
            <md-field>
              <label>เพิ่มสินค้า</label>
              <md-input ref="addproduct" v-model="search" @keyup.enter="addproductv2"></md-input>
              <md-icon style="color:grey;left:-10px;">
                info
                <md-tooltip md-direction="top">
                  <md-icon style="color:white;">keyboard</md-icon>รหัสสินค้า หรือ ชื่อสินค้า + Enter
                </md-tooltip>
              </md-icon>

              <md-button
                @click="addproductv2"
                style="top:-5px;left:-5px"
                class="md-icon-button md-raised md productadd md-dense"
              >
                <md-icon>add</md-icon>
              </md-button>
            </md-field>
          </div>
        </div>
      </div>
    </div>
    <md-dialog :md-active.sync="showDialogproduct" :md-fullscreen="true" style="width: 100%;">
      <div class="title" style="padding-left: 50px;margin-top: 20px;">
        ประเภท :
        <span v-show="billtype == 0">ราคา(เงินสด)</span>
        <span v-show="billtype == 1">ราคา(เงินเชื่อ)</span>
      </div>
      <div class="title" style="padding-left: 50px;">ลูกค้า : ราคาที่ {{customerLevel}}</div>
      <md-field style="padding-left: 50px;">
        <md-input v-model="keywordproduct" @input="typing = true"></md-input>
      </md-field>
      <md-dialog-content>
        <div style="overflow-y: auto;">
          <table class="tableses"  v-1234>
            <thead align="left">
              <tr>
                <th class="respicon"></th>
                <th class="resptd4" style="white-space: nowrap; padding: 0.3rem;">ลำดับ</th>
                <th class="resptd6" style="white-space: normal;">รูป</th>
                <th class="textresp" style="white-space: normal;">รหัสสินค้า</th>
                <th style="white-space: normal; padding: 0.3rem;">ชื่อสินค้า</th>
                <th  class="resptd3" style="white-space: normal; padding: 0.3rem;">หน่วยนับ</th>
                <th class="resptd2" style="white-space: normal; padding: 0.3rem;">ราคาต่อ หน่วย</th>
                <th class="resptd5" style="white-space: nowrap; padding: 0.3rem;">คลังสินค้า</th>
                <th class="resptd7" style="white-space: normal;">คงเหลือ ตามคลัง</th>
                <th class="resptd8" style="white-space: normal; padding: 0.3rem;">คงเหลือ ทั้งหมด</th>
              </tr>
            </thead>
            <tbody id="valuetable" v-for="(val,index) in dataproductDialog" :key="index">
              <tr style="text-align:left;cursor:pointer">
                <td class="respicon" @click="edit(index)">
                  <div class="arrowbtn" style="margin-left:5px;">
                    <md-icon class="iconpara" v-if=" val.open == false">chevron_right</md-icon>
                    <md-icon class="iconpara" v-if=" val.open == true">expand_more</md-icon>
                  </div>
                </td>
                <td class="resptd4" @click="showdetail(val)">{{index+1}}</td>
                <td class="resptd6" @click="showdetail(val)" v-show="val.pic_path_1">
                  <img style="width:50px;height:50px;" class="hoverzoom" :src="val.pic_path_1" alt>
                </td>
                <td  class="resptd6" @click="showdetail(val)" v-show="!val.pic_path_1">
                  <img
                    style="max-width:50px;max-height:50px;"
                    src="../../assets/No_Image_Available.png"
                    alt
                  >
                </td>
                <td class @click="shoprofile(val)">
                  <span class="testresp"  style="border-bottom: aqua 1.5px outset;white-space: normal;word-wrap: break-word;">{{val.item_code}}</span>
                </td>
                <td @click="showdetail(val)" class="resp">
                  {{val.item_name}}
                  <span class="showmoney"   v-show="customerLevel == '1'">{{convertmoney(val.sale_price_1)}} บาท</span>
                  <span class="showmoney" v-show="customerLevel != '1'">{{convertmoney(val.sale_price_2)}} บาท</span>
                  </td >
                <td class="resptd3" @click="callunitcode(val,index)">
                  <span style="border-bottom: aqua 1.5px outset;">{{val.unit_code}}</span>
                </td>
                <td class="resptd2"
                  @click="showdetail(val)"
                  v-show="customerLevel == '1'"
                   
                ><span style="text-align:right;">{{convertmoney(val.sale_price_1)}}</span></td>
                <td class="resptd2"
                  @click="showdetail(val)"
                   style="text-align:right;"
                  v-show="customerLevel != '1'"
                ><span style="text-align:right;">{{convertmoney(val.sale_price_2)}}</span></td>
                <td class="resptd5" @click="callwhcode(val,index)">
                  <span style="border-bottom: aqua 1.5px outset;">{{val.wh_code}}</span>
                </td>
                <td class="resptd7">{{convertmoney(val.wh_qty)}}</td>
                <td class="resptd8">{{convertmoney(val.qty)}}</td>
              </tr>
              <tr class="child" v-if="widthsize&&val.open">
                <td class="child" colspan="10" style="background: darkgray;">
                  <div style="max-width:50px;max-height:50px;float: left;margin-left:5%;">
                    <img
                    style="max-width:50px;max-height:50px;"
                    src="../../assets/No_Image_Available.png"
                    alt
                  >
                  </div>
                  <div style="float: left;">
                      <ul>
                    <li class="tds2">
                      <span class="dtr-titles">ลำดับ</span>
                      <span class="dtr-dataz">{{index+1}}</span></li>
                    <li class="sresptd3"><span class="dtr-titles">ราคาต่อหน่วย</span> <span class="dtr-dataz"  v-show="customerLevel == '1'" >{{convertmoney(val.sale_price_1)}}</span> <span class="dtr-dataz"  v-show="customerLevel != '1'">{{convertmoney(val.sale_price_2)}}</span></li>
                    <li class="sresptd3" @click="callunitcode(val,index)"><span class="dtr-titles">หน่วยนับ</span> <span class="dtr-dataz">{{val.unit_code}}</span></li>
                    <li class="sresptd5" @click="callwhcode(val,index)"><span class="dtr-titles">คลังสินค้า</span> <span class="dtr-dataz">{{val.wh_code}}</span></li>
                    <li class="sresptd7"><span class="dtr-titles">คงเหลือ ตามคลัง</span> <span class="dtr-dataz">{{convertmoney(val.wh_qty)}}</span></li>
                    <li class="sresptd8"><span class="dtr-titles">คงเหลือ ทั้งหมด</span> <span class="dtr-dataz">{{convertmoney(val.qty)}}</span></li>
                  </ul>
                  </div>

                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </md-dialog-content>
      <md-dialog-actions>
        <md-button class="md-primary" @click="showDialogproduct = false">Close</md-button>
      </md-dialog-actions>
    </md-dialog>

    <md-dialog :md-active.sync="showUnitCode" :md-fullscreen="true" style="border-radius: 10px;">
      <div style="margin:0 auto;" class="headers">เปลี่ยนหน่วยนับ</div>
     <md-card-header style="padding: 16px 30px;">
      <md-card-header-text>
         
          <div class="md-title">{{header.unitcode}}</div>
          <div class="md-subhead">{{header.unitcode_name}}</div>
        </md-card-header-text>
        </md-card-header>
       
        
        
      <md-dialog-content style="overflow: hidden;">
       
          <div class="table-responsive" style="overflow-y: auto;    overflow-y: auto;max-height: 50vh;min-height: 50vh;">
            <table class="table table-hover">
              <thead align="center">
                <tr>
                  <th>ลำดับ</th>
                  
                  
                  <th id="colorselectorder">หน่วย</th>
                  <th id="colorselectorder">จำนวน rate</th>
                  <th id="colorselectorder">จำนวนเงิน</th>
                </tr>
              </thead>
              <tbody id="valuetable">
                <tr
                  v-for="(val,index) in unitlist"
                  :key="index"
                  @click="selectunit(val)"
                  style="text-align:center;cursor:pointer"
                >
                  <td>{{index+1}}</td>
               
                  <td style="text-align:left;">{{val.unit_code}}</td>
                  <td>{{val.rate1}}</td>
                  <td style="text-align:right;" v-show="customerLevel == '1'">{{convertmoney(val.sale_price_1)}}</td>
                  <td style="text-align:right;" v-show="customerLevel != '1'">{{convertmoney(val.sale_price_2)}}</td>
                </tr>
              </tbody>
            </table>
          </div>
     
      </md-dialog-content>

      <md-dialog-actions>
        <md-button class="md-primary" @click="showUnitCode = false">Close</md-button>
      </md-dialog-actions>
     
    </md-dialog>
    <md-dialog :md-active.sync="showWHcode" :md-fullscreen="true">
      <div style="margin:0 auto;" class="headers">เปลี่ยนคลังขาย</div>
         <md-dialog-content style="overflow: hidden;">
            
                <div class="table-responsive" style="overflow-y: auto;    overflow-y: auto;max-height: 50vh;min-height: 50vh;">
                  <table class="table table-hover">
              <thead align="center">
                <tr>
                  <th>ลำดับ</th>
                  <th id="colorselectorder">คลัง</th>
                  <th id="colorselectorder">ที่เก็บ</th>
                  <th id="colorselectorder">จำนวน</th>
                </tr>
              </thead>
              <tbody id="valuetable">
                <tr
                  v-for="(val,index) in edit_wh"
                  :key="index"
                  @click="selectwarehousecode(val)"
                  style="text-align:center;cursor:pointer"
                >
                  <td>{{index+1}}</td>
                  <td>{{val.wh_code}}</td>
                  <td>{{val.shelf_code}}</td>
                  <td>{{val.qty}}</td>
                </tr>
              </tbody>
            </table>
          </div>
         </md-dialog-content>

      <md-dialog-actions>
        <md-button class="md-primary" @click="showWHcode = false">Close</md-button>
      </md-dialog-actions>
    </md-dialog>
    <md-dialog
      :md-active.sync="showItemProfile"
      style="padding: 20px;
    width: 500px;
    /* font-size: 16px !important; */
    box-shadow: 0px 0px 13px 0px rgba(82, 63, 105, 0.05);
    border-radius: 36px;"
      :md-fullscreen="false"
    >
      <div>
        <div
          class="titles"
          style="padding-left: 50px;margin-top: 20px;white-space: nowrap;"
        >รหัส : {{profilelist.item_code}}</div>
        <div
          class="titles"
          style="padding-left: 50px;white-space: normal;word-wrap: break-word;"
        >ชื่อ : {{profilelist.item_name}}</div>
        <div
          class="titles"
          style="padding-left: 50px;white-space: nowrap;"
        >ราคา ที่ 1 : {{convertmoney(profilelist.sale_price_1)}}</div>
        <div
          class="titles"
          style="padding-left: 50px;white-space: nowrap;"
        >ราคา ที่ 2 : {{convertmoney(profilelist.sale_price_2)}}</div>
        <div
          class="titles"
          style="padding-left: 50px;white-space: nowrap;"
          v-if="profilelist.wh_code != ''"
        >คลังขาย : {{profilelist.wh_code}}</div>
        <div
          class="titles"
          style="padding-left: 50px;white-space: nowrap;"
          v-if="profilelist.wh_code == ''"
        >คลังขาย : ไม่มี</div>
        <hr>
        <div
          class="titles"
          style="padding-left: 50px;"
        >คงเหลือ : {{profilelist.wh_qty}} {{profilelist.unit_code}}</div>
        <div
          class="titles"
          style="padding-left: 50px;"
        >คงเหลือทั้งหมด : {{profilelist.qty}} {{profilelist.unit_code}}</div>
        <md-dialog-actions>
          <md-button class="md-primary" @click="showItemProfile = false">Close</md-button>
        </md-dialog-actions>
      </div>
    </md-dialog>
  </div>
</template>


<script>
import Vue from "vue";
import api from "../../service/service.js";
import { Money } from "v-money";
import Loading from "vue-loading-overlay";
import "vue-loading-overlay/dist/vue-loading.css";
export default {
  name: "itemtable",
  props: {
    // removeitemtable: Function,
    parentData: [],
    stringProp: [],
    ref: "addproduct",
    product: Array,
    typepage: "",
    billtype: 0,
    sale_type: 0,
    ordertype: "",
    customerLevel: "",
    is_cancel:"",
    is_confirm:""
  },
  components: {
    Loading
  },
  data() {
    return {
      keywordproduct: "",
      search: "",
      showDialogproduct: false,
      showWHcode: false,
      attention: "",
      timeout: null,
      dataproductDialog: [],
      priceDialog: [],
      dataproduct: [],
      listitem: [],
      datas: [],
      edit_wh: [],
      datalist: [],
      unitcode_obj: [],
      isLoading: false,
      time: null,
      showItemProfile: false,
      typing: false,
      pricetypes: [],
      customerLevel: "",
      unitlist: [],
      showUnitCode: false,
      profilelist: [],
      header:{
        unitcode:'',
        unitcode_name:'',
        whCode:'',
        whCode_name:''
      },
      window: {
        width: 0,
        height: 0
      },
    };
  },
  computed: {
    listFilter() {
      return this.dataproductDialog.sort((a, b) =>
        a.item_code > b.item_code ? 0 : -1
      );
    },
    widthsize () {
      if (this.window.width <= 900) {
        return true
      } else {
        return false
      }
    }
  },
  created () {
    window.addEventListener('resize', this.handleResize)
    this.handleResize()
  },
  destroyed () {
    window.removeEventListener('resize', this.handleResize)
  },
  watch: {
    keywordproduct: function() {
      if (this.tiem == null) {
        clearTimeout(this.time);
        this.time = null;
        this.typing = false;
      }
      this.time = setTimeout(function() {}, 300);
      console.log(this.keywordproduct);
      this.searchproductv2();
      console.log(this.time);
    }
  },
  methods: {
    handleResize () {
      this.window.width = window.innerWidth
      this.window.height = window.innerHeight
    },
    shoprofile(val) {
      this.profilelist = val;
      this.showItemProfile = true;
    },
    changeqty(event, val) {
      console.log(event, val);
      val.stock_qty = val.stk_location[event].qty;
      console.log(val.stock_qty);
    },
    convertmoney(val) {
      // console.log(val)
      var number = numeral(val).format("0,0.00");
      return number;
    },
    edit (index) {
      let ds = this.dataproductDialog[index]
      ds.open = !this.dataproductDialog[index].open
      this.dataproductDialog.splice(index, 1, ds)
    },
    searchproductv2() {
      // alert(this.billtype)
      // alert('d')
      this.isLoading = true;
      console.log(this.keywordproduct);
      if (this.billtype === "" && this.billtype !== 0 && this.billtype !== 1) {
        if (this.attention == "wobble-hor-bottom") {
          this.attention = "wobble-hor-bottom2";
        } else {
          this.attention = "wobble-hor-bottom";
        }
        return;
      }
      if (!this.keywordproduct) {
        return;
      }
      var data = new Array();
      data = [];
      var itemtable = new Array();
      var str = this.keywordproduct.split(" ");
      console.log(str.length);
      let payload = {
        keyword: this.keywordproduct,
        sale_type: parseInt(this.billtype)
      };
      clearTimeout(this.timeout);
      this.timeout = setTimeout(() => {
        api.findproductByKeyword(
          payload,
          result => {
            this.isLoading = false;
            for (var i in result.data) {
              result.data[i].whqty_temp = result.data[i].wh_qty;
              result.data[i].open = false
            }
            console.log(result.data);
            this.dataproductDialog = result.data;
            console.log("billtype : " + this.billtype);
            this.$refs.keywordproduct.$el.focus();
          },
          error => {
            console.log(JSON.stringify(error));
            alertify.error("ข้อมูล สินค้าเกิดข้อผิดพลาด");
          }
        );
      }, 500);
      console.log(itemtable);
    },
    addproductv2() {
      console.log(this.keywordproduct);
      console.log(JSON.stringify(this.customerLevel))
      // alert(this.billtype)
      // alert('d')
      if (this.billtype === "" && this.billtype !== 0 && this.billtype !== 1) {
        if (this.attention == "wobble-hor-bottom") {
          this.attention = "wobble-hor-bottom2";
        } else {
          this.attention = "wobble-hor-bottom";
        }
        return;
      }
      if (!this.search) {
        alertify.error("กรุณากรอกชื่อสินค้าหรือรหัสสินค้าก่อน");
        return;
      }
      if (this.customerLevel == '') {
        alertify.error("กรุณากรอกข้อมูลหรือรหัสลูกค้า");
        return;
      }
      if (this.is_cancel==1||this.is_confirm==1) {
        alertify.error("เอกสารได้ทำการยืนยันไปแล้ว");
        return;
      }
      console.log(this.customerLevel)
      var itemtable = new Array();
      this.dataproductDialog = [];
      var str = this.keywordproduct.split(" ");
      console.log(str.length);

      let payload = {
        keyword: this.search,
        sale_type: parseInt(this.billtype)
      };
      this.isLoading = true;
      api.findproductByKeyword(
        payload,
        result => {
          this.isLoading = false;
          console.log(result);
          console.log(result.data.length);
          if (result.data.length == 1) {
            var i = 0;
            this.product.forEach(function(items, a) {
              console.log(items);
              if (
                items.item_code == result.data[0].item_code &&
                items.unit_code == result.data[0].unit_code
              ) {
                alertify.success(
                  "สินค้า " + result.data[0].item_name + "อยู่ในรายการแล้ว"
                );
                i += 1;
                return;
              }
            });
            console.log(result.data[0].item_code);
            if (i > 0) {
              return;
            }
            console.log("555");
            console.log(this.ordertype != "SO");
            if (
              this.billtype == 0 &&
              (result.data[0].qty >= 1 || this.ordertype != "SO") &&
              (this.customerLevel == "" || this.customerLevel == 1)
            ) {
              console.log(result.data[0].id);
              var datashow = {
                item_id: result.data[0].id,
                item_code: result.data[0].item_code,
                bar_code: result.data[0].bar_code,
                item_name: result.data[0].item_name,
                unit_code: result.data[0].unit_code,
                qty: 1,
                price: result.data[0].sale_price_1,
                sale_price_1: result.data[0].sale_price_1,
                sale_price_2: result.data[0].sale_price_2,
                wh_code: result.data[0].wh_code,
                discount_word_sub: "0",
                discount_word: "0",
                discount_amount_sub: 0,
                discount_amount: 0,
                item_amount: result.data[0].sale_price_1 * 1,
                amount: result.data[0].sale_price_1 * 1,
                item_description: "",
                packing_rate_1: parseInt(result.data[0].rate_1),
                is_cancel: 0
              };
              this.product.push(datashow);
              //close modal
              this.showDialogproduct = false;
              alertify.success("เพิ่มข้อมูลสินค้า " + result.data[0].item_name);
            } else if (
              this.billtype == 0 &&
              (result.data[0].qty >= 1 || this.ordertype != "SO") &&
              this.customerLevel == 2
            ) {
              var datashow = {
                item_id: result.data[0].id,
                item_code: result.data[0].item_code,
                bar_code: result.data[0].bar_code,
                item_name: result.data[0].item_name,
                unit_code: result.data[0].unit_code,
                qty: 1,
                price: result.data[0].sale_price_2,
                sale_price_1: result.data[0].sale_price_1,
                sale_price_2: result.data[0].sale_price_2,
                wh_code: result.data[0].wh_code,
                discount_word_sub: "0",
                discount_word: "0",
                discount_amount_sub: 0,
                discount_amount: 0,
                item_amount: result.data[0].sale_price_2 * 1,
                amount: result.data[0].sale_price_2 * 1,
                item_description: "",
                packing_rate_1: parseInt(result.data[0].rate_1),
                is_cancel: 0
              };
              this.product.push(datashow);
              //close modal

              this.showDialogproduct = false;
              alertify.success("เพิ่มข้อมูลสินค้า " + result.data[0].item_name);
            } else if (
              this.billtype == 1 &&
              (result.data[0].qty >= 1 || this.ordertype != "SO") &&
              (this.customerLevel == "" || this.customerLevel == 1)
            ) {
              var datashow = {
                item_id: result.data[0].id,
                item_code: result.data[0].item_code,
                bar_code: result.data[0].bar_code,
                item_name: result.data[0].item_name,
                unit_code: result.data[0].unit_code,
                qty: 1,
                price: result.data[0].sale_price_1,
                sale_price_1: result.data[0].sale_price_1,
                sale_price_2: result.data[0].sale_price_2,
                wh_code: result.data[0].wh_code,
                discount_word_sub: "0",
                discount_word: "0",
                discount_amount_sub: 0,
                discount_amount: 0,
                item_amount: result.data[0].sale_price_1 * 1,
                amount: result.data[0].sale_price_1 * 1,
                item_description: "",
                packing_rate_1: parseInt(result.data[0].rate_1),
                is_cancel: 0
              };
              this.product.push(datashow);
              //close modal

              this.showDialogproduct = false;
              alertify.success("เพิ่มข้อมูลสินค้า " + result.data[0].item_name);
            } else if (
              this.billtype == 1 &&
              (result.data[0].qty >= 1 || this.ordertype != "SO") &&
              this.customerLevel == 2
            ) {
              var datashow = {
                item_id: result.data[0].id,
                item_code: result.data[0].item_code,
                bar_code: result.data[0].bar_code,
                item_name: result.data[0].item_name,
                unit_code: result.data[0].unit_code,
                qty: 1,
                price: result.data[0].sale_price_2,
                sale_price_1: result.data[0].sale_price_1,
                sale_price_2: result.data[0].sale_price_2,
                wh_code: result.data[0].wh_code,
                discount_word_sub: "0",
                discount_word: "0",
                discount_amount_sub: 0,
                discount_amount: 0,
                item_amount: result.data[0].sale_price_2 * 1,
                amount: result.data[0].sale_price_2 * 1,
                item_description: "",
                packing_rate_1: parseInt(result.data[0].rate_1),
                is_cancel: 0
              };
              this.product.push(datashow);
              //close modal

              this.showDialogproduct = false;
              alertify.success("เพิ่มข้อมูลสินค้า " + result.data[0].item_name);
            } else if (result.data[0].qty < 1 && this.ordertype == "SO") {
              alertify.error(
                "สินค้า " + result.data[0].item_name + " ของในคลังหมด"
              );
            }
          } else {
             for (var i in result.data) {
              result.data[i].whqty_temp = result.data[i].wh_qty;
              result.data[i].open = false
            }
            this.dataproductDialog = result.data; //แก้การโชว์ราคา 2
            this.showDialogproduct = true;
          }
          this.keywordproduct = this.search;
          this.search = "";
          console.log(this.dataproductDialog);
          console.log("billtype : " + this.billtype);
          this.$refs.keywordproduct.$el.focus();
        },
        error => {
          console.log(JSON.stringify(error));
          alertify.error("ข้อมูล สินค้าเกิดข้อผิดพลาด");
        }
      );
    },
    selectunit(val) {
      console.log(val);
      console.log(JSON.stringify(this.dataproductDialog[val.id].wh_qty));
      this.dataproductDialog[val.id].rate_1 = val.rate1;
      this.dataproductDialog[val.id].wh_qty = val.whqty_temp / val.rate1;
      this.dataproductDialog[val.id].unit_code = val.unit_code;
      this.dataproductDialog[val.id].qty = val.stock_qty / val.rate1;
      this.dataproductDialog[val.id].sale_price_1 = val.sale_price_1;
      this.dataproductDialog[val.id].sale_price_2 = val.sale_price_2;
      console.log(this.dataproductDialog[val.id]);
      this.showUnitCode = false;
    },
    selectwarehousecode(val) {
      console.log(val);
      console.log(JSON.stringify(this.dataproductDialog[val.id].unit_code));
      this.dataproductDialog[val.id].wh_code = val.wh_code;
      this.dataproductDialog[val.id].wh_qty =
        val.qty / this.dataproductDialog[val.id].rate_1;
        this.dataproductDialog[val.id].packing_rate_1 = this.dataproductDialog[val.id].rate_1;
      //  this.dataproductDialog[val.id].whqty_temp = (val.qty/this.dataproductDialog[val.id].rate_1);
      //  this.product[val.id].shelf_code = val.shelf_code
      this.showWHcode = false;
      console.log(this.dataproductDialog[val.id])
    },
    callwhcode(val, index) {
      var items = {
        id: 0,
        Stk_unit_code: "",
        qty: 0,
        shelf_code: "",
        wh_code: ""
      };
      let payload = {
        item_code: val.item_code
      };
      var data = new Array();
      data = [];
      this.isLoading = true;
      // console.log(payload)
      api.searchunitcode(
        payload,
        result => {
          console.log(result.data[0].stk_location);
          result.data[0].stk_location.forEach(item => {
            item.id = index;
            data.push(item);
          });

          this.edit_wh = data;
          this.isLoading = false;
          console.log(JSON.stringify(this.edit_wh));
          this.showWHcode = true;
        },
        error => {
          console.log(JSON.stringify(error));
          alertify.error("Data ข้อมูล Unit code ผิดพลาด");
        }
      );
    },

    callunitcode(val, index) {
      var data = new Array();
      data = [];
      let payload = {
        code: val.item_code,
        sale_type: parseInt(this.billtype)
      };
      this.isLoading = true;
      api.callUnitCodebyCode(
        payload,
        result => {
          if (result.response == "success") {
            result.data.forEach(item => {
              item.id = index;
              item.whqty_temp = val.whqty_temp;
              data.push(item);
            });
            console.log(result);
            this.isLoading = false;
            this.header.unitcode = data[0].item_code
            this.header.unitcode_name = data[0].item_name
            this.unitlist = data;
            this.showUnitCode = true;
          }
          else {
            console.log(result)
            alertify.error("ข้อมูล สินค้าเกิดข้อผิดพลาด \n" + result.message);
          }
        },
        error => {
          alertify.error("ข้อมูล สินค้าเกิดข้อผิดพลาด");
        }
      );
    },
    addproductrt() {
      console.log(this.keywordproduct);
      // alert(this.billtype)
      // alert('d')
      if (this.billtype === "" && this.billtype !== 0 && this.billtype !== 1) {
        if (this.attention == "wobble-hor-bottom") {
          this.attention = "wobble-hor-bottom2";
        } else {
          this.attention = "wobble-hor-bottom";
        }
        return;
      }
      if (!this.keywordproduct) {
        return;
      }
      var itemtable = new Array();
      var str = this.keywordproduct.split(" ");
      console.log(str.length);
      let payload = {
        keyword: this.keywordproduct
      };
      clearTimeout(this.timeout);
      this.timeout = setTimeout(() => {
        api.searchbykeyword(
          payload,
          result => {
            this.dataproductDialog = result.data;
            console.log("billtype : " + this.billtype);
            this.$refs.addproduct.$el.focus();
          },
          error => {
            console.log(JSON.stringify(error));
            alertify.error("ข้อมูล สินค้าเกิดข้อผิดพลาด");
          }
        );
      }, 500);
      console.log(itemtable);
    },
    showdetail(val) {
     this.billtype = parseInt(this.billtype)
      setTimeout(() => {
        this.isLoading = false;
      }, 500);
      var i = 0;
      console.log(JSON.stringify(val));
      this.product.forEach(function(items, a) {
        console.log(items);
        if (
          items.item_code == val.item_code &&
          items.unit_code == val.unit_code
        ) {
          alertify.success("สินค้า " + val.item_name + "อยู่ในรายการแล้ว");
          i += 1;
          return;
        }
      });
      console.log(val);
      if (i > 0) {
        return;
      }
      var data = new Array();
      console.log(JSON.stringify(this.customerLevel));
      console.log(JSON.stringify(this.billtype));
      if (
        this.billtype == 0 &&
        (val.qty >= 1 || this.ordertype != "SO") &&
        (this.customerLevel == '' || this.customerLevel == 1)
      ) {
        var datashow = {
          item_id: val.id,
          item_code: val.item_code,
          bar_code: val.bar_code,
          item_name: val.item_name,
          unit_code: val.unit_code,
          qty: 1,
          price: val.sale_price_1,
          sale_price_1: val.sale_price_1,
          sale_price_2: val.sale_price_2,
          rate_1:val.rate_1,
          pic_path_1:val.pic_path_1,
          stk_qty: val.qty,
          wh_code: val.wh_code,
          discount_word_sub: "0",
          discount_word: "0",
          discount_amount_sub: 0,
          discount_amount: 0,
          item_amount: val.sale_price_1 * 1,
          amount: val.sale_price_1 * 1,
          item_description: "",
          packing_rate_1: parseInt(val.rate_1),
          is_cancel: 0
        };
        console.log(datashow);
        this.product.push(datashow);
        //close modal
        this.showDialogproduct = false;
        alertify.success("เพิ่มข้อมูลสินค้า " + val.item_name);
      } else if (
        this.billtype == 0 &&
        (val.qty >= 1 || this.ordertype != "SO") &&
        this.customerLevel == '2' || this.customerLevel == 2
      ) {
        var datashow = {
          item_id: val.id,
          item_code: val.item_code,
          bar_code: val.bar_code,
          item_name: val.item_name,
          unit_code: val.unit_code,
          qty: 1,
          price: val.sale_price_2,
          sale_price_1: val.sale_price_1,
          sale_price_2: val.sale_price_2,
          rate_1:val.rate_1,
          pic_path_1:val.pic_path_1,
          stk_qty: val.qty,
          wh_code: val.wh_code,
          discount_word_sub: "0",
          discount_word: "0",
          discount_amount_sub: 0,
          discount_amount: 0,
          item_amount: val.sale_price_2 * 1,
          amount: val.sale_price_2 * 1,
          item_description: "",
          packing_rate_1: parseInt(val.rate_1),
          is_cancel: 0
        };
        console.log(datashow);
        this.product.push(datashow);
        //close modal
        this.showDialogproduct = false;
        alertify.success("เพิ่มข้อมูลสินค้า " + val.item_name);
      } else if (
        this.billtype == 1 &&
        (val.qty >= 1 || this.ordertype != "SO") &&
        (this.customerLevel != "2" || this.customerLevel != 2)
      ) {
        var datashow = {
          item_id: val.id,
          item_code: val.item_code,
          bar_code: val.bar_code,
          item_name: val.item_name,
          unit_code: val.unit_code,
          qty: 1,
          stk_qty: val.qty,
          price: val.sale_price_1,
          sale_price_1: val.sale_price_1,
          sale_price_2: val.sale_price_2,
          rate_1:val.rate_1,
          pic_path_1:val.pic_path_1,
          wh_code: val.wh_code,
          discount_word_sub: "0",
          discount_word: "0",
          discount_amount_sub: 0,
          discount_amount: 0,
          amount: val.sale_price_1 * 1,
          item_amount: val.sale_price_1 * 1,
          item_description: "",
          packing_rate_1: parseInt(val.rate_1),
          is_cancel: 0
        };
        this.product.push(datashow);
        //close modal
        this.showDialogproduct = false;
        alertify.success("เพิ่มข้อมูลสินค้า " + val.item_name);
      } else if (
        this.billtype == 1 &&
        (val.qty >= 1 || this.ordertype != "SO") &&
        this.customerLevel == '2' || this.customerLevel == 2
      ) {
        var datashow = {
          item_id: val.id,
          item_code: val.item_code,
          bar_code: val.bar_code,
          item_name: val.item_name,
          unit_code: val.unit_code,
          qty: 1,
          stk_qty: val.qty,
          price: val.sale_price_2,
          sale_price_1: val.sale_price_1,
          sale_price_2: val.sale_price_2,
          rate_1:val.rate_1,
          pic_path_1:val.pic_path_1,
          wh_code: val.wh_code,
          discount_word_sub: "0",
          discount_word: "0",
          discount_amount_sub: 0,
          discount_amount: 0,
          amount: val.sale_price_2 * 1,
          item_amount: val.sale_price_2 * 1,
          item_description: "",
          packing_rate_1: parseInt(val.rate_1),
          is_cancel: 0
        };
        this.product.push(datashow);
        //close modal
        this.showDialogproduct = false;
        alertify.success("เพิ่มข้อมูลสินค้า " + val.item_name);
      } else if (val.qty < 1) {
        alertify.error("สินค้า " + val.item_name + " ของในคลังหมด");
      }
      this.keywordproduct = "";
      //console.log(datashow)
    }
  },
  mounted() {}
};
</script>
<style lang="scss" scoped>
.headers {
margin: 0px auto;
    padding: 8px 16px;
    font-size: large;
    /* background: beige; */
    /* box-shadow: 0 2px 4px 0 rgba(0,0,0,0.10); */
    box-shadow: 0 2px 3px 0 rgba(32,33,36,0.28);
    background-color: #d2b0b0;
    border-radius: 0px 0px 10px 10px;
}
.sresptd8  {
  display: none;
}
.sresptd7 {
  display: none ;
}
.sresptd6  {
  display: none ;
}
.sresptd5 {
  display: none ;
}
.sresptd4  {
  display: none ;
}
.sresptd3  {
  display: none ;
}
.sresptd2  {
  display: none ;
}

.showmoney {
  display:none;
}
.respicon{
  display: none;
}
.arrowbtn {
  float: left;

  height: 50px;
  line-height: 50px;
  vertical-align: middle;
}

.iconpara {
  background-color: #ffffff;
  vertical-align: top;
  border-radius: 50%;
}
.iconpara:hover {
  background-color: #e2e2e2;
}
.tableses {
  width: 100%;
  margin-bottom: 10px;
  background-color: #ffffff; // Reset for nesting within parents with `background-color`.

  th,
  td {
    padding: 0.3rem;
    vertical-align: top;

    border-top: 1px solid #f5f5f5;
  }

  thead th {
    vertical-align: bottom;
    border-bottom: (2 * 1px) solid #dee2e6;
  }

  tbody + tbody {
    border-bottom: (2 * 1px) solid #dee2e6;
  }

  .tableses {
    background-color: #ffffff;
  }
}
@media (max-width: 1300px) {
  .resp {
    white-space: normal;
  }
}

@media (max-width: 900px) {
 .respicon{
  display: table !important;
}
.resptd8 {
   display: none !important;
}
.sresptd8 {
   display: block;
}
}
@media (max-width: 825px) {

.resptd7 {
   display: none !important;
}
.sresptd7 {
   display: block;
}
}
@media (max-width: 750px) {

.resptd6 {
   display: none !important;
}
.sresptd6 {
   display: block;
}
}
@media (max-width: 700px) {

.resptd5 {
   display: none !important;
}
.sresptd5 {
   display: block;
}
}

@media (max-width: 485px) {

.resptd4 {
   display: none !important;
}
 .textresp {
    white-space: normal;
  }
  .sresptd4 {
   display: block;
}
}
@media (max-width: 450px) {

.resptd3 {
   display: none !important;
}
.showunitcodersp {
  display:block;
}
.sresptd3 {
   display: block;
}

}
@media (max-width: 390px) {

.resptd2 {
   display: none !important;
}
.sresptd2 {
   display: block;
}
.showmoney {
  display:block;
}

}
</style>
