<template>
  <div style="width:100%">
    <md-card
      v-for="(val,index) in searched"
      :key="index"
      class="md-layout-item md-size-100 md-small-size-100"
    >
      <div class="tables" style="width:100%">
        <md-card-actions style="justify-content:end;">
          <md-button style="width:10%">{{val.item_code}}</md-button>
          <md-button style="width:20%; min-height: 30px;   height: auto;
      ">
            <div
              style="width:100%;white-space: normal;word-wrap: break-word;   text-align-last: left;   text-align: left;  text-indent: 20px;display: inline-block;height:auto;"
            >{{val.item_name}}</div>
          </md-button>
          <md-button style="width:5%" @click="select_wh(val,index,1)">
            <span>{{val.wh_code}}</span>
          </md-button>
          <md-button style="width: 5%;" @click="callunitcode(val, index,1)">
            <span>{{val.unit_code}}</span>
          </md-button>
          <md-button
            style="min-width:5.6%;"
            v-show="isQtySelected==false"
            @click="isQtySelected=true"
          >
            <span>{{val.qty}}</span>
          </md-button>
          <input
            type="number"
            style="width:5.6%;background:#000;color:#FFF;height:100%;"
            v-model="val.qty"
            v-show="isQtySelected==true"
            @keyup.enter="isQtySelected=false,calEachPrice(val,1)"
            v-if="typepage!='invoice'"
            @click="$event.target.select()"
            @blur="isQtySelected=false,calEachPrice(val,1)"
          >
          <input
            type="text"
            style="width:5%;background:#000;color:#FFF;height:100%;"
            v-model="val.qty"
            v-show="isQtySelected==true"
            @keyup.enter="isQtySelected=false,calEachPriceinvoice(val,1)"
            v-if="typepage=='invoice'"
            @click="$event.target.select()"
            @blur="isQtySelected=false,calEachPriceinvoice(val,1)"
          >

          <md-button style="width:5%">
            <!-- <md-button
            style="width:5%"
            v-show="isPriceSelected==false"
            @click="isPriceSelected=true"
            :disabled="permission.is_update==0"
            >-->
            <span>{{convertmoney(val.price)}}</span>
          </md-button>
          <input
            style="width:5%"
            type="number"
            v-model="val.price"
            v-show="isPriceSelected==true"
            @focus="$event.target.select()"
            @keyup.enter="isPriceSelected=false,calEachPrice(val,3)"
            @blur="isPriceSelected=false,calEachPrice(val,3)"
          >
          <md-button
            style="width: 5%"
            v-show="isDiscountSelected==false"
            @click="isDiscountSelected=true"
            v-if="typepage!='invoice'"
            :disabled="permission.is_update==0"
          >{{val.discount_word}}</md-button>
          <input
            style="width:5%"
            type="text"
            v-model="val.discount_word"
            @focus="$event.target.select()"
            v-show="isDiscountSelected==true"
            @keyup.enter="isDiscountSelected=false,calEachPrice(val,2)"
            @click="$event.target.select()"
            @blur="isDiscountSelected=false,calEachPrice(val,2)"
            v-if="typepage!='invoice'"
          >
          <md-button
            style="width: 5%"
            v-show="isDiscountSelected==false"
            @click="isDiscountSelected=true"
            v-if="typepage=='invoice'"
          >{{val.discount_word_sub}}</md-button>
          <input
            style="width:5%"
            type="text"
            v-model="val.discount_word_sub"
            v-show="isDiscountSelected==true"
            @focus="$event.target.select()"
            @keyup.enter="isDiscountSelected=false,calEachPriceinvoice(val,2)"
            @click="$event.target.select()"
            @blur="isDiscountSelected=false,calEachPriceinvoice(val,2)"
            v-if="typepage=='invoice'"
          >
          <md-button
            style="width:5%"
            v-if="typepage=='saleorder'||typepage=='quotation'"
          >{{convertmoney(val.item_amount)}}</md-button>
          <md-button style="width:5%" v-if="typepage=='invoice'">{{convertmoney(val.amount)}}</md-button>
          <md-button style="min-width:5%;" class="md-mini" @click="removeitemtable(index)">
            <md-icon style="width:5%;float: right;">delete</md-icon>
          </md-button>
          <md-button style="min-width: 5%" class="md-mini" @click="histable(val,searchcus)">
            <md-icon style="width:5%;float: right;">history</md-icon>
          </md-button>
        </md-card-actions>
      </div>
      <div class="tables2">
        <div class="carddiscount" v-if="typepage=='invoice'">{{val.discount_word_sub}}</div>
        <div class="carddiscount" v-if="typepage!='invoice'">{{val.discount_word}}</div>
        <md-card-header style=" margin-top: 0px;    padding: 5px; width:60%;">
          <div class="md-title" style="    font-size: 15px;">{{val.item_code}}</div>
          <div class="md-subhead">{{val.item_name}}</div>
          <div class="md-subhead">จำนวน : {{val.qty}} {{val.unit_code}}</div>
        </md-card-header>
        <md-card-content style="padding:0px;width:40%;">
          <div style=" height: 100%;  float: right;padding-top:5px">
            <md-menu md-direction="bottom-end">
              <md-button
                class="md-icon-button"
                style="border-radius:0px;  height: 10%;"
                md-menu-trigger
              >
                <md-icon style="width: 50px;float: right;">more_horiz</md-icon>
              </md-button>
              <md-menu-content>
                <md-menu-item style="min-width: 30px;" @click="edititemmobile(val,index)">
                  <md-icon style="width: 10px;float: right;">edit</md-icon>edit
                </md-menu-item>

                <md-menu-item @click="removeitemtable(index)" style="min-width: 30px;">
                  <md-icon style="width:10px;float: right;">delete</md-icon>delete
                </md-menu-item>
                <md-button style="min-width: 5%" class="md-mini" @click="histable(val,searchcus)">
                  <md-icon style="width:5%;float: right;">history</md-icon>
                </md-button>
              </md-menu-content>
            </md-menu>
            <div style="text-align:center" v-if="typepage=='invoice'">
              {{val.amount}}
              <br>บาท
            </div>
            <div style="text-align:center" v-if="typepage!='invoice'">
              {{val.item_amount}}
              <br>บาท
            </div>
          </div>
          <div>
            <md-dialog :md-active.sync="showDialogItem">
              <md-dialog-title>ประวัติซื้อขาย</md-dialog-title>
              <md-tabs id="none" md-dynamic-height>
                <md-tab md-label>
                  <md-field>
                    <h5>
                      <span>{{val.item_code}} {{searchcus}}</span>
                    </h5>
                  </md-field>
                  <div class="table-responsive" style="overflow-y: auto;">
                    <table class="table table-hover">
                      <thead align="center">
                        <tr>
                          <!--<th style=''>client_id</th>-->
                          <th style="white-space: nowrap;">ลำดับ</th>
                          <th style="overflow:auto;white-space: nowrap;">วันที่เอกสาร</th>
                          <th style="white-space: nowrap;">เลขที่เอกสาร</th>
                          <th style="white-space: nowrap;">ชื่อสินค้า</th>
                          <th style="white-space: nowrap;">จำนวน</th>
                          <th style="white-space: nowrap;">หน่วยนับ</th>
                          <th style="white-space: nowrap;">ราคา/หน่วย</th>
                          <th style="white-space: nowrap;">ส่วนลด</th>
                          <th style="white-space: nowrap;">หมายเหตุ</th>
                        </tr>
                      </thead>
                      <tbody v-for="(val,index) in dataproductItem" :key="index" id>
                        <tr style="text-align:center;cursor:pointer">
                          <td>{{index+1}}</td>
                          <td v-if="typepage==='invoice'">{{val.doc_date}}</td>
                          <td v-if="typepage==='invoice'">{{val.doc_no}}</td>
                          <td v-if="typepage==='invoice'">{{val.item_name}}</td>
                          <td v-if="typepage==='invoice'">{{val.qty}}</td>
                          <td v-if="typepage==='invoice'">{{val.unit_code}}</td>
                          <td v-if="typepage==='invoice'">{{val.price}}</td>
                          <td v-if="typepage==='invoice'">{{val.discount_word_sub}}</td>
                          <td v-if="typepage==='invoice'">{{val.my_description}}</td>

                          <td v-if="typepage==='quotation'">{{val.DocDate}}</td>
                          <td v-if="typepage==='quotation'">{{val.DocNo}}</td>
                          <td v-if="typepage==='quotation'">{{val.ItemName}}</td>
                          <td v-if="typepage==='quotation'">{{val.Qty}}</td>
                          <td v-if="typepage==='quotation'">{{val.UnitCode}}</td>
                          <td v-if="typepage==='quotation'">{{val.Price}}</td>
                          <td v-if="typepage==='quotation'">{{val.DiscountWord}}</td>
                          <td v-if="typepage==='quotation'">{{val.MyDescription}}</td>

                          <td v-if="typepage==='saleorder'">{{val.DocDate}}</td>
                          <td v-if="typepage==='saleorder'">{{val.DocNo}}</td>
                          <td v-if="typepage==='saleorder'">{{val.ItemName}}</td>
                          <td v-if="typepage==='saleorder'">{{val.Qty}}</td>
                          <td v-if="typepage==='saleorder'">{{val.UnitCode}}</td>
                          <td v-if="typepage==='saleorder'">{{val.Price}}</td>
                          <td v-if="typepage==='saleorder'">{{val.DiscountWord}}</td>
                          <td v-if="typepage==='saleorder'">{{val.MyDescription}}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </md-tab>
              </md-tabs>

              <md-dialog-actions>
                <md-button class="md-primary" @click="showDialogItem = false">Close</md-button>
                <!-- <md-button class="md-primary" @click="showDialogcus = false">Save</md-button> -->
              </md-dialog-actions>
            </md-dialog>
          </div>
        </md-card-content>
      </div>
    </md-card>
    <!-- Warehouse Dialog -->
    <div>
      <md-dialog :md-active.sync="searchwarehousecode_m">
       <div style="margin:0 auto;" class="headers">เปลี่ยนคลังขาย</div>
         <md-dialog-content style="overflow: hidden;">
            
                <div class="table-responsive" style="overflow-y: auto;    overflow-y: auto;max-height: 50vh;min-height: 50vh;">
                  <table class="table table-hover">
                    <thead align="center">
                  <tr>
                    <th>ลำดับ</th>
                    <th id="colorselectorder">คลัง</th>
                    <th id="colorselectorder">ที่เก็บ</th>
                    <th id="colorselectorder">จำนวน</th>
                  </tr>
                </thead>
                <tbody id="valuetable">
                  <tr
                    v-for="(val,index) in edit_wh"
                    :key="index"
                    @click="selectwarehousecode(val)"
                    style="text-align:center;cursor:pointer"
                  >
                    <td>{{index+1}}</td>
                    <td>{{val.wh_code}}</td>
                    <td>{{val.shelf_code}}</td>
                    <td>{{val.qty}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
         </md-dialog-content>
        <md-dialog-actions>
          <md-button class="md-primary" @click="searchwarehousecode_m = false">Close</md-button>
        </md-dialog-actions>
      </md-dialog>
    </div>
    <!-- Unit Code Dialog -->
    <div>
      <md-dialog :md-active.sync="searchunitcode_m">
        <md-dialog-title>เปลี่ยน หน่วยนับ</md-dialog-title>
        <md-tabs md-dynamic-height>
          <md-tab md-label>
            <div class="table-responsive" style="overflow-y: auto;">
              <table class="table table-hover">
                <thead align="center">
                  <tr>
                    <td>ลำดับ</td>
                    <td id="colorselectorder">หน่วยนับ</td>
                    <td v-show="billtype == 0" id="colorselectorder">ราคา(เงินสด)</td>
                    <td v-show="billtype == 1" id="colorselectorder">ราคา(เงินเชื่อ)</td>
                  </tr>
                </thead>
                <tbody id="valuetable">
                  <tr
                    v-for="(val,index) in unitcode_obj"
                    :key="index"
                    @click="selectunitcode_step2(val)"
                    style="text-align:center;cursor:pointer"
                  >
                    <td>{{index+1}}</td>
                    <td>{{val.unit_code}}</td>
                    <td v-show="billtype == 0">{{ convertmoney(val.sale_price_1) }}</td>
                    <td v-show="billtype == 1">{{ convertmoney(val.sale_price_1) }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </md-tab>
        </md-tabs>

        <md-dialog-actions>
          <md-button class="md-primary" @click="searchunitcode_m = false">Close</md-button>
        </md-dialog-actions>
      </md-dialog>
    </div>
    <!-- Change Quantity Dialog Mobile -->
    
      <md-dialog :md-active.sync="mobileshow" :md-fullscreen="true">
        <md-dialog-content>
          <md-list class="md-double-line">
            <md-list-item style="background:#fff">
              <img 
                v-show="!mobilelist.pic_path_1"
                style="max-width:50%;margin:0 auto;"
                src="../../assets/No_Image_Available.png"
                alt
              >
              <img 
                v-show="mobilelist.pic_path_1"
                style="max-width:50%;margin:0 auto;"
                :src="mobilelist.pic_path_1"
                alt
              >
            </md-list-item>
            <md-divider></md-divider>
            <md-list-item>
              <div class="md-list-item-text">
                <span>{{mobilelist.item_code}}</span>
                <span style="white-space: normal; padding: 0.3rem;">{{mobilelist.item_name}}</span>
                <span style="color:red;">฿ {{mobilelist.price}}</span>
              </div>
               <div class="md-icon-button md-list-action" style="height:100%;">
                 <div style="border-radius: 5px;
                        margin: 0 auto;width: 20px;
                        background: #e2d3be;
                        margin-bottom: 10px;
                        text-align: center;"
                        v-if="typepage!='invoice'"
                        @click="plusandminus(mobilelist,1,1)">
                      +
                 </div>
                 <div style="border-radius: 5px;
                        margin: 0 auto;width: 20px;
                        background: #e2d3be;
                        margin-bottom: 10px;
                        text-align: center;"
                        v-if="typepage=='invoice'"
                        @click="plusandminusinvoice(mobilelist,1,1)">
                      +
                 </div>
                 <div style="text-align:center;">
                    {{mobilelist.qty}}
                 </div>
                 <div style="border-radius: 5px;margin: 0 auto;
                 width: 20px;background: #e2d3be;margin-top: 10px;
                 text-align: center;" 
                 v-if="typepage!='invoice'"
                 @click="plusandminus(mobilelist,2,1)"
                 >
                   -
                 </div>
                 <div style="border-radius: 5px;margin: 0 auto;
                 width: 20px;background: #e2d3be;margin-top: 10px;
                 text-align: center;" 
                 v-if="typepage=='invoice'"
                 @click="plusandminusinvoice(mobilelist,2,1)"
                 >
                   -
                 </div>
              </div>
            </md-list-item>
            <md-divider></md-divider>
            <md-list-item @click="select_wh(mobilelist,mobilelist.id,2)">
              <div class="md-list-item-text">
                <span>คลังสินค้า</span>
                <span>{{mobilelist.wh_code}}</span>
              </div>
            </md-list-item>
            <md-divider></md-divider>
            <md-list-item @click="callunitcode(mobilelist,mobilelist.id,2)">
              <div class="md-list-item-text">
                <span>หน่วยนับ</span>
                <span>{{mobilelist.unit_code}}</span>
              </div>
            </md-list-item>
            <md-divider></md-divider>
          
            <md-list-item>
              <div class="md-list-item-text">
                      
            <md-field>
            <label>ส่วนลด</label>
            <md-input 
                  v-if="typepage=='invoice'"
                  v-model="mobilelist.discount_word_sub"
                  @change="plusandminusinvoice(mobilelist,0,0)"   
                  @keyup.enter="plusandminusinvoice(mobilelist,0,0)"></md-input>
            <md-input 
                  v-if="typepage!='invoice'"
                  v-model="mobilelist.discount_word"
                  @change="plusandminus(mobilelist,0,0)"   
                  @keyup.enter="plusandminus(mobilelist,0,0)"></md-input>
          </md-field>
              </div>
            </md-list-item>
            <md-divider></md-divider>
      
          </md-list>
          
        </md-dialog-content>
        
       
          <hr>
       
            <div style="height: auto;position: relative;z-index: 2;"> 
              <div style="    width: 100%;font-size: 16px;font-weight: 400;text-align: left;text-transform: none;">
                <div style="    min-height: 48px;padding: 4px 16px;display: flex;align-items: center;justify-content: space-between;transition: padding .4s cubic-bezier(.25,.8,.25,1);will-change: padding;">
              <div class="md-list-item-text">
                <span>จำนวนเงินทั้งหมด</span>
                
              </div>
              <div class="md-icon-button md-list-action" style="padding-top: 10px;width: 30%;">
                <span style="color:red;"  v-if="typepage!='invoice'">฿ {{mobilelist.item_amount}}</span>
                 <span style="color:red;"  v-if="typepage=='invoice'">฿ {{mobilelist.amount}}</span>
              </div>
              </div>
           </div>
           </div>


            <div style="margin:10px;"> 
              <div style="float:left">
                  <md-button class="md-accent" @click="mobileshow = false">Close</md-button>
              </div>
               <div style="float:right">
                  <md-button class="md-raised md-primary" @click="savetable(mobilelist)">Save</md-button>
              </div>
              
            </div>

      </md-dialog>
    <div>
      <md-dialog :md-active.sync="changeqty">
        <md-dialog-title>เพิ่ม หรือ ลดจำนวนสินค้า</md-dialog-title>
        <md-tabs md-dynamic-height>
          <md-tab md-label>
            <div class="table-responsive" style="overflow-y: auto;">
              <md-button
                class="md-primary"
                :md-ripple="false"
                @click="searchwarehousecode_m = false"
              >
                <md-icon style="width:5%;float: right;">add</md-icon>
              </md-button>
              <md-button
                class="md-primary"
                :md-ripple="false"
                @click="searchwarehousecode_m = false"
              >1</md-button>
              <md-button
                class="md-primary"
                :md-ripple="false"
                @click="searchwarehousecode_m = false"
              >
                <md-icon style="width:5%;float: right;">remove</md-icon>
              </md-button>
            </div>
          </md-tab>
        </md-tabs>
        <md-dialog-actions>
          <md-button class="md-primary" @click="changeqty = false">Close</md-button>
        </md-dialog-actions>
      </md-dialog>
      <!-- Change WhCode Dialog Mobile -->
      <md-dialog :md-active.sync="showWHCodeM">
        <div style="margin:0 auto;" class="headers">เปลี่ยนคลังขาย</div>
         <md-dialog-content style="overflow: hidden;">
            
                <div class="table-responsive" style="overflow-y: auto;    overflow-y: auto;max-height: 50vh;min-height: 50vh;">
                  <table class="table table-hover">
                    <thead align="center">
                  <tr>
                    <th>ลำดับ</th>
                    <th id="colorselectorder">คลัง</th>
                    <th id="colorselectorder">ที่เก็บ</th>
                    <th id="colorselectorder">จำนวน</th>
                  </tr>
                </thead>
                <tbody id="valuetable">
                  <tr
                    v-for="(val,index) in edit_wh"
                    :key="index"
                    @click="selectwarehousecodeM(val)"
                    style="text-align:center;cursor:pointer"
                  >
                    <td>{{index+1}}</td>
                    <td>{{val.wh_code}}</td>
                    <td>{{val.shelf_code}}</td>
                    <td>{{val.qty}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
      
        </md-dialog-content>
        <md-dialog-actions>
          <md-button class="md-primary" @click="showWHCodeM = false">Close</md-button>
        </md-dialog-actions>
      </md-dialog>
      <md-dialog :md-active.sync="showUnitCodeM" :md-fullscreen="true">
         <div style="margin:0 auto;" class="headers">เปลี่ยนหน่วยนับ</div>
          <md-card-header style="padding: 16px 30px;">
            <md-card-header-text>
              
                <div class="md-title">{{header.unitcode}}</div>
                <div class="md-subhead">{{header.unitcode_name}}</div>
              </md-card-header-text>
              </md-card-header>
            
              
              
            <md-dialog-content style="overflow: hidden;">
            
                <div class="table-responsive" style="overflow-y: auto;    overflow-y: auto;max-height: 50vh;min-height: 50vh;">
                  <table class="table table-hover">
                    <thead align="center">
                      <tr>
                        <th>ลำดับ</th>
                        
                        
                        <th id="colorselectorder">หน่วย</th>
                        <th id="colorselectorder">ประเภท</th>
                        <th class="md-medium-hide" id="colorselectorder">จำนวน rate</th>
                        <th id="colorselectorder">จำนวนเงิน</th>
                      </tr>
                    </thead>
                    <tbody id="valuetable">
                      <tr
                        v-for="(val,index) in unitlist"
                        :key="index"
                        @click="selectunitM(val)"
                        style="text-align:center;cursor:pointer"
                      >
                        <td>{{index+1}}</td>
                    
                        <td style="text-align:left;">{{val.unit_code}}</td>
                        <td >{{val.sale_type_name}}</td>
                        <td class="md-medium-hide">{{val.rate1}}</td>
                        <td style="text-align:right;" v-show="customerLevel == '1'">{{convertmoney(val.sale_price_1)}}</td>
                        <td style="text-align:right;" v-show="customerLevel != '1'">{{convertmoney(val.sale_price_2)}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
          
            </md-dialog-content>

            <md-dialog-actions>
              <md-button class="md-primary" @click="showUnitCodeM = false">Close</md-button>
            </md-dialog-actions>
          
      </md-dialog>

      <md-dialog :md-active.sync="showUnitCode" :md-fullscreen="false">
        <div style="margin:0 auto;" class="headers">เปลี่ยนหน่วยนับ</div>
          <md-card-header style="padding: 16px 30px;">
            <md-card-header-text>
              
                <div class="md-title">{{header.unitcode}}</div>
                <div class="md-subhead">{{header.unitcode_name}}</div>
              </md-card-header-text>
              </md-card-header>
            
              
              
            <md-dialog-content style="overflow: hidden;">
            
                <div class="table-responsive" style="overflow-y: auto;    overflow-y: auto;max-height: 50vh;min-height: 50vh;">
                  <table class="table table-hover">
                    <thead align="center">
                      <tr>
                        <th>ลำดับ</th>
                        
                        
                        <th id="colorselectorder">หน่วย</th>
                        <th id="colorselectorder">ประเภท</th>
                        <th id="colorselectorder">จำนวน rate</th>
                        <th id="colorselectorder">จำนวนเงิน</th>
                      </tr>
                    </thead>
                    <tbody id="valuetable">
                      <tr
                        v-for="(val,index) in unitlist"
                        :key="index"
                        @click="selectunit(val)"
                        style="text-align:center;cursor:pointer"
                      >
                        <td>{{index+1}}</td>
                    
                        <td style="text-align:left;">{{val.unit_code}}</td>
                        <td>{{val.sale_type_name}}</td>
                        <td>{{val.rate1}}</td>
                        <td style="text-align:right;" v-show="customerLevel == '1'">{{convertmoney(val.sale_price_1)}}</td>
                        <td style="text-align:right;" v-show="customerLevel != '1'">{{convertmoney(val.sale_price_2)}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
          
            </md-dialog-content>

            <md-dialog-actions>
              <md-button class="md-primary" @click="showUnitCode = false">Close</md-button>
            </md-dialog-actions>
      </md-dialog>

    </div>
  </div>
</template>


<script>
import Vue from "vue";
import api from "../../service/service.js";
import Loading from "vue-loading-overlay";
import "vue-loading-overlay/dist/vue-loading.css";
import { Money } from "v-money";
import Swal from "sweetalert2";
export default {
  name: "itemtable",
  props: {
    parentData: [],
    stringProp: [],
    searched: Array,
    product: Array,
    typepage: "",
    searchcus: "",
    permission: "",
    billtype: "",
    ordertype: "",
    customerLevel: ""
  },
  data() {
    return {
      isLoading: false,
      changeqty: false,
      dataproductItem: [],
      showDialogItem: false,
      dproducts: [],
      edit_wh: [],
      searchunitcode_m: false,
      searchwarehousecode_m: false,
      isQtySelected: false,
      isPriceSelected: false,
      isDiscountSelected: false,
      unitcode_obj: [],
      showUnitCode: false,
       showUnitCodeM: false,
      showWHCodeM:false,
      unitlist: [],
      mobilelist: [],
      mobileshow: false,
      header:{
        unitcode:'',
        unitcode_name:'',
        whCode:'',
        whCode_name:''
      },
    };
  },
  methods: {
    changevalue_qty(val, index) {
      var items = {
        id: 0,
        Stk_unit_code: "",
        qty: 0,
        shelf_code: "",
        wh_code: ""
      };
      this.changeqty = true;
    },
    select_wh(val, index,id) {
      var items = {
        id: 0,
        Stk_unit_code: "",
        qty: 0,
        shelf_code: "",
        wh_code: ""
      };

      let payload = {
        item_code: val.item_code
      };
      var data = new Array();
      data = [];
      // console.log(payload)
      api.searchunitcode(
        payload,
        result => {
          console.log(result.data[0].stk_location);
          result.data[0].stk_location.forEach(item => {
            item.id = index;
            data.push(item);
          });
          this.edit_wh = data;
            if (id == 1) {
              this.searchwarehousecode_m = true;
          } else {
            this.showWHCodeM = true;
          }
          
          
          console.log(JSON.stringify(this.edit_wh));
        },
        error => {
          console.log(JSON.stringify(error));
          alertify.error("Data ข้อมูล Unit code ผิดพลาด");
        }
      );
      console.log(this.typepage);
    },
    savetable (val) {
      console.log(val)
      console.log(this.product)
      this.product.splice(val.id,1,val)
      console.log(this.product)
      this.mobileshow = false
    },
    plusandminusinvoice(val,id,step) {
      if(step == 1 ) {
        if(id == 1 ) {
            if(val.qty >= val.stk_qty &&(this.ordertype == "SO"||this.ordertype == "IV")) {
              Swal.fire({ text: "จำนวนสินค้า ในสต๊อกสินค้า เหลือเพียง " +val.stk_qty + " " + val.unit_code, type: "error" });
              return 
            }
            val.qty += 1
        } else {
          console.log(val)
          if(val.qty > 0 ){
            val.qty -= 1
          }else{
            return 
          }
        }
      }
      if (val.discount_word_sub == "") {
        val.discount_word_sub = "0";
      }
      var pattern = /^[0-9- , %]*$/;
      var check = pattern.test(val.discount_word_sub);
      if (!check) {
        val.discount_word_sub = "0";
      }
      console.log(val)

      var discount_amount = val.amount;
      console.log(val.discount_word_sub);
      let eachPriceNoDiscount = val.qty * val.price;
      for (let i = 0; i < val.discount_word_sub.length; i++) {
        if (
          val.discount_word_sub[i] == "%" ||
          val.discount_word_sub[i] == ","
        ) {
          val.amount = this.calDiscountEachPrice(
            eachPriceNoDiscount,
            val.discount_word_sub
          );
          console.log(eachPriceNoDiscount);
          val.discount_amount_sub = eachPriceNoDiscount - val.amount;

          return;
        }
      }
      console.log(JSON.stringify(eachPriceNoDiscount));

      if (val.discount_word_sub == "") {
        val.amount = eachPriceNoDiscount;
        return eachPriceNoDiscount;
      } else {
        val.discount_amount_sub = parseInt(val.discount_word_sub);
        val.amount = eachPriceNoDiscount - parseInt(val.discount_word_sub);
        return;
      }

    },
    plusandminus(val,id,step) {
      if(step == 1 ) {
        if(id == 1 ) {
            val.qty += 1
        } else {
          console.log(val)
          if(val.qty > 0 ){
            val.qty -= 1
          }else{
            return 
          }
        }
      }
      if (val.discount_word == "") {
        val.discount_word = "0";
      }
      var pattern = /^[0-9- , %]*$/;
      var check = pattern.test(val.discount_word);
      if (!check) {
        val.discount_word = "0";
      }
      val.qty = parseFloat(val.qty);
      let eachPriceNoDiscount = parseFloat(val.price);
      for (let i = 0; i < val.discount_word.length; i++) {
        if (val.discount_word[i] == "%" || val.discount_word[i] == ",") {
          val.item_amount = this.calDiscountEachPrice(
            eachPriceNoDiscount,
            val.discount_word
          );
          console.log(JSON.stringify(val.item_amount));
          val.item_amount = parseFloat(val.item_amount * val.qty);
          val.item_amount = parseFloat(val.item_amount.toFixed(2));
          console.log(JSON.stringify(val.item_amount));
          val.discount_amount = parseFloat(
            eachPriceNoDiscount * val.qty - val.item_amount
          );
          val.discount_amount = parseFloat(val.discount_amount.toFixed(2));
          console.log(JSON.stringify("ส่วนลด" + val.discount_amount));
          console.log(JSON.stringify(eachPriceNoDiscount));
          return;
        }
      }
      if (val.discount_word == "") {
        val.item_amount = eachPriceNoDiscount * val.qty;
        return eachPriceNoDiscount;
      } else {
        val.discount_amount = parseInt(val.discount_word);
        val.item_amount =
          (eachPriceNoDiscount - parseInt(val.discount_word)) * val.qty;
        return;
      }
    },
    edititemmobile(val, index) {
        val.id = index
      // let data = {
      // amount: val.amount,     
      // bar_code: val.bar_code,
      // discount_amount: val.discount_amount,
      // discount_amount_sub: val.discount_amount_sub,
      // discount_word: val.discount_word,
      // discount_word_sub: val.discount_word_sub,
      // is_cancel: val.is_cancel,
      // item_amount: val.item_amount,
      // item_code: val.item_code,
      // item_description: val.item_description,
      // item_id: val.item_id,
      // item_name: val.item_name,
      // packing_rate_1: val.packing_rate_1,
      // pic_path_1: val.pic_path_1,
      // price: val.price,
      // qty: val.qty,
      // sale_price_1: val.sale_price_1,
      // sale_price_2: val.sale_price_2,
      // stk_qty: val.stk_qty,
      // unit_code: val.unit_code,
      // wh_code: val.wh_code
      // }
   
      this.mobilelist = JSON.parse(JSON.stringify(val));
      console.log(this.mobilelist, index);
      this.mobileshow = true;
    },
    changeunitcode(val) {
      var items = {
        id: 0,
        Stk_unit_code: "",
        price: ""
      };
      console.log(JSON.stringify(val));
      let payload = {
        item_code: val.item_code
      };
      // this.isLoading = true
      // console.log(payload)
      api.searchunitcode(
        payload,
        result => {
          this.isLoading = false;
          this.unitcode_obj = result.data;
          this.searchunitcode_m = true;
          console.log(JSON.stringify(this.unitcode_obj));
        },
        error => {
          this.isLoading = false;
          console.log(JSON.stringify(error));
          alertify.error("Data ข้อมูล Unit code ผิดพลาด");
        }
      );
    },
    selectunit(val) {
      console.log(val);
      console.log(JSON.stringify(this.product[val.id]));
      // this.product[val.id].rate_1 = val.rate1;
      // this.product[val.id].wh_qty = val.whqty_temp / val.rate1;
      // this.product[val.id].unit_code = val.unit_code;
      // this.product[val.id].qty = val.stock_qty / val.rate1;
      // this.product[val.id].sale_price_1 = val.sale_price_1;
      // this.product[val.id].sale_price_2 = val.sale_price_2;
      // console.log(this.product[val.id]);
      // this.showUnitCode = false;

      if (this.customerLevel == "2") {
        this.product[val.id].price = val.sale_price_2;
      } else {
        this.product[val.id].price = val.sale_price_1;
      }
      console.log(JSON.stringify(this.product));
      this.product[val.id].unit_code = val.unit_code;
      this.product[val.id].sale_price_1 = val.sale_price_1;
      this.product[val.id].sale_price_2 = val.sale_price_2;
      this.product[val.id].item_amount =
        (this.product[val.id].price - this.product[val.id].discount_word) *
        this.product[val.id].qty;
      this.product[val.id].rate_1 = val.rate1;
       this.product[val.id].packing_rate_1 = val.rate1;
      this.showUnitCode = false;
       console.log(JSON.stringify(this.product[val.id]));
    },
    selectunitM(val) {
      
      
      // this.product[val.id].rate_1 = val.rate1;
      // this.product[val.id].wh_qty = val.whqty_temp / val.rate1;
      // this.product[val.id].unit_code = val.unit_code;
      // this.product[val.id].qty = val.stock_qty / val.rate1;
      // this.product[val.id].sale_price_1 = val.sale_price_1;
      // this.product[val.id].sale_price_2 = val.sale_price_2;
      // console.log(this.product[val.id]);
      // this.showUnitCode = false;

      if (this.customerLevel == "2") {
        this.mobilelist.price = val.sale_price_2;
      } else {
        this.mobilelist.price = val.sale_price_1;
      }
      console.log(JSON.stringify(this.mobilelist));
      this.mobilelist.unit_code = val.unit_code;
      this.mobilelist.sale_price_1 = val.sale_price_1;
      this.mobilelist.sale_price_2 = val.sale_price_2;
      this.mobilelist.item_amount =
        (this.mobilelist.price - this.mobilelist.discount_word) *
        this.mobilelist.qty;
      this.mobilelist.amount =
        (this.mobilelist.price - this.mobilelist.discount_word_sub) *
        this.mobilelist.qty;
      this.showUnitCodeM = false;
    },
    callunitcode(val, index,id) {
      var data = new Array();
      data = [];
      let payload = {
        code: val.item_code
      };
      this.isLoading = true;
      api.callUnitCodebyCodeNoType(
        payload,
        result => {
          if (result.response == "success") {
            result.data.forEach(item => {
            item.id = index;
            data.push(item);
            });
            console.log(data);
            this.isLoading = false;
            this.unitlist = data;
            this.header.unitcode = data[0].item_code
            this.header.unitcode_name = data[0].item_name
            if (id == 1) {
                this.showUnitCode = true;
            } else {
              this.showUnitCodeM = true;
            }
          }else {
            console.log(result)
            alertify.error("ข้อมูล สินค้าเกิดข้อผิดพลาด \n" + result.message);
          }
          
          
        },
        error => {
          alertify.error("ข้อมูล สินค้าเกิดข้อผิดพลาด");
        }
      );
    },
    selectunitcode_step2(val, index) {
      // console.log(JSON.stringify(val));
      // console.log(this.stock_index);
      var index = this.findWithAttr(this.product, "item_name", val.item_name);
      console.log("index  :  " + index);
      // console.log(JSON.stringify(this.product));
      console.log(JSON.stringify(val));
      console.log(JSON.stringify(val.unit_code));
      if (this.billtype == 0) {
        this.product[index].price = val.sale_price_1;
      }
      if (this.billtype == 1) {
        this.product[index].price = val.sale_price_1;
      }
      console.log(JSON.stringify(this.product));
      this.product[index].unit_code = val.unit_code;
      this.product[index].sale_price_1 = val.sale_price_1;
      this.product[index].sale_price_2 = val.sale_price_2;
      this.product[index].item_amount =
        (this.product[index].price - this.product[index].discount_word) *
        this.product[index].qty;
      console.log(JSON.stringify(this.product));
      this.searchunitcode_m = false;
    },
    findWithAttr(array, attr, value) {
      for (var i = 0; i < array.length; i += 1) {
        if (array[i][attr] === value) {
          return i;
        }
      }
      return -1;
    },
    selectwarehousecode(val) {
      
      this.product[val.id].wh_code = val.wh_code;
      console.log(val)
      //  this.product[val.id].shelf_code = val.shelf_code

      this.searchwarehousecode_m = false;
    },
    selectwarehousecodeM(val) {
       console.log(val,this.mobilelist[val.id])
      this.mobilelist.wh_code = val.wh_code;
      //  this.product[val.id].shelf_code = val.shelf_code

      this.showWHCodeM = false;
    },
    convertmoney(val) {
      var number = numeral(val).format("0,0.00");
      return number;
    },
    removeitemtable(index) {
      console.log(this.product);
      this.product.splice(index, 1);
      // this.searchProductInObject(this.dproducts,index)
    },
    seedetail() {},
    showalldoc() {},
    clearItem() {
      if (this.ordertype == "SO") {
        this.dproducts = [];
      }
    },
    histable(val, searchcus) {
      console.log(JSON.stringify(val));
      console.log(val.item_code);
      console.log(searchcus);
      console.log(this.typepage);
      //console.log(this.detailcus)
      //this.showDialogItem = true
      let payload = {
        name: this.searchcus,
        item_code: val.item_code,
        page: this.typepage
      };
      this.isLoading = true;
      console.log(payload);
      api.searchSaleByItem(
        payload,
        result => {
          this.isLoading = false;
          console.log(result.data);
          console.log(result.data.length);
          this.showDialogItem = true;
          this.dataproductItem = result.data;
        },
        error => {
          this.isLoading = false;
          console.log(JSON.stringify("มันเสียนะ", error));
          alertify.error("ข้อมูล สินค้าเกิดข้อผิดพลาด");
        }
      );
    },
    calEachPrice(val, index) {
      if (index == 1) {
        if (val.qty <= 0 || val.qty == NaN) {
          val.qty = parseFloat(1);
          return;
        }
        console.log(val);
        if (val.qty > val.stk_qty && (this.ordertype == "SO" ||this.ordertype == "IV")) {
          alertify.error(
            "สินค้าคงเหลืออยู่จำนวน " + val.stk_qty + " " + val.unit_code
          );
          val.qty = parseFloat(val.stk_qty);
          if (val.qty <= 0 && this.ordertype == "SO") {
            val.qty = parseFloat(1);
            alertify.error("ไม่มีสินค้าในคลังสินค้า");
            return;
          }
        }
      }
      if (index == 3) {
        val.price = parseFloat(val.price);
      } else {
      }
      if (val.discount_word == "") {
        val.discount_word = "0";
      }
      var pattern = /^[0-9- , %]*$/;
      var check = pattern.test(val.discount_word);
      if (!check) {
        val.discount_word = "0";
      }
      val.qty = parseFloat(val.qty);
      let eachPriceNoDiscount = parseFloat(val.price);
      for (let i = 0; i < val.discount_word.length; i++) {
        if (val.discount_word[i] == "%" || val.discount_word[i] == ",") {
          val.item_amount = this.calDiscountEachPrice(
            eachPriceNoDiscount,
            val.discount_word
          );
          console.log(JSON.stringify(val.item_amount));
          val.item_amount = parseFloat(val.item_amount * val.qty);
          val.item_amount = parseFloat(val.item_amount.toFixed(2));
          console.log(JSON.stringify(val.item_amount));
          val.discount_amount = parseFloat(
            eachPriceNoDiscount * val.qty - val.item_amount
          );
          val.discount_amount = parseFloat(val.discount_amount.toFixed(2));
          console.log(JSON.stringify("ส่วนลด" + val.discount_amount));
          console.log(JSON.stringify(eachPriceNoDiscount));
          return;
        }
      }
      if (val.discount_word == "") {
        val.item_amount = eachPriceNoDiscount * val.qty;
        return eachPriceNoDiscount;
      } else {
        val.discount_amount = parseInt(val.discount_word);
        val.item_amount =
          (eachPriceNoDiscount - parseInt(val.discount_word)) * val.qty;
        return;
      }
    },
    calEachPriceinvoice(val, index) {
      if (index == 1) {
        if (val.qty <= 0 || val.qty == NaN) {
          val.qty = parseFloat(1);
          return;
        }
      } else {
      }
      if (val.discount_word_sub == "") {
        val.discount_word_sub = "0";
      }
      var pattern = /^[0-9- , %]*$/;
      var check = pattern.test(val.discount_word_sub);
      if (!check) {
        val.discount_word_sub = "0";
      }
      console.log(2);
      val.qty = parseFloat(val.qty);

      var discount_amount = val.amount;
      console.log(val.discount_word_sub);
      let eachPriceNoDiscount = val.qty * val.price;
      for (let i = 0; i < val.discount_word_sub.length; i++) {
        if (
          val.discount_word_sub[i] == "%" ||
          val.discount_word_sub[i] == ","
        ) {
          val.amount = this.calDiscountEachPrice(
            eachPriceNoDiscount,
            val.discount_word_sub
          );
          console.log(eachPriceNoDiscount);
          val.discount_amount_sub = eachPriceNoDiscount - val.amount;

          return;
        }
      }
      console.log(JSON.stringify(eachPriceNoDiscount));

      if (val.discount_word_sub == "") {
        val.amount = eachPriceNoDiscount;
        return eachPriceNoDiscount;
      } else {
        val.discount_amount_sub = parseInt(val.discount_word_sub);
        val.amount = eachPriceNoDiscount - parseInt(val.discount_word_sub);
        return;
      }
    },
    calDiscountEachPrice(eachPrice, discount_word) {
      //let discountCaled
      console.log(eachPrice, discount_word);
      let percentDiscount;
      let discountedPrice;
      let bahtDiscount;
      let discountArray;
      let mixDiscount;
      let mixPrice = eachPrice;
      //
      if (discount_word.includes(",") == false) {
        for (let i = 0; i < discount_word.length; i++) {
          if (discount_word[i] == "%") {
            console.log(JSON.stringify(discount_word));
            console.log(JSON.stringify(discount_word.replace("%", "")));
            let floatPercent = parseFloat(discount_word.replace("%", ""));
            percentDiscount = parseFloat(parseFloat(floatPercent / 100.0));
            console.log(JSON.stringify(percentDiscount));
            discountedPrice = eachPrice - eachPrice * percentDiscount;
            console.log(JSON.stringify(discountedPrice));
            return parseFloat(discountedPrice);
          }
        }
      }
      if (discount_word.includes(",") == true) {
        discountArray = discount_word.split(",");
        console.log(JSON.stringify(discountArray));
        for (let i = 0; i < discountArray.length; i++) {
          let pToken = [];

          for (let j = 0; j < discountArray[i].length; j++) {
            console.log(JSON.stringify(discountArray[i]));
            let str = discountArray[i];
            console.log(JSON.stringify(str));
            if (str[j] == "%") {
              mixDiscount = parseFloat(str.replace("%", "")) / 100.0;
              console.log(JSON.stringify(mixDiscount));
              mixPrice = mixPrice - mixPrice * mixDiscount;
              console.log(JSON.stringify(mixPrice));
              pToken[i] = 1;
            }
          }
          if (pToken[i] != 1) {
            mixDiscount = parseFloat(discountArray[i]);
            if (!isNaN(mixDiscount)) {
              console.log(mixDiscount);
              mixPrice = mixPrice - mixDiscount;
            }
          }
        }
        return parseFloat(mixPrice);
      }
    }
  },
  computed: {},
  mounted() {
    this.clearItem();
  }
};
</script>


<style lang="scss" scoped>
.tbmobile {
  td {
    padding: 8px 16px;
  }
}

.headers {
margin: 0px auto;
    padding: 8px 16px;
    font-size: large;
    /* background: beige; */
    /* box-shadow: 0 2px 4px 0 rgba(0,0,0,0.10); */
    box-shadow: 0 2px 3px 0 rgba(32,33,36,0.28);
    background-color: #d2b0b0;
    border-radius: 0px 0px 10px 10px;
}
</style>

