<template>
  <div style="width:100%">
    <loading :active.sync="isLoading" :can-cancel="true" :is-full-page="true"></loading>
    <div class="md-toolbar-section-start">
      <div style="min-height:42px;position:relative" class="md-title">
        <div class="md-layout md-gutter">
          <div
            class="md-size-40 md-small-size-100"
            style="float:left;position:relative;margin-right:10px;padding:16px 0px 0px;margin-left:30px;"
          >ข้อมูลสินค้า</div>
          <div class="md-size-40 md-small-size-100" style="float:left;margin-left:30px">
            <md-field>
              <label>เพิ่มสินค้า</label>
              <md-input ref="addproduct" v-model="keywordproduct" @keyup.enter="addproductv2"></md-input>
              <md-icon style="color:grey;left:-10px;">
                info
                <md-tooltip md-direction="top">
                  <md-icon style="color:white;">keyboard</md-icon>รหัสสินค้า หรือ ชื่อสินค้า + Enter
                </md-tooltip>
              </md-icon>

              <md-button
                @click="addproductv2"
                style="top:-5px;left:-5px"
                class="md-icon-button md-raised md productadd md-dense"
              >
                <md-icon>add</md-icon>
              </md-button>
            </md-field>
          </div>
        </div>
      </div>
    </div>
    <!-- <md-dialog :md-active.sync="showDialogproduct" :md-fullscreen="false">
      <md-dialog-title>ค้นหาสินค้า</md-dialog-title>
      <md-dialog-content>
        <md-tab md-label>
          <md-field>
            <md-input
              v-model="keywordproduct"
              @keyup="addproductrt"
              @keydown="addproductrt"
              @input="addproductrt"
            ></md-input>
          </md-field>
          <div class="table-responsive" style="overflow-y: auto;">
            <table class="table">
              <thead align="center">
                <tr>
                  <td class="md-medium-hide" style="white-space: nowrap;">ลำดับ</td>
                  <td style="white-space: nowrap;">รูป</td>
                  <td class="md-medium-hide" style="overflow:auto;white-space: nowrap;">รหัสสินค้า</td>
                  <td style="white-space: nowrap;">ชื่อสินค้า</td>
                  <td class="md-medium-hide" style="white-space: nowrap;">หน่วยนับ</td>
                  <td style="white-space: nowrap;" v-show="billtype == 0">ราคา(เงินสด)</td>
                  <td style="white-space: nowrap;" v-show="billtype == 1">ราคา(เงินเชื่อ)</td>
                  <td class="md-medium-hide" style="white-space: nowrap;">คลัง</td>
                  <td class="md-medium-hide" style="white-space: nowrap;">คงเหลือ</td>
                </tr>
              </thead>
              <tbody v-for="(val,index) in listFilter" :key="index" id="valuetable">
                <tr style="text-align:center;cursor:pointer">
                  <td class="md-medium-hide" @click="showdetail(val)">{{index+1}}</td>
                  <td @click="showdetail(val)" v-show="val.pic_path_1">
                    <img
                      style="width:50px;height:50px;"
                      class="hoverzoom"
                      :src="val.pic_path_1"
                      alt
                    >
                  </td>
                  <td @click="showdetail(val)" v-show="!val.pic_path_1">
                    <img
                      style="max-width:50px;max-height:50px;"
                      src="../../assets/No_Image_Available.png"
                      alt
                    >
                  </td>
                  <td class="md-medium-hide" @click="showdetail(val)">{{val.item_code}}</td>
                  <td @click="showdetail(val)">{{val.item_name}}</td>
                  <td class="md-medium-hide" @click="showdetail(val)">{{val.unit_code}}</td>
                  <td @click="showdetail(val)" v-show="billtype == 0">{{val.sale_price_1}}</td>
                  <td @click="showdetail(val)" v-show="billtype == 1">{{val.sale_price_2}}</td>
                  <td class="md-medium-hide">
                    <select
                      style="border-bottom: aqua 1.5px outset;"
                      v-model="val.wh_code"
                      @change="changeqty($event.target.selectedIndex,val)"
                    >
                      <option
                        v-for="(uni,indexs) in val.stk_location"
                        :key="indexs"
                        :value="uni.wh_code"
                      >{{uni.wh_code}}</option>
                    </select>
                  </td>
                  <td class="md-medium-hide">
                    <md-button
                      v-if="val.stock_qty != 0"
                      @click="findstock(val,index)"
                      style="height:18px;"
                      class="md-primary"
                    >{{ val.stock_qty }}</md-button>
                    <md-button
                      v-if="val.stock_qty == 0"
                      @click="findstock(val,index)"
                      style="height:18px;"
                      class="md-primary"
                    >{{ val.stk_qty }}</md-button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </md-tab>
      </md-dialog-content>
      <md-dialog-actions>
        <md-button class="md-primary" @click="showDialogproduct = false">Close</md-button>
      </md-dialog-actions>
      @keyup="addproductrt"
              @keydown="addproductrt"
              @input="addproductrt"
    </md-dialog>-->
    <md-dialog :md-active.sync="showDialogproduct" :md-fullscreen="false">
      <md-dialog-title>ค้นหาสินค้า</md-dialog-title>
      <md-dialog-content>
        <md-tab md-label>
          <md-field>
            <md-input
              v-model="keywordproduct"
              @keyup="searchproductv2"
              @keydown="searchproductv2"
              @input="searchproductv2"
            ></md-input>
          </md-field>
          <div class="table-responsive" style="overflow-y: auto;">
            <table class="table">
              <thead align="center">
                <tr>
                  <td class="md-medium-hide" style="white-space: nowrap;">ลำดับ</td>
                  <td style="white-space: nowrap;">รูป</td>
                  <td class="md-medium-hide" style="overflow:auto;white-space: nowrap;">รหัสสินค้า</td>
                  <td style="white-space: nowrap;">ชื่อสินค้า</td>
                  <td class="md-medium-hide" style="white-space: nowrap;">หน่วยนับ</td>
                  <td style="white-space: nowrap;" v-show="billtype == 0">ราคา(เงินสด)</td>
                  <td style="white-space: nowrap;" v-show="billtype == 1">ราคา(เงินเชื่อ)</td>
                  <td class="md-medium-hide" style="white-space: nowrap;">คลังสินค้า</td>
                  <td class="md-medium-hide" style="white-space: nowrap;">คงเหลือ ทั้งหมด ตามคลัง</td>
                  <td class="md-medium-hide" style="white-space: nowrap;">คงเหลือ </td>
                </tr>
              </thead>
              <tbody v-for="(val,index) in listFilter" :key="index" id="valuetable">
                <tr style="text-align:center;cursor:pointer">
                  <td class="md-medium-hide" @click="showdetail(val)">{{index+1}}</td>
                  <td @click="showdetail(val)" v-show="val.pic_path_1">
                    <img
                      style="width:50px;height:50px;"
                      class="hoverzoom"
                      :src="val.pic_path_1"
                      alt
                    >
                  </td>
                  <td @click="showdetail(val)" v-show="!val.pic_path_1">
                    <img
                      style="max-width:50px;max-height:50px;"
                      src="../../assets/No_Image_Available.png"
                      alt
                    >
                  </td>
                  <td class="md-medium-hide" @click="showdetail(val)">{{val.item_code}}</td>
                  <td @click="showdetail(val)">{{val.item_name}}</td>
                  <td class="md-medium-hide" @click="showdetail(val)">{{val.unit_code}}</td>
                  <td @click="showdetail(val)" v-show="billtype == 0">{{convertmoney(val.sale_price_1)}}</td>
                  <td @click="showdetail(val)" v-show="billtype == 1">{{convertmoney(val.sale_price_2)}}</td>
                  <td class="md-medium-hide" @click="callwhcode(val,index)">
                    <span style="border-bottom: aqua 1.5px outset;">{{val.wh_code}}</span>
                  </td>
                  <td class="md-medium-hide">{{convertmoney(val.qty)}}</td>  
                  <td class="md-medium-hide">{{convertmoney(val.qty)}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </md-tab>
      </md-dialog-content>
      <md-dialog-actions>
        <md-button class="md-primary" @click="showDialogproduct = false">Close</md-button>
      </md-dialog-actions>
    </md-dialog>
    <md-dialog :md-active.sync="showWHcode" :md-fullscreen="false">
      <md-dialog-title>เปลี่ยน คลัง</md-dialog-title>
      <md-tabs md-dynamic-height>
        <md-tab md-label>
          <div class="table-responsive" style="overflow-y: auto;">
            <table class="table table-hover">
              <thead align="center">
                <tr>
                  <th>ลำดับ</th>
                  <th id="colorselectorder">คลัง</th>
                  <th id="colorselectorder">ที่เก็บ</th>
                  <th id="colorselectorder">จำนวน</th>
                </tr>
              </thead>
              <tbody id="valuetable">
                <tr
                  v-for="(val,index) in edit_wh"
                  :key="index"
                  @click="selectwarehousecode(val)"
                  style="text-align:center;cursor:pointer"
                >
                  <td>{{index+1}}</td>
                  <td>{{val.wh_code}}</td>
                  <td>{{val.shelf_code}}</td>
                  <td>{{val.qty}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </md-tab>
      </md-tabs>

      <md-dialog-actions>
        <md-button class="md-primary" @click="showWHcode = false">Close</md-button>
      </md-dialog-actions>
    </md-dialog>
  </div>
</template>


<script>
import Vue from "vue";
import api from "../../service/service.js";
import { Money } from "v-money";
import Loading from "vue-loading-overlay";
import "vue-loading-overlay/dist/vue-loading.css";
export default {
  name: "itemtable",
  props: {
    // removeitemtable: Function,
    parentData: [],
    stringProp: [],
    ref: "addproduct",
    product: Array,
    typepage: "",
    billtype: 0,
    ordertype:""
  },
  components: {
    Loading
  },
  data() {
    return {
      keywordproduct: "",
      showDialogproduct: false,
      showWHcode: false,
      attention: "",
      timeout: null,
      dataproductDialog: [],
      dataproduct: [],
      listitem: [],
      datas: [],
      edit_wh: [],
      datalist: [],
      unitcode_obj: [],
      isLoading: false
    };
  },
  computed: {
    listFilter() {
      var myNewStr = this.keywordproduct.substr(-1);
      var dataall;
      var str = this.keywordproduct.split(" ");
      console.log(this.datalist.length);
      console.log(this.datalist);
      for (let i = this.datalist.length; i >= str.length; i--) {
        this.datalist.pop();
      }
      console.log(this.dataproductDialog);
      if (myNewStr == " ") {
        this.datalist.push(this.listitem);
        console.log(this.dataproductDialog);
      }
      if (str.length > 1) {
        this.datas = this.datalist[str.length - 2].filter(dataalls => {
          if (
            dataalls.item_code
              .toLowerCase()
              .includes(str[str.length - 1].toLowerCase()) ||
            dataalls.item_name
              .toLowerCase()
              .includes(str[str.length - 1].toLowerCase()) ||
            dataalls.unit_code
              .toLowerCase()
              .includes(str[str.length - 1].toLowerCase())
          ) {
            return (
              dataalls.item_code
                .toLowerCase()
                .includes(str[str.length - 1].toLowerCase()) ||
              dataalls.item_name
                .toLowerCase()
                .includes(str[str.length - 1].toLowerCase()) ||
              dataalls.unit_code
                .toLowerCase()
                .includes(str[str.length - 1].toLowerCase())
            );
          }
        });
      } else {
        this.datas = this.dataproductDialog.filter(dataalls => {
          if (
            dataalls.item_code
              .toLowerCase()
              .includes(this.keywordproduct.toLowerCase()) ||
            dataalls.item_name
              .toLowerCase()
              .includes(this.keywordproduct.toLowerCase()) ||
            dataalls.unit_code
              .toLowerCase()
              .includes(this.keywordproduct.toLowerCase())
          ) {
            return (
              dataalls.item_code
                .toLowerCase()
                .includes(this.keywordproduct.toLowerCase()) ||
              dataalls.item_name
                .toLowerCase()
                .includes(this.keywordproduct.toLowerCase()) ||
              dataalls.unit_code
                .toLowerCase()
                .includes(this.keywordproduct.toLowerCase())
            );
          }
        });
      }
      if (myNewStr == " ") {
        this.datas = this.listitem;
        console.log(this.listitem);
        return this.datas;
      } else {
        this.listitem = [];
        this.listitem = this.datas;
        console.log(this.listitem);
      }
      return this.datas.sort((a, b) => (a.item_code > b.item_code ? 0 : -1));
    }
  },
  watch: {},
  methods: {
    changeqty(event, val) {
      console.log(event, val);
      val.stock_qty = val.stk_location[event].qty;
      console.log(val.stock_qty);
    },
    convertmoney(val) {
      // console.log(val)
      var number = numeral(val).format("0,0.00");
      return number;
    },
    searchproductv2() {
      // alert(this.billtype)
      // alert('d')
      if (this.billtype === "" && this.billtype !== 0 && this.billtype !== 1) {
        if (this.attention == "wobble-hor-bottom") {
          this.attention = "wobble-hor-bottom2";
        } else {
          this.attention = "wobble-hor-bottom";
        }
        return;
      }
      if (!this.keywordproduct) {
        return;
      }
      var itemtable = new Array();
      var str = this.keywordproduct.split(" ");
      console.log(str.length);
      let payload = {
        keyword: str[0]
      };
      clearTimeout(this.timeout);
      this.timeout = setTimeout(() => {
        api.findproductByKeyword(
          payload,
          result => {
            this.dataproductDialog = result.data;
            console.log("billtype : " + this.billtype);
            this.$refs.addproduct.$el.focus();
          },
          error => {
            console.log(JSON.stringify(error));
            alertify.error("ข้อมูล สินค้าเกิดข้อผิดพลาด");
          }
        );
      }, 500);
      console.log(itemtable);
    },
    addproductv2() {
      console.log(this.keywordproduct);
      // alert(this.billtype)
      // alert('d')
      if (this.billtype === "" && this.billtype !== 0 && this.billtype !== 1) {
        if (this.attention == "wobble-hor-bottom") {
          this.attention = "wobble-hor-bottom2";
        } else {
          this.attention = "wobble-hor-bottom";
        }
        return;
      }
      if (!this.keywordproduct) {
        alertify.error("กรุณากรอกชื่อสินค้าหรือรหัสสินค้าก่อน");
        return;
      }
      var itemtable = new Array();
      this.dataproductDialog = [];
      var str = this.keywordproduct.split(" ");
      console.log(str.length);
      let payload = {
        keyword: str[0]
      };
      // let payload = {
      //   keyword: this.keywordproduct
      // };
      this.isLoading = true;
      api.findproductByKeyword(
        payload,
        result => {
          this.isLoading = false;
          console.log(result.data[0]);
          console.log(result.data.length);
          if (result.data.length == 1) {
            var i = 0;
            this.product.forEach(function(items, a) {
              console.log(items);
              if (
                items.item_code == result.data[0].item_code &&
                items.unit_code == result.data[0].unit_code
              ) {
                alertify.success(
                  "สินค้า " + result.data[0].item_name + "อยู่ในรายการแล้ว"
                );
                i += 1;
                return;
              }
            });
            console.log(result.data[0].item_code);
            if (i > 0) {
              return;
            }
            console.log("555")
            if ((this.billtype == 0 && result.data[0].qty >= 1)||this.ordertype=='RO') {
              console.log(result.data[0].id);
              var datashow = {
                item_id: result.data[0].id,
                item_code: result.data[0].item_code,
                bar_code: result.data[0].bar_code,
                item_name: result.data[0].item_name,
                unit_code: result.data[0].unit_code,
                qty: 1,
                price: result.data[0].sale_price_1,
                sale_price_1: result.data[0].sale_price_1,
                sale_price_2: result.data[0].sale_price_2,
                wh_code: result.data[0].wh_code,
                discount_word_sub: "0",
                discount_word: "0",
                discount_amount_sub: 0,
                discount_amount: 0,
                item_amount: result.data[0].sale_price_1 * 1,
                amount: result.data[0].sale_price_1 * 1,
                item_description: "",
                packing_rate_1: parseInt(result.data[0].rate_1),
                is_cancel: 0
              };
              this.product.push(datashow);
              //close modal
              this.showDialogproduct = false;
              alertify.success("เพิ่มข้อมูลสินค้า " + result.data[0].item_name);
            } else if ((this.billtype == 1 && result.data[0].qty >= 1)||this.ordertype=='RO') {
              var datashow = {
                item_id: result.data[0].id,
                item_code: result.data[0].item_code,
                bar_code: result.data[0].bar_code,
                item_name: result.data[0].item_name,
                unit_code: result.data[0].unit_code,
                qty: 1,
                price: result.data[0].sale_price_2,
                sale_price_1: result.data[0].sale_price_1,
                wh_code: result.data[0].wh_code,
                discount_word_sub: "0",
                discount_word: "0",
                discount_amount_sub: 0,
                discount_amount: 0,
                item_amount: result.data[0].sale_price_2 * 1,
                amount: result.data[0].sale_price_2 * 1,
                item_description: "",
                packing_rate_1: parseInt(result.data[0].rate_1),
                is_cancel: 0
              };
              this.product.push(datashow);
              //close modal
              this.showDialogproduct = false;
              alertify.success("เพิ่มข้อมูลสินค้า " + result.data[0].item_name);
            }
            else if (result.data[0].qty < 1) {
              alertify.error("สินค้า " + result.data[0].item_name + " ของในคลังหมด");
            }
          } else {
            this.dataproductDialog = result.data;
            this.showDialogproduct = true;
          }
          console.log(this.dataproductDialog);
          console.log("billtype : " + this.billtype);
          this.$refs.addproduct.$el.focus();
        },
        error => {
          console.log(JSON.stringify(error));
          alertify.error("ข้อมูล สินค้าเกิดข้อผิดพลาด");
        }
      );
    },
    selectwarehousecode(val) {
      console.log(JSON.stringify(this.listFilter[val.id].unit_code));
      this.listFilter[val.id].wh_code = val.wh_code;
      this.listFilter[val.id].qty = val.qty;
      //  this.product[val.id].shelf_code = val.shelf_code
      this.showWHcode = false;
    },
    callwhcode(val, index) {
      var items = {
        id: 0,
        Stk_unit_code: "",
        qty: 0,
        shelf_code: "",
        wh_code: ""
      };
      let payload = {
        item_code: val.item_code
      };
      var data = new Array();
      data = [];
      this.isLoading = true;
      // console.log(payload)
      api.searchunitcode(
        payload,
        result => {
          console.log(result.data[0].stk_location);
          result.data[0].stk_location.forEach(item => {
            item.id = index;
            data.push(item);
          });
          this.edit_wh = data;
          this.isLoading = false;
          console.log(JSON.stringify(this.edit_wh));
          this.showWHcode = true;
        },
        error => {
          console.log(JSON.stringify(error));
          alertify.error("Data ข้อมูล Unit code ผิดพลาด");
        }
      );
    },
    addproduct() {
      console.log(this.keywordproduct);
      // alert(this.billtype)
      // alert('d')
      if (this.billtype === "" && this.billtype !== 0 && this.billtype !== 1) {
        if (this.attention == "wobble-hor-bottom") {
          this.attention = "wobble-hor-bottom2";
        } else {
          this.attention = "wobble-hor-bottom";
        }
        return;
      }
      if (!this.keywordproduct) {
        alertify.error("กรุณากรอกชื่อสินค้าหรือรหัสสินค้าก่อน");
        return;
      }
      console.log(this.billtype);
      var itemtable = new Array();
      this.dataproductDialog = [];
      var str = this.keywordproduct.split(" ");
      console.log(str.length);
      let payload = {
        keyword: str[0]
      };
      // let payload = {
      //   keyword: this.keywordproduct
      // };
      var str = payload.keyword.split(" ");
      this.isLoading = true;
      console.log(str.length);
      if (str.length > 1) {
        str.forEach(item => {
          payload.keyword = item;
          api.searchbykeyword(
            payload,
            result => {
              this.isLoading = false;
              console.log(result.data);
              console.log(result.data.length);
              itemtable.push(result.data[0]);
              this.dataproductDialog = itemtable;
              this.showDialogproduct = true;
              console.log(this.dataproductDialog);
              console.log("billtype : " + this.billtype);
              this.$refs.addproduct.$el.focus();
            },
            error => {
              console.log(JSON.stringify(error));
              alertify.error("ข้อมูล สินค้าเกิดข้อผิดพลาด");
            }
          );
        });
      } else {
        api.searchbykeyword(
          payload,
          result => {
            this.isLoading = false;
            console.log(result.data);
            console.log(result.data.length);
            var data = new Array();
            console.log(JSON.stringify(result.data));
            result.data[0].stk_location.forEach(item => {
              console.log(JSON.stringify(item));
              data.push(item);
            });
            for (let x = 0; x < result.data.length; x++) {
              result.data[x].stock_qty = result.data[x].stk_location[0].qty;
              result.data[x].wh_code = result.data[x].stk_location[0].wh_code;
            }
            this.dataproductDialog = result.data;
            console.log(this.dataproductDialog);
            if (this.dataproductDialog.length == 1) {
              console.log(result.data.length);
              var s = 0;
              var i = 0;
              this.product.forEach(function(items, a) {
                console.log(items);
                if (
                  items.item_code == result.data[0].item_code &&
                  item.unit_code == result.data[0].unit_code
                ) {
                  alertify.success(
                    "สินค้า " + result.data[0].item_name + "อยู่ในรายการแล้ว"
                  );
                  i += 1;
                  return;
                }
              });
              console.log(result.data[0].item_code);
              if (i > 0) {
                return;
              }
              if (this.billtype == 0) {
                console.log(result.data[0].id);
                var datashow = {
                  item_id: result.data[0].id,
                  item_code: result.data[0].item_code,
                  bar_code: result.data[0].bar_code,
                  item_name: result.data[0].item_name,
                  unit_code: result.data[0].unit_code,
                  qty: 1,
                  price: result.data[0].sale_price_1,
                  sale_price_1: result.data[0].sale_price_1,
                  sale_price_2: result.data[0].sale_price_2,
                  stock_location: data,
                  wh_code: data[0].wh_code,
                  discount_word_sub: "0",
                  discount_word: "0",
                  discount_amount_sub: 0,
                  discount_amount: 0,
                  item_amount: result.data[0].sale_price_1 * 1,
                  amount: result.data[0].sale_price_1 * 1,
                  item_description: "",
                  packing_rate_1: parseInt(result.data[0].rate_1),
                  is_cancel: 0
                };
                console.log(data);
                this.product.push(datashow);
                //close modal
                this.showDialogproduct = false;
                alertify.success(
                  "เพิ่มข้อมูลสินค้า " + result.data[0].item_name
                );
              } else if (this.billtype == 1) {
                var datashow = {
                  item_id: result.data[0].id,
                  item_code: result.data[0].item_code,
                  bar_code: result.data[0].bar_code,
                  item_name: result.data[0].item_name,
                  unit_code: result.data[0].unit_code,
                  qty: 1,
                  price: result.data[0].sale_price_2,
                  sale_price_1: result.data[0].sale_price_1,
                  stock_location: data,
                  wh_code: data[0].wh_code,
                  discount_word_sub: "0",
                  discount_word: "0",
                  discount_amount_sub: 0,
                  discount_amount: 0,
                  item_amount: result.data[0].sale_price_2 * 1,
                  amount: result.data[0].sale_price_2 * 1,
                  item_description: "",
                  packing_rate_1: parseInt(result.data[0].rate_1),
                  is_cancel: 0
                };
                console.log(datashow.stock_location);
                this.product.push(datashow);
                //close modal
                this.showDialogproduct = false;
                alertify.success(
                  "เพิ่มข้อมูลสินค้า " + result.data[0].item_name
                );
              }
            } else {
              this.showDialogproduct = true;
            }
            console.log(this.dataproductDialog);
            console.log("billtype : " + this.billtype);
            this.$refs.addproduct.$el.focus();
          },
          error => {
            this.isLoading = false;
            console.log(JSON.stringify(error));
            alertify.error("ข้อมูล สินค้าเกิดข้อผิดพลาด");
          }
        );
      }
      console.log(this.dataproductDialog);
    },
    addproductrt() {
      console.log(this.keywordproduct);
      // alert(this.billtype)
      // alert('d')
      if (this.billtype === "" && this.billtype !== 0 && this.billtype !== 1) {
        if (this.attention == "wobble-hor-bottom") {
          this.attention = "wobble-hor-bottom2";
        } else {
          this.attention = "wobble-hor-bottom";
        }
        return;
      }
      if (!this.keywordproduct) {
        return;
      }
      var itemtable = new Array();
      var str = this.keywordproduct.split(" ");
      console.log(str.length);
      let payload = {
        keyword: str[0]
      };
      clearTimeout(this.timeout);
      this.timeout = setTimeout(() => {
        api.searchbykeyword(
          payload,
          result => {
            this.dataproductDialog = result.data;
            console.log("billtype : " + this.billtype);
            this.$refs.addproduct.$el.focus();
          },
          error => {
            console.log(JSON.stringify(error));
            alertify.error("ข้อมูล สินค้าเกิดข้อผิดพลาด");
          }
        );
      }, 500);
      console.log(itemtable);
    },
    showdetail(val) {
      this.isLoading = false;
      var i = 0;
      this.product.forEach(function(items, a) {
        console.log(items);
        if (
          items.item_code == val.item_code &&
          items.unit_code == val.unit_code
        ) {
          alertify.success("สินค้า " + val.item_name + "อยู่ในรายการแล้ว");
          i += 1;
          return;
        }
      });
      console.log(val);
      if (i > 0) {
        return;
      }
      var data = new Array();
      console.log(JSON.stringify(val));
      console.log(JSON.stringify(this.ordertype))
      if ((this.billtype == 0 && val.qty >= 1)||this.ordertype=='RO') {
        var datashow = {
          item_id: val.id,
          item_code: val.item_code,
          bar_code: val.bar_code,
          item_name: val.item_name,
          unit_code: val.unit_code,
          qty: 1,
          price: val.sale_price_1,
          sale_price_1: val.sale_price_1,
          sale_price_2: val.sale_price_2,
          stk_qty: val.qty,
          wh_code: val.wh_code,
          discount_word_sub: "0",
          discount_word: "0",
          discount_amount_sub: 0,
          discount_amount: 0,
          item_amount: val.sale_price_1 * 1,
          amount: val.sale_price_1 * 1,
          item_description: "",
          packing_rate_1: parseInt(val.rate_1),
          is_cancel: 0
        };
        console.log(datashow);
        this.product.push(datashow);
        //close modal
        this.showDialogproduct = false;
        alertify.success("เพิ่มข้อมูลสินค้า " + val.item_name);
      } else if ((this.billtype == 1 && val.qty >= 1)||this.ordertype=='RO') {
        var datashow = {
          item_id: val.id,
          item_code: val.item_code,
          bar_code: val.bar_code,
          item_name: val.item_name,
          unit_code: val.unit_code,
          qty: 1,
          stk_qty: val.qty,
          price: val.sale_price_2,
          sale_price_1: val.sale_price_1,
          sale_price_2: val.sale_price_2,
          wh_code: val.wh_code,
          discount_word_sub: "0",
          discount_word: "0",
          discount_amount_sub: 0,
          discount_amount: 0,
          amount: val.sale_price_2 * 1,
          item_amount: val.sale_price_2 * 1,
          item_description: "",
          packing_rate_1: parseInt(val.rate_1),
          is_cancel: 0
        };
        this.product.push(datashow);
        //close modal
        this.showDialogproduct = false;
        alertify.success("เพิ่มข้อมูลสินค้า " + val.item_name);
      } else if (val.qty < 1) {
        alertify.error("สินค้า " + val.item_name + " ของในคลังหมด");
      }
      this.keywordproduct = "";
      //console.log(datashow)
    }
  },
  mounted() {}
};
</script>